/*This is to place the Create Rental Title correctly*/
#titleStyle {
    margin: auto;
    width: 50%;
    padding-top: 40px;
    font-size: 26px;
    text-align: center;
    color: var(--dark-color);
}

/*This allows us to change the shadow created in the input box*/
.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 .40rem rgba(255, 165, 0, 0.25);
}

/*This modifies the create account button on the bottom*/
#submitButtonStyle {
    background-color: var(--main-color);
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

/*This modifies the return to list button*/
.returnButtonStyle {
    background-color: var(--main-color--light);
    text-align: center;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}

/* this allows me to set a general asthetic to text in the system*/
#textStyle{
    font-size: 20px;
    color: var(--dark-color);
    font-family: Arial, sans-serif;
}

/*This centered our input boxes*/
#centered-input {
    text-align: center;
    display: flex;
    align-items: center;
}

 /*This allowed for us to detail our container*/
.container-sm {
    background-color: var(--light-color);
    padding: 10px 10px;
    border-radius: 5px;
    margin: auto;
}
