
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>You are not authorized to access this page!</h1>
<div class="row">
    <img src="~/Content/images/restricted.png" />
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>Please login as the Rental Manager to create, edit, or delete rentals.</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        @Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "btn rental-access-denied-login" })
    </div>
</div>