@model TheatreCMS3.Areas.Rent.Models.Rental

@{
    ViewBag.Title = "Create";
}

<h2>Create Rental</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div id="RentalForm" class="form-horizontal container pr-0 pt-1">   
        <form>
            <div class="row justify-content-start col-12">
                <label for="exampleInputPassword1">Name</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter your Name">
            </div>
            <div class="row justify-content-start col-12">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email">
            </div>
            <div class="row justify-content-start col-12">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your password">
            </div>
            <div class="row justify-content-center col-12">
                <div class="pr-1">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-dark" })
                </div>
                <div class="form-group">
                    <input type="submit" value="Create Account" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
