
<footer class="container footer-all">
  <div class="float-left footer-content">
    <div class="footer-links">
      <a class="float-left" href="#">About</a>
      <a class="float-right" href="#">Contact</a>
    </div>
      <p class="footer-address">2110 SE 10TH AVE<br />
      Portland OR 97214<br />
      (503) 482-8655</p>
  </div>
  <div class="float-right footer-content">
    <span>
      <i class="fab fa-facebook-f fa-2x"></i> &nbsp;
      <i class="fab fa-youtube fa-2x"></i> &nbsp;
      <i class="fab fa-twitter fa-2x"></i>
    </span>
    <p class="footer-copyright">
      <i class="far fa-copyright"></i>
      @DateTime.Now.Year
    </p>
  </div>
</footer>
