
<link rel="stylesheet" href="~/Content/Areas/Prod.css" type="text/css" />
<div class="photographer-login">
    <input type="submit" value="Login as Production Photographer" class="btn prod-btn" />
</div>
