@model TheatreCMS3.Areas.Blog.Models.BlogAuthor

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="row">
        <div class="row-colsmd-6">
        </div>

        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            @*Card  NAV*@
            <div class="card-body text-white cms-bg-main">
                <ul class="nav nav-tabs" role="tablist" id="blogTab">

                    <li class="nav-item active" role="presentation">
                        <a class="nav-link btn cms-bg-secondary" data-toggle="tab" href="#details" aria-controls="details" role="tab">Author Details</a>
                    </li>

                    <li class="nav-item" role="presentation">
                        <a class="nav-link btn cms-bg-secondary" data-toggle="tab" href="#posts" aria-controls="posts" role="tab">Blog Posts</a>
                    </li>

                    <li class="nav-item" role="presentation">
                        <a class="nav-link btn cms-bg-secondary" data-toggle="tab" href="#contact" aria-controls="contact" role="tab">Contact</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link btn cms-bg-secondary" href="https://www.twitter.com" target="_blank">Twitter / X</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-1">
        </div>

    </div>


    <div class="row card-body">
        <div class="col-md-1">
        </div>
        <div class="col-md-4 cms-bg-main">

            @*Placeholder image section*@


            <p>
                <img src="http://placekitten.com/g/200/200" alt="loaf">
            </p>
        </div>

        <div class="tab-content col-md-6 cms-bg-main">

            <div role="tabpanel" class="tab-pane active" id="details">
                @*Begining of foreach loop BlogAuthors in db*@

                @{
                    Html.RenderPartial("_BlogAuthor");
                }

            </div>

            @*end of foreach BlogAuthros*@

            <div role="tabpanel" class="tab-pane" id="posts">
                <p>- razor link to BlogPosts from model.Id once linked</p>
            </div>

            <div role="tabpanel" class="tab-pane" id="contact">
                <p> - razor link to BlogAuthor contact from model.Id once linked </p>
            </div>
        </div>

        <div class="col-md-1">
        </div>

    </div>

    <div class="row">
        <div class="col-md-1">
        </div>

        <div class="card-footer col-md-10 cms-bg-main">


        </div>

        <div class="col-md-1">
        </div>

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}