@model IEnumerable<TheatreCMS3.Areas.Blog.Models.BlogAuthor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="mt-5">
    <a href="~/Blog/BlogAuthors/Create" class="btn btn-success">Create New</a>
</div> 
    

<div>
    @{Html.RenderPartial("_BlogAuthor");}
</div>


