@model IEnumerable<TheatreCMS3.Areas.Blog.Models.BlogAuthor>
@Styles.Render("~/Content/Areas/Blog.css")
@section scripts
{
  <script type="text\javascript" src="~/Scripts/Areas/Blog.js"></script>
}
@{
  ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
  @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
  @Html.Partial("_BlogAuthor", item)
}