@model IEnumerable<TheatreCMS3.Areas.Blog.Models.BlogAuthor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="blog_author-details-delete--title">Index: BlogAuthor</h2>


@Html.Partial("_BlogAuthor")
       

<div class="btn btn-primary text-white font-weight-bold" onclick="location.href='@Url.Action("Create", "BlogAuthors")'">
    Create New
</div>
