@model IEnumerable<TheatreCMS3.Areas.Blog.Models.BlogAuthor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container">
    @foreach (var item in Model)
    {
        @Html.Partial("_BlogAuthor", item)

    }
    <script>
        $(document).ready(function () {
            $("#btnLatestPosts").on("click", function () {
                console.log("Clicked");
                $("#authorDetails").hide();
                $("#latestPosts").show();
                $("#btnAuthorDetails").removeClass("active");
                $("#btnLatestPosts").addClass("active");
            });

            $("#btnAuthorDetails").on("click", function () {
                console.log("Clicked");
                $("#latestPosts").hide();
                $("#authorDetails").show();
                $("#btnLatestPosts").removeClass("active");
                $("#btnAuthorDetails").addClass("active");
            });
        });
    </script>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}