@model IEnumerable<TheatreCMS3.Areas.Blog.Models.BlogAuthor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@Html.Partial("_BlogAuthor")

<!-- Modal -->
<div class="modal fade" id="blogAuthor-index--Modal" tabindex="-1" role="dialog" aria-labelledby="blogAuthor-index--ModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <!-- this input is used to store the triggering button id -->
        <input type="hidden" id="blogAuthor-index--id" />
        <div class="modal-content blogAuthor-index--modalContent">
            <div class="modal-header">
                <h5 class="modal-title" id="blogAuthor-index--ModalWarning">WARNING</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this Blog Author?
            </div>
            <div class="modal-footer">                      
                <button type="button" class="btn btn-danger" onclick="setDateLeft()" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- javascript -->
<script>
    // triggers on modal show
    $('#blogAuthor-index--Modal').on('show.bs.modal', function (event) {
        var id = $(event.relatedTarget).data('id');  //takes the data-id of the triggering button
        $('#blogAuthor-index--id').val(id);      //this value is then set to the hidden input in modal
    });

    function setDateLeft() {
        var id = $('#blogAuthor-index--id').val(); //gets the hidden input
        $.ajax({
            url: '@Url.Action("setDateLeft", "BlogAuthors")',
            type: 'POST',
            data: { id: id },     //sends id as string to controller
            // runs when function succeeds
            success: function (data) {
                var blogAuthor = $('.blogAuthor-details--authorContainer[data-id="' + id + '"]');

                //animations + removal
                blogAuthor.fadeOut(750, function () {   //time is in milliseconds
                    blogAuthor.remove();
                });
            }
        });
    };

</script>