
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
  <div class="form-group">
    <input type="text" class="form-control" id="commentMessage" placeholder="Add a public comment...">
  </div>

  <div class="form-group">
    <button type="button" class="btn cms-bg-secondary cms-text-light float-right newCommentBtn" data-CommentPath="@Url.Action("Create", "Comments")">Comment</button>
    <button type="button" class="btn cms-bg-dark cms-bg-dark cms-text-light float-right cancelCommentBtn">Cancel</button>
  </div>
</div>
}

