
@model IEnumerable<TheatreCMS3.Areas.Blog.Models.Comment>

@{
  ViewBag.Title = "Comments";
}

<h2>Comments</h2>


<p>
  @Html.ActionLink("Create New", "Create")
</p>

@{
  Html.RenderPartial("_Comments");
}

