
@model IEnumerable<TheatreCMS3.Areas.Blog.Models.Comment>

@{
  ViewBag.Title = "Comments";
}

<h2>Comments</h2>

<span class="badge badge-success successBadge">The comment was deleted successfully  <i class="fas fa-check"></i></span>

<p>
  @Html.ActionLink("Create New", "Create")
</p>
<br />
@{
  Html.RenderPartial("_Comments");
}

