@model IEnumerable<TheatreCMS3.Areas.Blog.Models.Comment>
@Styles.Render("~/Content/Areas/Blog.css")

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<body>
    @Html.Partial("~/Areas/Blog/Views/Comments/_Comments.cshtml", Model)
</body>
