@model IEnumerable<TheatreCMS3.Areas.Blog.Models.Comment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@{
    Func<int, int, double> LikeRatio = (likes, dislikes) =>
    {
        int totalUserVotes = likes + dislikes;

        if (totalUserVotes == 0)
        {
            return 0;
        }
        else
        {
            double ratioOfVotes = (double)likes / totalUserVotes * 100;
            return Math.Round(ratioOfVotes, 2);
        }
    };
}

@Html.Partial("_Comments", Model, new ViewDataDictionary { { "LikeRatio", LikeRatio } })


@*<p>
           @Html.ActionLink("Create New", "Create")
    </p>

       @Html.Partial("~/Areas/Blog/Views/Comments/_Comments.cshtml", Model*@