
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>You Are Not Authorized To Access That Page</h2>

<div class="text-center">
    <img class="img-fluid" src="http://derekburgess.com/images/bg/7.gif" alt="Jurassic Park Gif" />
</div>

<div class="text-center">
    @Html.ActionLink(linkText: "Log In", actionName: "Login", controllerName: "../Account")
</div>