@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalHistory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://kit.fontawesome.com/634caf7d3f.js" crossorigin="anonymous"></script>

@{ var sortOptions = new List<string> { "No Extra Sorting...", "Damaged Rentals", "Undamaged Rentals", "Rentals A - Z", "Rentals Z - A" };}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="RentalHistory-Index--table-container">
    <div class="RentalHistory-Index--thead d-flex align-items-center">
        <span class="flex-fill">Most Recent Rental Histories</span>
        <label for="rh-sort-options" class="mr-2 pt-2">Sorted By:</label>
        <select name="rh-sort-options" id="rh-sort-options">
            @foreach (string s in sortOptions)
            {
                <option value="@s">@s</option>
            }
        </select>
    </div>

    @* render table as partial and pass Model so we can refresh using ajax *@
    @Html.Partial("_table", Model)
</div>