@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalHistory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container">
   
    <div class="bg-white pt-1 table-container">

        <p class="text-dark ml-3">Most Recent Rental Histories</p>


       
        @Html.Partial("PartialView", Model)
    </div>
    </div>