@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalHistory>
@using TheatreCMS3.Helpers;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2 class="text-center">Index</h2>
<div class="row justify-content-sm-center">
    <div class="col-md-9">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    </div>
</div>

<div class="row justify-content-sm-center">
    <div class="col-md-9">
        <div class="rent-list-container">
            <div class="d-flex">
                <div class="p-2 flex-grow-1">
                    <h5 class="p-1">Most recent Rental Histories</h5>
                </div>
                <div class="p-2">
                    @using (Html.BeginForm("ShowRentalHistoryList", "RentalHistories",  FormMethod.Post, new { @class = "form-inline", role = "form" }))
                    {
                        <div class="form-group">
                            <label class="mr-sm-2" for="sortSelect">Sorted by:  </label>
                            <select class="custom-select mr-sm-2" id="sortSelect">
                                <option selected>No Extra Sorting...</option>
                                <option value="damaged">Damaged Rentals</option>
                                <option value="undamaged">Undamaged Rentals</option>
                                <option value="asc">Rentals A - Z</option>
                                <option value="desc">Rentals Z - A</option>
                            </select>
                        </div>
                    }

                </div>
            </div>
            @foreach (var item in Model)
            {
                var isDamage = "";
            <div id="rentHistoryListArea">
                
            </div>
            }
        </div>
    </div>
</div>

