
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .centered-content {
        text-align: center;
    }

    .access-denied-header {
        font-size: 24px;
        font-weight: bold;
    }

    .login-link {
        display: block;
        margin-top: 20px;
    }

    img {
        max-width: 100%;
        height: auto;
        padding: 10px;
    }
</style>

<div class="centered-content">

    <h2>Access Denied</h2>

    <p>You do not have permission to access this page.</p>

    <img src="~/Content/images/restricted.png" alt="Restricted Access" />


    <a href="@Url.Action("Login", "Account", new { area = "" })" class="login-link">Log In</a>
</div>
