@model TheatreCMS3.Areas.Prod.Models.CalendarEvent

@{
  ViewBag.Title = "Delete";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="CalendarEvents-Create--form">
  <br />
  <div class="form-group">
    <h2 class="cms-text-main-light col-md-10" style="padding-left: 0;">Delete Event</h2>
    <p class="col-md-10" style="padding-left: 0;">Are you sure you want to delete this event? This cannot be undone</p>
    <table class="cms-text-secondary col-md-10">
      <tbody>
        @foreach (var field in new (string, MvcHtmlString)[] {
        ("Event Name", Html.DisplayFor(m => m.Title)),
        ("Details", Html.DisplayFor(m => m.Description)),
        ("Start Date", Html.DisplayFor(m => m.StartDate)),
        ("End Date", Html.DisplayFor(m => m.EndTime)),
        ("Event Lasts All Day", Html.DisplayFor(m => m.AllDay)),
        ("Start Time", Html.DisplayFor(m => m.StartTime)),
        ("End Time", Html.DisplayFor(m => m.EndTime)),
        ("Available Tickets", Html.DisplayFor(m => m.TicketsAvailable)),
        ("Is Production", Html.DisplayFor(m => m.IsProduction))
      }) {
          <tr>
            <td><strong>@field.Item1</strong></td>
            <td>@field.Item2</td>
          </tr>
        }
      </tbody>
    </table>
    <hr />
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = " col-md-10", style = "padding: 0;" })) {
      @Html.AntiForgeryToken()
      <input type="submit" value="Confirm Delete" class="dropdown-item text-danger" />
      <a href="@Url.Action("Index")" class="dropdown-item text-primary">Back to List</a>
    }
  </div>
</div>
