@model TheatreCMS3.Areas.Blog.Models.BlogPhoto

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<h2>Delete</h2>

<div class="deleteForm-container">
    <h4 class="blogHeader-white">Delete this Blog Photo?</h4>
    <hr />
    <dl>
        <dd>
            <span class="image-title">@Html.DisplayFor(model => model.Title)</span>
        </dd>
        <dd>
            <div class="deleteForm-container">
                <!-- This is where converted byte array (image) will display -->
                <img src="data:image;base64,@System.Convert.ToBase64String(Model.Photo)" class="image-large" />

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-actions no-color">
                        @Html.ActionLink("Edit", "Edit", null, new { id = Model.BlogPhotoId }, new { @class = "btn btn-edit edit-icon" })
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-back back-icon" })

                        <input type="submit" value="Delete" class="btn btn-delete-wide" />
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                }
            </div>

        </dd>
    </dl>
</div>
