/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root { /* Color palette for css */
/* --main-color: #BD1A11;  Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*}*/

.BlogAuthors-Create--ellie-form {
    background-color: var(--main-color--light);
    width: 700px;
    border-radius: 25px;
    margin: 0 auto;
}

.BlogAuthors-Create--ellie-container {
    display: flex;
    flex-direction: row; 
}


.BlogAuthors-Edit--ellie-form {
    background-color: var(--main-color--light);
    width: 700px;
    border-radius: 25px;
    margin: 0 auto;
}

.BlogAuthors-Edit--ellie-container {
    display: flex;
    flex-direction: row;
}





