/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root { /* Color palette for css */
/* --main-color: #BD1A11;  Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*}*/

/*BlogPosts Edit and Create Page Styling*/

.BlogPosts-Create--submitBtn {
    min-width: 110px;
    border-radius: 12px;
    background-color: var(--secondary-color);
    transition: transform .5s;
    margin: 0;
    position: absolute;
    top: 0%;
    left: 60%;
    -ms-transform: translate(-50% -50%);
    transform: translate(-50% -50%);
}

.BlogPosts-Create--submitBtn:hover {
    transform: scale(0.95);
}

.BlogPosts-Create--backtolistBtn {
    min-width: 110px;
    border-radius: 12px;
    background-color: var(--main-color--light);
    transition: transform .5s;
    margin: 0;
    position: absolute;
    top: 0%;
    left: 40%;
    -ms-transform: translate(-50% -50%);
    transform: translate(-50% -50%);
}

.BlogPosts-Create--backtolistBtn a {
    text-decoration: none;
    color: var(--light-color);
    text-align: center;
}

.BlogPosts-Create--backtolistBtn:hover {
    transform: scale(0.95);
}

.BlogPosts-Create--inputs:focus {
    border: 4px solid var(--main-color--light);
    outline: none;
    box-shadow: none;
    background-color: antiquewhite;
}

.BlogPosts-Create--inputs {
    margin-right: auto;
    margin-left: auto;
}


.BlogPosts-Create--FormContainer {

    padding-bottom: 50px ;
    background-color: var(--secondary-color--dark); 
}

.BlogPosts-Create--btnContainer {
    display: flex;
    justify-content: space-around;
}

/*End BlogPosts Edit and Create Page Styling*/

/*BlogPosts Index Page Styling*/



/*End BlogPosts Index Page Styling*/



