/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root { /* Color palette for css */
/* --main-color: #BD1A11;  Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*}*/

/* Start comment styling */
.blog-comment-container {
    color: var(--light-color);
    background-color: var(--dark-color);
    border: 3px solid var(--main-color);
    border-radius: 5px;
    min-width: 500px;
    max-width: 80vw;
    height: fit-content;
    width: fit-content;
    margin: 10px;
    padding-right: 10px;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 2px;
}

.blog-comment-header {
    top: 0px;
    left: 0px;
    width: fit-content;
}

.blog-comment-time-elapsed {
    position: relative;
    top: 0px;
    right: 0px;
    width: fit-content;
    color: var(--secondary-color--dark);
    font-size: 10px;
    text-align: right;
}

.blog-comment-body {
}
.blog-comment-footer button {
    padding: 3px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    color: var(--main-color);
    background-color: var(--dark-color);
    cursor: pointer;
    font-size: 12px;
}

    .blog-comment-footer button:hover {
        color: var(--dark-color);
        background-color: var(--main-color--light);
    }

.blog-comment-footer i:hover {
    cursor: pointer;
}
/* End comment styling */


/* create form styling*/
.blog-create--header {
    text-align: center;
    padding: 2vw;
    font-family: Broadway;
    font-weight: bold;
}

.blog-create--form {
    background-color: var(--main-color--light);
    border-radius: 0.5rem;
    padding: 2vw;
}

.blog-create--textfield {
    width: 100%;
}

textarea#Bio {
    min-width: 100px;
    width: 100%;
    border-radius: 3px;
    border: none;
    height: 20vw;
}

.blog-create--buttons {
    display: inline-grid;
    padding-left: 1vw;
    padding-top: 1vw;
}

textarea#Bio {
    min-width: 100px;
    width: 100%;
    border-radius: 3px;
    border: none;
    height: 20vw;
}

.blog-create--buttons {
    display: inline-grid;
    padding-left: 1vw;
    padding-top: 1vw;
}
/* BlogPost Create CSS*/
.BlogPost-create--formcontainer {
    width: 50%;
    margin: 0 auto;
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
    box-shadow: 1px 1px 3px var(--secondary-color), -1px -1px 0px var(--light-color);
}

.BlogPost-create--formgroup {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}


.BlogPost-create--formbtn {
    background-color: var(--main-color);
    border-color: var(--light-color);
    color: var(--light-color);
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    width: 20%;
}

.BlogPost-create--btncontainer {
    padding-top: 20px;
}

.BlogPost-create--formbtn:hover {
    cursor: pointer;
    background-color: var(--main-color--light);
    transition: 0.75s ease-in;
}

.BlogPost-create--backbtn {
    background-color: black;
    border-color: white;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    width: 20%;
    float: right;
    color: white;
}

    .BlogPost-create--backbtn:hover {
        cursor: pointer;
        background-color: var(--main-color--light);
        transition: 0.75s ease-in;
    }

#Content {
    width: 100%;
    display: block;
    background-color: lightgray;
}

#Title {
    width: 100%;
    display: block;
    background-color: lightgray;
}

#Content:focus {
    outline: none;
    border-color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    background-color: white;
}

#Title:focus {
    outline: none;
    border-color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    background-color: white;
}

#Posted:focus {
    outline: none;
    border-color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    background-color: white;
}

#Posted {
    width: 100%;
    display: block;
    background-color: lightgray;
}

#Author {
    width: 100%;
    display: block;
    background-color: lightgray;
    border: 2px solid #dadada;
    border-radius: 7px;
}

    #Author:focus {
        outline: none;
        border-color: var(--main-color);
        box-shadow: 0 0 10px var(--main-color);
        background-color: white;
    }

.Blogpost-create--Title {
    text-align: center;
    text-decoration: underline;
}
/* BlogPost Edit CSS*/
.BlogPost-Edit--formcontainer {
    width: 50%;
    margin: 0 auto;
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
    box-shadow: 1px 1px 3px var(--secondary-color), -1px -1px 0px var(--light-color);
}

.BlogPost-Edit--formgroup {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}


.BlogPost-Edit--formbtn {
    background-color: var(--main-color);
    border-color: var(--light-color);
    color: var(--light-color);
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    width: 20%;
}

.BlogPost-Edit--btncontainer {
    padding-top: 20px;
}

.BlogPost-Edit--formbtn:hover {
    cursor: pointer;
    background-color: var(--main-color--light);
    transition: 0.75s ease-in;
}

.BlogPost-Edit--backbtn {
    background-color: black;
    border-color: white;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    width: 20%;
    float: right;
    color: white;
}

.BlogPost-Edit--backbtn:hover {
     cursor: pointer;
     background-color: var(--main-color--light);
     transition: 0.75s ease-in;
}

#Content {
    width: 100%;
    display: block;
    background-color: lightgray;
}

#Title {
    width: 100%;
    display: block;
    background-color: lightgray;
}

#Content:focus {
    outline: none;
    border-color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    background-color: white;
}

#Title:focus {
    outline: none;
    border-color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    background-color: white;
}

#Posted:focus {
    outline: none;
    border-color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    background-color: white;
}

#Posted {
    width: 100%;
    display: block;
    background-color: lightgray;
}

#Author {
    width: 100%;
    display: block;
    background-color: lightgray;
    border: 2px solid #dadada;
    border-radius: 7px;
}

#Author:focus {
     outline: none;
     border-color: var(--main-color);
     box-shadow: 0 0 10px var(--main-color);
     background-color: white;
    }

.Blogpost-Edit--Title {
    text-align: center;
    text-decoration: underline;
}
