/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root { /* Color palette for css */
/* --main-color: #BD1A11;  Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*}*/

/* Start _Comments.cshtml section */
comment-index--comment_item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.comment-index--comment_item .comment-index--user_avatar {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.comment-index--comment_item .comment-index--comment_content {
    flex-grow: 1;
}

.comment-index--like_count {
    color: var(--main-color--light);
}

.comment-index--dislike_count {
    color: var(--main-color);
}

.comment-index--comment_item {
    background-color: var(--light-color);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: black;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px var(--main-color);
}

/*.comment-index--bg-custom {
    background-image: linear-gradient(to right, var(--secondary-color) var(--like-ratio-value)%, var(--secondary-color) var(--like-ratio-value)%, var(--main-color) var(--like-ratio-value)%, var(--main-color) var(--like-ratio-value)%, #28A745 var(--like-ratio-value)%);
    color: var(--dark-color);
}*/

/*.comment-index--bg-custom {
    background-color: var(--secondary-color);
    color: var(--dark-color);
    font-weight: 600;
    height: 35px;
}*/

/*.comment-index--custom-progress-bar {
    height: 30px;
    width: 50%;
}

.comment-index--custom-progress-bar .progress-text {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.comment-index--custom-progress-bar .progress {
    height: 100%;
}

.comment-index--custom-progress-bar .progress-bar {
    transition: width 0.3s ease;
}*/
/* End _Comments.cshtml section */
/* End _Comments.cshtml section */

/*BLOGPOST EDIT PAGE*/

.blog-edit-container {
    height: 80%;
    background-color: var(--secondary-color);
    color: var(--light-color);
    text-align: left;
    border-radius: 20px 20px 20px 20px;
    font-size: x-large;
    border: 10px solid var(--main-color);
    padding-left: 12%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.blog-edit-h1 {
    font-size: xx-large;
    text-align: center;
    padding: 5%;
}


.blog-edit-savebtn {
    width: 20%;
    height: 15%;
    padding: 1%;
    border-radius: 7px;
    cursor: pointer;
    float: inline-end;
    margin: 10px;
    background-color: var(--secondary-color);
    color: var(--light-color);
    border: 3px solid var(--main-color);
}

/*BLOGPOST CREATE PAGE*/

.blog-create-container {
    height: 80%;
    background-color: var(--secondary-color--dark);
    color: var(--light-color);
    text-align: left;
    border-radius: 20px 20px 20px 20px;
    font-size: x-large;
    border: 10px solid var(--main-color--light);
    padding-left: 12%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.blog-create-h1 {
    font-size: xx-large;
    text-align: center;
    padding: 5%;
}


.blog-create-savebtn {
    width: 20%;
    height: 15%;
    padding: 1%;
    border-radius: 7px;
    cursor: pointer;
    float: inline-end;
    margin: 10px;
    background-color: var(--secondary-color--dark);
    color: var(--light-color);
    border: 3px solid var(--main-color--light);
}
