/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root { /* Color palette for css */
/* --main-color: #BD1A11;  Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*}*/


/* -CREATE-- STYLES ARE USED IN EDIT AS WELL */
.blogAuthor-create--form {
    margin: 20px auto;
    background-color: var(--main-color);
    border-radius: 20px;
    padding-bottom: 1px;
    width: 66%;
}

/* LABEL STYLINGS (i.e: the word 'Name') */
.blogAuthor-create--label {
    margin-bottom: 0;
    margin-left: 15px;
}

.blogAuthor-create--name {
    margin-top: 1rem;
}

.blogAuthor-create--joinlabel {
    margin-left: 12%;
}

.blogAuthor-create--leftlabel {
    margin-left: 31.75%;
}

/* TEXTBOX STYLINGS (i.e the input field for 'Name') */
.blogAuthor-create--biobox {
     
    min-width: 100%;
    text-wrap: normal;
    border-radius: 5px;
}

    /* this styles both Date Joined & Date Left */
.blogAuthor-create--datepicker {
    width: 33%;
    height: calc(1.5em + 0.75rem + 2px);
    border-radius: 5px;
}

.blogAuthor-create--datepicker_joined {
    margin-right: 5%;
}

.blogAuthor-create--datepicker_left {
    margin-left: 5%;
}

/* BlogAuthor DETAILS STYLING*/

.blogAuthor-details--nav {
    padding-top: 8px;
    width: 26.5%;
    margin: 0 auto;

}

.blogAuthor-details--nav > li {
    margin: 0 5px;
}
/* this sets the color of the active panel */
.blogAuthor-details--nav .nav-link.active, .blogAuthor-details--nav .show > .nav-link {
    background-color: rgb(25, 135, 84);       /* bootstrap success green */
}

/* this is the inactive coloring */
.blogAuthor-details--nav .nav-link:not(.active) {
    background-color: rgb(33, 37, 41); /* bootstrap dark */
    color: var(--light-color)
}

.blogAuthor-details--row {
    display: flex;
    color: black;
}

.blogAuthor-details--txt_column {
    flex: auto;
    margin-top: 1%;
    margin-left: 3%;
}

.blogAuthor-details--img {
    margin: 5%;
    height: 430px;
    width: 310px;
}

.blogAuthor-details--biotxt {
    height: 298px;
    margin-right: 48px;
}

.blogAuthor-details--dates_row {
    display: flex;
}

.blogAuthor-details--left_column {
    margin-left: 30px;
}

.blogAuthor-details--nametag {
    display: inline-block;
}

/* END DETAILS STYLING*/
/* DELETE STYLING*/

.blogAuthor-delete--deletebutton {
   display: inline-block;
}

/* END DELETE STYLING */
/* BLOGAUTHOR INDEX PARTIAL VIEW  /Shared/_BlogAuthor.cshtml */

.blog-shared--buttons {
    margin-top: 24px;
    margin-right: 48px;
    text-align: right;
}

/* END BLOGAUTHOR INDEX PARTIAL VIEW STYLING */

.comment-Index--container {
    background-color: var(--secondary-color);
    border-radius: 10px;
}



@media (min-width: 0) {
    .comment-Index--pa-30 {
        padding: 2.14286rem !important;
    }
}




.comment-Index--shadow {
    box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.15);
}

.comment-Index--textColor {
    color: var(--light-color) !important;
}

.comment-Index--font-size-12 {
    font-size: 0.85714rem !important;
}

.comment-Index--media-comment {
    margin-top: 20px
}

.comment-Index--progress-bar {
    width: 25%;
}

.g-color-primary--hover:hover {
    background-color: var(--secondary-color--dark);
    border-radius: 5px;
}



.comment-Index--likes-dislikes-ratio {
    display: flex;
    
}

.comment-Index--likes-text {
    padding-right: 3px;
}
.comment-Index--divider-text {
    padding-left: 10px;
    padding-right: 10px;
}

.comment-Index--list-inline-item{
    display: inline-block;
    position: relative;
}

.comment-Index--comment-delete-alert {
    border-radius: 45px;
    height: 40px;
    justify-self: center;
    font-size: 0.85714rem !important;
    position: fixed;
    top:100px;
    left: 300px;
    z-index: 999;
}
.comment-Index--comment-delete-alert-text {
    display: inline-block;
    
}

.comment-Index-comment-delete-alert-icons {
    padding: .5em;
    line-height: 2.7;
    -webkit-columns: 150px 2;

}


