/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root { /* Color palette for css */
/* --main-color: #BD1A11;  Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*}*/

/*********** Create/Edit BlogPhoto Styling ***********/
.blogBtn {
    color: #000000;
    font-weight: 700;
}

.blogBtnOther {
    color: #000000;
    font-weight: 700;
}

.blogBtn:hover {
    background-color: var(--secondary-color);
    color: #000000;
}

.blogBtnOther:hover {
    background-color: var(--light-color);
    font-weight: 700;
}

.blogHeader {
    text-align: center;
    color: #000000;
    padding-top: 10px;
}

.blogForm-container {
    background-color: #9d7c39;
    padding: 10px;
}

.blogForm {
    background-color: #fffbfb;
    border-radius: 5px;
}

.blogForm-label {
    font-size: 1.2em;
    text-align: center;
    color: #000000;
    font-weight: 600;
}

.blogForm-input {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 3px;
}

.blogForm-input:focus {
    border: 1px solid #9d7c39;
    outline: 1px solid #9d7c39;
    border-radius: 3px;
    background-color: #fffbfb;
}

.centerBtn {
    margin: 30px 0px 0px 0px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centerFile {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

.blogForm-label:focus {
    border: 1px solid #9d7c39;
    outline: 1px solid #9d7c39;
    border-radius: 3px;
    background-color: #fffbfb;
}

.blogImage {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
    border: 1px solid black;
}

/*********** END Create/Edit BlogPhoto Styling ***********/

/*********** Index BlogPhoto Styling ***********/
.image-overlay {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.blogImage-container:hover .image-overlay {
    opacity: .3;
}

.card-overlay {
    opacity: 0;
    transition: .5s ease;
    backface-visibility: hidden;
}

.cardImage-title {
    color: #fffbfb;
    font-size: 1.5em;
    font-weight: 600;
    text-shadow: 1px 1px 2px black;
    position: absolute;
    top: 0px;
    left: 5px;
}

.blogImage-container:hover .card-overlay {
    opacity: 1;
}

.badge-edit {
    background-color: #000000;
    color: #fffbfb;
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.badge-delete {
    background-color: #BD1A11;
    color: #fffbfb;
    position: absolute;
    left: 50px;
    bottom: 5px;
}

/*********** END Index BlogPhoto Styling ***********/

/*********** Details / Delete BlogPhoto Styling ***********/
.blogHeader-white {
    text-align: center;
    color: #fffbfb;
    padding-top: 10px;
}

.deleteForm-container {
    background-color: #000000;
    text-align: center;
    position: relative;
}

.image-large {
    width: 100%;
    height: auto;
}

.image-title {
    font-size: 2em;
    font-weight: 600;
    color: #fffbfb;
}

.btn-delete {
    background-color: #BD1A11;
    color: #fffbfb;
    margin: 5px auto;
    position: absolute;
    right: 0px;
}

.btn-delete-wide {
    background-color: #BD1A11;
    color: #fffbfb;
    margin: 5px auto;
    position: absolute;
    right: 0px;
    width: 90px;
    padding-left: 30px;
}

.btn-back {
    background-color: #808080;
    color: #fffbfb;
    margin: 5px auto;
    position: absolute;
    left: 80px;
    text-decoration: none;
}

.btn-edit {
    background-color: #808080;
    color: #fffbfb;
    margin: 5px auto;
    position: absolute;
    left: 0px;
    text-decoration: none;
}

.back-icon:before {
    content: "\f0a8";
    font-family: 'FontAwesome';
    padding-right: 5px;
}

.edit-icon:before {
    content: "\f044";
    font-family: 'FontAwesome';
    padding-right: 5px;
}

.delete-icon:before {
    content: "\f2ed ";
    font-family: 'FontAwesome';
    padding-right: 5px;
}

.deleteForm-container i{
    position: absolute;
    color: #fffbfb;
    right: 64.5px;
    bottom: -32.5px;
}

/*********** END Details / Delete BlogPhoto Styling ***********/