/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root { /* Color palette for css */
/* --main-color: #BD1A11;  Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*}*/

/* Start comment styling */
.blog-comment-container {
    color: var(--light-color);
    background-color: var(--dark-color);
    border: 3px solid var(--main-color);
    border-radius: 5px;
    min-width: 500px;
    max-width: 80vw;
    height: fit-content;
    width: fit-content;
    margin: 10px;
    padding-right: 10px;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 2px;
}

.blog-comment-header {
    top: 0px;
    left: 0px;
    width: fit-content;
}

.blog-comment-time-elapsed {
    position: relative;
    top: 0px;
    right: 0px;
    width: fit-content;
    color: var(--secondary-color--dark);
    font-size: 10px;
    text-align: right;
}

.blog-comment-body {
}
.blog-comment-footer button {
    padding: 3px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    color: var(--main-color);
    background-color: var(--dark-color);
    cursor: pointer;
    font-size: 12px;
}

    .blog-comment-footer button:hover {
        color: var(--dark-color);
        background-color: var(--main-color--light);
    }

.blog-comment-footer i:hover {
    cursor: pointer;
}
/* End comment styling */


/* create form styling*/
.blog-create--header {
    text-align: center;
    padding: 2vw;
    font-family: Broadway;
    font-weight: bold;
}

.blog-create--form {
    background-color: var(--main-color--light);
    border-radius: 0.5rem;
    padding: 2vw;
}

.blog-create--textfield {
    width: 100%;
}

textarea#Bio {
    min-width: 100px;
    width: 100%;
    border-radius: 3px;
    border: none;
    height: 20vw;
}

.blog-create--buttons {
    display: inline-grid;
    padding-left: 1vw;
    padding-top: 1vw;
}

textarea#Bio {
    min-width: 100px;
    width: 100%;
    border-radius: 3px;
    border: none;
    height: 20vw;
}

.blog-create--buttons {
    display: inline-grid;
    padding-left: 1vw;
    padding-top: 1vw;
}