/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root { /* Color palette for css */
/* --main-color: #BD1A11;  Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*}*/

/*.blog-create--custom-form {
    background-color: var(--main-color); 
    color: var(--light-color);
    padding: 20px;
    border-radius: 10px;
}

.blog-create--textarea_bio {
    min-width: 100px;
    height: 150px;
}

.blog-create--datetime-input {
    width: 100%;
}

.blog-create-textarea--date {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    border-radius: 25px;
}

.blog-create--submit_buttons {
    float: left;
    background-color: var(--dark-color);
    border: none;
    color: var(--light-color);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    text-align: center;
}

.blog-create--btn_default {
    text-align: center;
}*/

.blog-create--custom-form {
    background-color: var(--main-color);
    color: var(--light-color);
    padding: 20px;
    border-radius: 10px;
}

.blog-create--textarea_bio {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}

.blog-create-textarea {
    display: flex;
    flex-direction: row;
   
}

.blog-create--datetime-input {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 10px;
    flex: 50%;
    width: 100%;
    
}

.blog-create--datetime-cancel {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 10px;
    flex: 50%;
}

.blog-create--submit_button {
    float: left;
    background-color: var(--dark-color);
    border: none;
    display: inline-block;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    flex-direction: row;
    font-size: 20px;
    align-items: center;
    margin-top: 20px;
    color: var(--light-color);
    border-radius: 4px;
    width: 15%;
    margin-right: 4px;
}

.blog-create--back_button {
    background-color: #0e8d1f;
    border: none;
    color: var(--light-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    flex-direction: row;
    font-size: 15px;
    justify-content: space-between;
    align-items: center;
    width: 10%;
    height: 10%;
    border-radius: 4px;
 }

.blog-create--space {
    width: 15px;
    height: auto;
    display: inline-block;
}

