/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root { /* Color palette for css */
/* --main-color: #BD1A11;  Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*}*/
/* Blog.css */

.form {
    margin: 5% 10% 0 10%;
    padding: 5%;
    border-radius: 20px;
    background-color: #F04D44;
    color: black;
    font-weight: bold;
}

h2 {
    margin: 5% 0 0 10%;
}

h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}


.text-area {
    min-width: 100px;
    height: 150px;
}

.form-control {
    border: 1px solid #d1d1d1;
    box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.4);
    transition: .18s ease-out;
}

    .form-control:focus {
        border: 1px solid #B8B6B6;
        box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
    }

.button-container {
    margin-top: 20px; /* Add spacing between the form and buttons if needed */
}

.custom-button {
    /* Add your custom button styles here */
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    background-color: #D6972A;
    border: none;
    color: black;
    font-weight: bold;
    box-shadow: 4px 9px #927C39;
    transition: .25s ease-in-out;
}

.custom-button:hover {
    color: black;
    text-decoration: none;
    box-shadow: 0 4px #927C39;
    top: 2px;
}

.custom-button:active {
    box-shadow: none;
    top: 6px;
}