/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root { /* Color palette for css */
/* --main-color: #BD1A11;  Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*}*/
/* Blog.css */

/*Create Page Styling*/

.general{
    font-weight: bold;
}

.form-horizontal {
    background-color: #BD1A11;
    border-radius: 5px;
    width: 835px;
    margin: auto;
}

.textArea {
    border-radius: 5px;
}

.form-group {
    width: 1000px;
}


.flex-container {
    display: flex;
}

.buttons {
    margin-bottom: 10px;
    padding: 20px;
}

.button {
    color: white;
}

.name {
    margin-top: 15px;
}

.btl {
    color: white;
}
.btl:hover {
    text-decoration: none;
    color: lightgray;
}