/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root { /* Color palette for css */
/* --main-color: #BD1A11;  Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*}*/
/* Blog.css */

/*Create & Edit Page Styling*/

.general{
    font-weight: bold;
}

.form-horizontal {
    background-color: #BD1A11;
    border-radius: 5px;
    width: 835px;
    margin: auto;
}

.textArea {
    border-radius: 5px;
}

.form-group {
    width: 1000px;
}


.flex-container {
    display: flex;
}

.buttons {
    margin-bottom: 10px;
    padding: 20px;
}

.button {
    color: white;
}

.name {
    margin-top: 15px;
}

.btl {
    color: white;
}
.btl:hover {
    text-decoration: none;
    color: lightgray;
}

.joined {
    width: 220px;
    margin: auto;
}

.joinedLabel {
     margin-left: 50px;
}

.left {
    width: 220px;
}

/*Details & Delete Styling*/

.table {
    background-color: white;
}

.detailsContainer {
    background-color: white;
    color: black;
    border-radius: 5px;
}

.button {
    color: white;
}

    .button:hover {
        color: lightgray;
        text-decoration: none;
    }

/*.btn-danger {
    position: absolute;
    right: 395px;
    color: white;
}*/

.btnNav {
    background-color: white;
    text-align: center;
    width: 500px;
    margin: auto;
    padding-top: 5px;
    border-radius: 5px 5px 0px 0px;
    color: black;
}

.authorName {
    font-weight: bold;
    font-size: 35px;
}

.imageContainer {
    width: 250px;
    height: 300px;
    float: left;
}

    .imageContainer img {
        object-fit: contain;
        width: 200px;
        height: 300px;
        object-fit: contain;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

.dl-horizontal {
    flex: 1;
}

.bioSection {
    width: 900px;
    height: 225px;
}

.bioContainer {
   overflow: auto;
}

.detailsLeftLabel {
    margin-left: 50px
}

.detailsLeft {
    margin-left: 5px;
}

.detailsJoined {
    margin-left: 5px;
}

.tabContainer {
    height: 300px;
}

.flex-child {
    flex: 1;
}

    .flex-child:first-child {
        margin-right: 20px;
    }

.authorDetailsTab {
    height: 300px;
}

.indexDelete {
    float: right;
}

.indexEdit {
    margin-left: 975px; 
}