/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root {*/ /* Color palette for css */
/*--main-color: #DB1A11;*/ /* Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*--light-blue: rgb(93, 123, 244)*/ /*Light Blue - Added color on top of original*/
/*}*/

.CastMember-FormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CastMember-Edit--Input input:focus {
    outline: none;
    border: 3px solid var(--secondary-color--dark);
    background-color: var(--light-color);
}

.CastMember-Create--Input input:focus {
    outline: none;
    border: 3px solid var(--main-color);
    background-color: var(--secondary-color);
}

.CastMember-CreateEdit--CreateButton {
    background-color: var(--secondary-color--dark);
}

.CastMember-CreateEdit--CreateButton:hover {
    opacity: 0.8;
}

.CastMember-CreateEdit--BackButton {
    background-color: var(--secondary-color);
}

.CastMember-CreateEdit--BackButton:hover {
    opacity: 0.7;
}