/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root {*/ /* Color palette for css */
/*--main-color: #BD1A11;*/ /* Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*--light-blue: rgb(93, 123, 244)*/ /*Light Blue - Added color on top of original*/
/*}*/
.castmembers-createedit--submitbtn {
    background-color: var(--main-color--light);
    /*/border: none;
    padding: 15px 32px;*/
    color: white;
}

.castmembers-createedit-submitbtn:hover {
    background-color: var(--main-color);
    color: var(--light-color);
    font-weight: bold;
}

.castmembers-createedit--container {
    width: 60%;
    margin-left: 20%;
    border: 5px solid var(--secondary-color);
    background-color: var(--secondary-color--dark);
}

.castmembers-createedit-backtolistbtn {
    background-color: var(--secondary-color);
    color: white;
}

.castmembers-createedit-backtolistbtn:hover {
    color: var(--light-color);
}

.castmembers-createedit-label:focus {
    border: 2px solid var(--main-color);
}


.production-input input[type="text"] {
    border: 2px solid var(--dark-color);
    background-color: lightgray !important; /* Overriding bootstrap styles for these form items */
}

    .production-input input[type="text"]:focus {
        border: 3px solid;
        border-color: var(--main-color);
        background: var(--light-color) !important;
    }


#production-createedit--formContainer {
    display: flex;
    flex-direction: column;
    border: solid 5px;
    border-color: var(--secondary-color--dark);
    align-content: center;
}

#production-createedit--input {
    border: solid 2px;
    border-color: purple;
}

    #production-create--input:focus {
        outline: none;
        border-color: var(--main-color);
    }

#production-createedit--flex-container {
    display: flex;
    align-items: center;
    width: 250px;
    height: 100px;
    margin: auto;
    justify-content: space-around;
}

#production-createedit--flex-items {
    background-color: var(--secondary-color);
    border: 1px;
    border-radius: 5px;
    width: 80px;
    height: 45px;
}

.production-createedit--button {     
    border-radius: 3px;
    width: 100px;
    height: 37px;
    text-align: center;
    padding: 5px;
}


#production-create--createbuttoncolor {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

    #production-create--createbuttoncolor:hover {
        background-color: var(--light-color);
        border-color: var(--secondary-color);
    }
#production-createedit--backtolistbuttoncolor {
    background-color: var(--dark-color);
    border-color: var(--secondary-color);
}

    #production-createedit--backtolistbuttoncolor:hover {
        background-color: var(--secondary-color);
        border-color: var(--secondary-color);
    }

#production-edit--savebuttoncolor {
    background-color: var(--main-color--light);
    border-color: var(--main-color--light);
}

    #production-edit--savebuttoncolor:hover {
        background-color: var(--light-color);
    }
   
    
}


                                                        /* Start Calendar Create Page */

/* This code designs the text "Create Calendar Event" */
.calendarevent-create--header {
    text-align: center;
    color: white;
}

/* This code creates the container for the Create Calendar Event */
.calendarevent-create--form_container {
    width: 50%;
    margin: 0 auto;
    padding-top: 10px;
    background-color: var(--main-color);
    border-radius: 10px;
    box-shadow: 1px 1px 3px var(--secondary-color--dark), -1px -1px 0px var(--secondary-color--dark);
    max-width: 600px;
}

.calendarevent-create--input {
    width: 122%;
    border-radius: 10px;
    border: 2px solid var(--dark-color);
    background-color: lightgray;
}

    .calendarevent-create--input:focus {
        border: 3px solid;
        border-color: var(--main-color--light);
        background: var(--light-color);
    }

/* This code designs the buttons that falls under this class */
.calendarevent-create--button_group {
    margin-inline: 0%;
    padding-bottom: 4%;
}

 /* This code directly affects the create button */
.calendarevent-create--submit_button {
    background-color: #FFFBFB;
    border-block-color: black;
    border: 2px black;
    padding: 3px;
    width: 100%;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

/* This code effects the "Back to List" button */
.calendar-create--BackToList {
    margin: 0 auto;
    display: block;
    background-color: #FFFBFB;
    border: 2px solid black;
    color: black;
    width: fit-content;
    padding: 3px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

                                                    /* End Calendar Create Page */

                                                    /* Start Calendar Edit Page */

/* This code designs the text "Create Calendar Event" */
.calendarevent-edit--header {
    text-align: center;
    color: white;
}

/* This code creates the container for the Calendar Event Edit Page */
.calendarevent-edit--form_container {
    width: 50%;
    margin: 0 auto;
    padding-top: 10px;
    background-color: var(--main-color);
    border-radius: 10px;
    box-shadow: 1px 1px 3px var(--secondary-color--dark), -1px -1px 0px var(--secondary-color--dark);
    max-width: 600px;
}

/* This code designs the buttons that falls under this class on the edit page */
.calendarevent-edit--button_group {
    margin-inline: 0%;
    padding-bottom: 4%;
}

/* This code directly affects the create button */
.calendarevent-edit--submit_button {
    background-color: #FFFBFB;
    border-block-color: black;
    border: 2px black;
    padding: 3px;
    width: 100%;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

/* This code effects the "Back to List" button on the Edit page */
.calendar-edit--BackToList {
    margin: 0 auto;
    display: block;
    background-color: #FFFBFB;
    border: 2px solid black;
    color: black;
    width: fit-content;
    padding: 3px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}


                                                        /* End Calendar Edit Page */