/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root { /* Color palette for css */
/*--main-color: #DB1A11;  Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*}*/

.CastMembers-CreateEdit-h2 h2 {
    text-align: center;
}

.CastMembers-CreateEdit-form {
    margin-left: 18%;
    width: 70%;
    text-align: left;
    padding-top: 10px;
    padding-left: 80px;
    background: var(--main-color--light);
}

.CastMembers-CreateEdit-CreateSave-btn .btn {
    border: outset 2px;
    width: 150px;
    margin: 5px;
    display: inline-block;
    font-weight: bold;
    box-shadow: var(--dark-color) 0.8px 0.8px 5px;
}

.CastMembers-CreateEdit-CreateSave-btn_b {
    color: var(--secondary-color);
    background-color: var(--main-color);
    border-color: var(--main-color--light);
}

.CastMembers-CreateEdit-CreateSave-btn_c {
    color: var(--main-color);
    background-color: var(--secondary-color);
    border-color: var(--main-color--light);
}
.CastMembers-CreateEdit-CreateSave-btn_c:hover {
    background-color: var(--main-color);
}

.CastMembers-CreateEdit-CreateSave-btn_b:hover {
    background-color: var(--secondary-color);
}

.CastMembers-CreateEdit-create_nav {
    margin-left: 28%;
    margin-right: 8px;
    border-radius: 5px;
    justify-content: center;
    list-style: none;
}

#CastMembers-Create-input {
    background-color: var(--secondary-color);
    border: 2px solid black;
    font-weight: bold;
}

#Create-input::placeholder {
    color: var(--dark-color);
    font-weight: bold;
}
#Create-input:valid {
    color: var(--dark-color);
    font-weight: bold;
}

#Create-input:focus {
    color: var(--dark-color);
    background-color: var(--main-color--light);
    border: 2px solid orange;
    box-shadow: none;
    font-weight: bold;
}

