/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root {*/ /* Color palette for css */
/*--main-color: #BD1A11;*/ /* Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*--light-blue: rgb(93, 123, 244)*/ /*Light Blue - Added color on top of original*/
/*}*/

/* Calender Event Create Page Styling */

.calendarevent-create--formcontainer {
    margin-left: 100px;
    padding-bottom: 50px;
}

.calendarevent-create--input input {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: var(--secondary-color);
    background-clip: padding-box;
    border: 1px solid var(--secondary-color--dark);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

    .calendarevent-create--input input:focus {
        color: var(--dark-color);
        background-color: var(--light-color);
        border-color: var(--secondary-color);
        outline: 0;
        box-shadow: 0 0 0 0.2rem var(--secondary-color);
    }

.calendarevent-create--btn input {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    color: var(--dark-color);
    background-color: var(--secondary-color);
    background-clip: padding-box;
    border: 1px solid var(--secondary-color--dark);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
    .calendarevent-create--btn input:focus,
    .calendarevent-create--btn input:active,
    .calendarevent-create--btn input:hover {
        background-color: var(--light-color);
        border-color: var(--secondary-color);
        border-radius: 0.25rem;
        color: var(--dark-color);
    }

a.calendarevent-create--btn {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    color: var(--dark-color);
    background-color: var(--secondary-color);
    background-clip: padding-box;
    border: 1px solid var(--secondary-color--dark);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
    a.calendarevent-create--btn:active,
    a.calendarevent-create--btn:focus,
    a.calendarevent-create--btn:hover {
        background-color: var(--light-color);
        border-radius: 0.25rem;
        color: var(--dark-color);
    }

/* Production Create/Edit Pages Styling*/
.Production-createedit--header {
    padding: 2em;
}

.Production-createedit--formcontainer {
    margin: auto;
    border-radius: 0.5em;
    justify-content: center;
    color: black;
    font-weight: bold;
    padding: 2em;
    background-color: var(--light-color);
}

.Production-createedit--form {
    border: 2px solid var(--dark-color);
    border-radius: 0.25rem;
}

.Production-createedit--form:focus {
    color: var(--light-color);
    background-color: var(--dark-color);
    border-color: var(--main-color);
    outline: 0;
    box-shadow: 0 0 0 0.1rem var(--main-color);
}

.Production-createedit-btncontainer {
    justify-content: center;
}

.Production-createedit--btnback, .Production-createedit--btnsave {
    display: flex;
    width: 100%;
    font-weight: bold;
    color: var(--light-color);
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--main-color--light);
    border: 1px solid var(--dark-color);
    padding: 0.65em;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.Production-createedit--btnback {
    background-color: var(--secondary-color--dark);
}

.Production-createedit--btnback a, .Production-createedit--btnsave a {
    color: white;
    text-decoration: none;
}

.Production-createedit--btnback:hover, .Production-createedit--btnsave:hover {
    border: 2px solid var(--main-color);
    box-shadow: 0 0 0 0.1rem var(--main-color);
}
/*End Production Create/Edit Pages Styling*/

/* Production Index Page Styling*/
.Production-index--header {
    padding: 2em;
}

.Production-indexsearch--button {
    background-color: var(--secondary-color--dark);
    display: inline;
    width: 8em;
    font-weight: bold;
    color: var(--light-color);
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid var(--dark-color);
    padding: 0.65em;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.Production-indexsearch--button:hover {
    border: 2px solid var(--main-color);
    box-shadow: 0 0 0 0.1rem var(--main-color);
}

.Production-indexcard--image {
    position: relative;
}

.Production-indexcard--overlay {
    position: absolute;
    justify-content: center;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: rgba(0, 0, 0, 0.8);
}

.Production-indexcard--image:hover .Production-indexcard--overlay {
    opacity: 1;
}

.Production-indexcard--center {
    text-align: center;
    margin-top: 6%;
}

.Production-indexcard--linkoverlay {
    position: absolute;
    content: box;
    left: 0;
    right: 0;
    height: 4.75em;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: rgba(0, 0, 0, 0.3);
}

.Production-indexcard--body:hover .Production-indexcard--linkoverlay {
    opacity: 1;
}

.Production-indexdetails--badge {
    position: absolute;
    left: 0;
    opacity: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
}

.Production-indexcard--title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Production-modal--background {
    background-color: var(--main-color);
}
/* End Production Index Page Styling*/

/*Production Access Denied Styling*/

.Production-denied--container {
    justify-content: center;
    text-align: center;
    background-color: var(--main-color);
    border-radius: 2em;
    margin-top: 5em;
}

.Production-denied--photo {
    max-width: 15em;
}

.Production-denied--padding {
    padding: 4em;
}

.Production-denied--button {
    background-color: var(--secondary-color--dark);
    display: inline;
    width: 8em;
    font-weight: bold;
    color: var(--light-color);
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid var(--dark-color);
    padding: 0.65em;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.Production-denied--button a {
    color: white;
    text-decoration: none;
}
/*End Production Access Denied Styling*/

/* Calendar Event Index Styling */
table.calendarevent-index--table {
    width: 100%;
    border-collapse: collapse;
}

thead.calendarevent-index--thead {
    display: none;
}

/* Styling for Day and Month */
.calendarevent-index--date {
    width: 10%;
}

.calendarevent-index--datecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
}

.calendarevent-index--date .day {
    font-size: 24px;
    font-weight: bold;
}

.calendarevent-index--date .month {
    font-size: 16px;
}
/* End Styling for Day and Month */

/* Styling for Title, Time, and Description */
.calendarevent-index--row {
    display: flex;
    border-bottom: 1px solid #fff9;
}

.calendarevent-index--detailcontainer {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.calendarevent-index--title {
    font-weight: bold;
    margin-bottom: 4px;
}

.calendarevent-index--last-day {
    background-color: var(--main-color);
}

.calendarevent-index--days-remaining {
    background-color: var(--secondary-color);
}

.calendarevent-index--time {
    font-size: 14px;
    margin-bottom: 4px;
}

.calendarevent-index--description-textbox {
    width: 100%;
    border: 1px solid lightgrey;
    resize: none;
    font-size: 14px;
}
/* End Styling for Title, Time, and Description */
/* End Styling for Calendar Event Index Page*/

/* Styling for Production Photo Index Page */
.productionphoto-index--pageheader {
    text-align: center;
    margin-top: 10px;
}
h2.productionphoto-index--pageheader {
    margin-right: 5px;
}
.productionphoto-index--card {
    border: none;
}

.productionphoto-index--image {
    max-height: 250px;
    object-fit: cover;
}

.productionphoto-index--badge-main-color {
    background-color: var(--main-color--light);
}

.productionphoto-index--badge-main-color:hover {
    background-color: var(--main-color);
}

.productionphoto-index--create-new-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--main-color);
    color: var(--light-color);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.productionphoto-index--create-new-btn:hover {
    background-color: var(--main-color--light);
    color: var(--light-color);
    text-decoration: none;
}

/* End Styling for Calendar Event Index Page*/

/* Styling for Cast Member CRUD pages*/

.castmember-create_edit--heading {
    padding: 5vw;
    text-align: center;
}

.castmember-create_edit--back_btn {
    background-color: var(--secondary-color);
    padding: 1vw;
    width: 15vw;
    border-radius: 7px;
    border: 1px solid var(--secondary-color);
    transition: .3s;
}

.castmember-create_edit--back_btn:hover {
    box-shadow: 5px 5px var(--secondary-color--dark);
    transition: .3s;
}

.castmember-create_edit--create_save_btn {
    background-color: var(--secondary-color--dark);
    padding: 1vw;
    width: 15vw;
    border-radius: 7px;
    border: 1px solid var(--secondary-color--dark);
    transition: .3s;
}

.castmember-create_edit--create_save_btn:hover {
    box-shadow: 5px 5px var(--secondary-color);
    transition: .3s;
}

.castmember-create_edit--btn_group {
    padding: 2vw;
    display: block;
    align-content: center;
    text-align: center;
}

.castmember-create_edit--form_container {
    background-color: var(--main-color);
    padding: 2vw;
}

.castmember-create_edit--form_input input, option, option:checked {
    background-color: var(--secondary-color);
    border: 0px solid;
}


.castmember-create_edit--form_input input:focus {
    background-color: white;
    border: 0px solid;
    outline: 3px solid var(--secondary-color);
}
