/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root {*/ /* Color palette for css */
/*--main-color: #BD1A11;*/ /* Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*--light-blue: rgb(93, 123, 244)*/ /*Light Blue - Added color on top of original*/
/*}*/
.castmembers-createedit--submitbtn {
    background-color: var(--main-color--light);
    /*/border: none;
    padding: 15px 32px;*/
    color: white;
}

.castmembers-createedit-submitbtn:hover {
    background-color: var(--main-color);
    color: var(--light-color);
    font-weight: bold;
}

.castmembers-createedit--container {
    width: 60%;
    margin-left: 20%;
}

.castmembers-createedit-backtolistbtn {
    background-color: var(--secondary-color);
    border: none;
    padding: 15px 32px;
    color: white;
}

.castmembers-createedit-backtolistbtn:hover {
    color: var(--light-color);
}

.castmembers-createedit-label:focus {
    border: 2px solid var(--main-color);
}