/* CSS color variables */
:root { /* Color palette for css */
    --main-bg-color: #DB1A11; /* Red */
    --main-secondary-color: #F04D44; /* Red, a shade lighter */
    --secondary-color: #D6972A; /* Yellow gold */
    --light-color: #FFFBFB; /* White */
    --dark-color: #000000; /* Black */
    --subscriber-main: #9D7C39; /* Dark Gold */
}

body {
}
.cast_member-create-h1 {
    text-align: center;
    color: var(--main-bg-color);
    padding: 30px;
}
.cast_member-create--form_container {
    display: block;
    text-align: center;
    border: solid 20px;
    border-color: var(--main-bg-color);
    background-color: var(--light-color);
}
.cast_member-create--form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.cast_member-create--submit_btn {
    text-align: center;
    border: var(--light-color);
    background-color: var(--main-bg-color);
    border-radius: 10px;
    padding: 10px;
}
.cast_member-create--submit_btn:hover {
    background-color: var(--secondary-color);
}
.cast_member-create--back_btn {
    display: inline-flex;
    margin-left: 40%;
    margin-right: 50%;
    margin-top: 20px;
    text-align: center;
    border: var(--light-color);
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 20px;
    width: 20%;
    color: var(--dark-color);
}
.cast_member-create--back_btn:hover {
    background-color: var(--light-color);
}
.cast_member-create--form_group {
    background-color: lightgrey;
    border: 2px solid var(--dark-color);
    outline: none;

}
.cast_member-create--form_group:focus, textarea:focus {
    border: 2px solid var(--secondary-color);
    box-shadow: 0 0 3px var(--secondary-color);
    color: var(--main-secondary-color);
}

.prodphoto-form-styling {
    background-color: var(--light-color);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.prodphoto-form-title {
    padding: 5px;
    background-color: var(--light-color);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
    white-space: nowrap;
}

.prodphoto-input-field {
    margin: 0 0 3vh 0;
    background-color: var(--light-color);
    background-color: #F5F5F5;
    width: 100%;
}

.prodphoto-input-field:focus, .input-field-changes:active {
    background-color: var(--light-color);
    box-shadow: 0 0 0 0.2rem rgba(93, 123, 244, 0.4);
}

.prodphoto-btn {
    background-color: rgba(93, 123, 244, .7);
    color: var(--dark-color);
    border-radius: 5px;
    width: auto;
    min-width: 7vw;
    margin-left: .4vw;
}

.prodphoto-btn-2 {
    background-color: var(--light-blue);
    border-radius: 5px;
    width: auto;
    text-align: center;
    min-width: 7vw;
}

.prodphoto-btn-together {
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

.prodphoto-btn:hover {
    opacity: .8;
}

.prodphoto-btn-2:hover {
    opacity: .8;
}