/* CSS color variables */
:root { /* Color palette for css */
    --main-bg-color: #DB1A11; /* Red */
    --main-secondary-color: #F04D44; /* Red, a shade lighter */
    --secondary-color: #D6972A; /* Yellow gold */
    --light-color: #FFFBFB; /* White */
    --dark-color: #000000; /* Black */
    --subscriber-main: #9D7C39; /* Dark Gold */
}

body {
}

.form-styling {
    background-color: var(--main-bg-color);
    color: aqua;
}
