/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root {*/ /* Color palette for css */
/*--main-color: #BD1A11;*/ /* Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*--light-blue: rgb(93, 123, 244)*/ /*Light Blue - Added color on top of original*/
/*}*/

.CE-create-header {
    text-align: center;
}

body {
    background-color: var(--main-color--light);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CE-create-form {
    background-color: var(--main-color);
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    color: var(--light-color);
}

.CE-create-form-group {
    padding: 5px;
    margin: 0 auto;
    width: 100%;
    
}

.CE-create-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CE-create-btn-container:hover {
    transition: var(--main-color) 0.5s ease-in-out, var(--main-color) 0.5s ease-in-out;

}

.form-control {
    width: 100%;
    padding: 15px;
    border: 2px solid var(--secondary-color--dark);
    border-radius: 10px;
    place-items: center;
    border-radius: 5px;
    transition: var(--secondary-color--dark) 0.3s, var(--light-color) 0.3s;
}

form-control:focus {
    border-color: var(--main-color);
    background-color: var(--main-color--light);
    color: var(--main-color--light);
    outline: none;
}

.form-control::placeholder {
    border-color: var(--secondary-color--dark);
    color: var(--secondary-color--dark);
}

.btn {
    color: var(--dark-color);
    Background: var(--secondary-color);
}



