/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root {*/ /* Color palette for css */
/*--main-color: #BD1A11;*/ /* Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*--light-blue: rgb(93, 123, 244)*/ /*Light Blue - Added color on top of original*/
/*}*/

/* Styling for the Calendar Event Page (Create.cshtml and the Edit.cshtml) */
.jl-CalendarEventTitle { /*Main title for Create.cshtml and Edit.cshtml*/
    font-family: Broadway;
    padding: 20px;
}

.jl-CalendarEventForm { /*overall styling for the Calendar Event Form*/
    display: block;
    background-color: var(--secondary-color--dark);
    border-radius: 14px;
    margin: 40px;
    padding: 20px;
}

.jl-submitButton { /*submit button styling*/
    background-color: var(--main-color--light);
    border-radius: 12px;
    border: none;
    color: var(--light-color);
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.3s;
    cursor: pointer;
}

    .jl-submitButton:hover {
        background-color: var(--main-color);
    }

/* styling for the user input form for the Create.cshtml and the Edit.cshtml */
.jl-CalendarEventForm input[type=text] {
    background-color: antiquewhite;
}

.jl-CalendarEventForm input[type=datetime] {
    background-color: antiquewhite;
}

.jl-CalendarEventForm input[type=number] {
    background-color: antiquewhite;
}

.jl-CalendarEventForm input[type=text]:focus {
    border: 2px solid var(--main-color--light);
    background-color: var(--light-color);
    border-radius: 4px;
}

.jl-CalendarEventForm input[type=datetime]:focus {
    border: 2px solid var(--main-color--light);
    background-color: var(--light-color);
    border-radius: 4px;
}

.jl-CalendarEventForm input[type=number]:focus {
    border: 2px solid var(--main-color--light);
    background-color: var(--light-color);
    border-radius: 4px;
}
/*END Styling for the Calendar Event Page (Create.cshtml and the Edit.cshtml)*/


/*START Styling for Production Photos Area*/

#jv-searchBtn {
    background-color: #d6972a;
    border-radius: 12px;
    height: 40px;
    width: 100px;
    color: #fffbfb;
    padding: 5px 15px;
    text-align: center;
    display: inline;
    font-size: 14px;
    cursor: pointer;
}

    #jv-searchBtn:hover {
        filter: brightness(60%);
    }

#jv-centerAlign {
    display: flex;
    justify-content: space-between;
}

#jv-badge {
    background-color: #9D7C39;
    width: 50px;
    height: 20px;
}

    #jv-badge:hover {
        filter: brightness(60%);
    }

#jv-createNewBtn {
    background-color: #d6972a;
    color: #fffbfb;
    border-radius: 12px;
    font-size: 14px;
    padding: 8px 15px;
    height: 38px;
    text-align: center;
}

    #jv-createNewBtn:hover {
        filter: brightness(60%);
    }

/*END Styling for Production Photos Area*/


