/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root {*/ /* Color palette for css */
/*--main-color: #BD1A11;*/ /* Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*}*/

/* START EVENT CALENDAR */
/* These classes were initially created on CalendarEvents/Create but also used in Edit, View and Delete */
.CalendarEvents-Create--form .form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CalendarEvents-Create--form .form-group label {
  width: 100%;
}

.CalendarEvents-Create--form .form-group input:not([type="submit"]):not([type="file"]),
.CalendarEvents-Create--form .form-group textarea {
  background-color: var(--secondary-color--dark);
  color: var(--light-color);
  outline: none;
  border: none;
  box-shadow: inset 0 0 0 1px var(--main-color--light);
  transition: 100ms all ease-in-out;
}

.CalendarEvents-Create--form .form-group input:not([type="submit"]):not([type="file"])::placeholder,
.CalendarEvents-Create--form .form-group textarea::placeholder {
  color: var(--light-color);
  opacity: 0.5;
}

.CalendarEvents-Create--form .form-group input:not([type="submit"]):not([type="file"]):focus,
.CalendarEvents-Create--form .form-group input:not([type="submit"]):not([type="file"]):active,
.CalendarEvents-Create--form .form-group textarea:focus,
.CalendarEvents-Create--form .form-group textarea:active {
  background-color: var(--secondary-color);
  box-shadow: inset 0 0 0 2px var(--main-color);
}

.CalendarEvents-Create--form .form-group input:not([type="submit"]):not([type="file"]):focus::placeholder,
.CalendarEvents-Create--form .form-group input:not([type="submit"]):not([type="file"]):active::placeholder,
.CalendarEvents-Create--form .form-group textarea:focus::placeholder,
.CalendarEvents-Create--form .form-group textarea:active::placeholder {
  opacity: 1;
}

/* START EVENT LISTING */
.CalendarEvents-Index--EventListings > .form-group > .col-md-12 {
  padding: 0;
}

.CalendarEvents-Index--EventListings > .form-group > .col-md-12.card {
  border-radius: 0;
  padding: 10px 0;
  box-shadow: 0 -2px var(--main-color--light);
  --start-date-width: 75px;
}

.CalendarEvents-Index--EventListings > .form-group > .col-md-12.card h5 > small {
  display: block;
  font-size: 10pt;
}

.CalendarEvents-Index--EventListings > .form-group > .col-md-12.card > .row > div {
  display: inline-block;
  box-sizing: border-box
}

.CalendarEvents-Index--EventListings > .form-group > .col-md-12.card > .row > h5 {
  width: var(--start-date-width);
  text-align: center;
}

.CalendarEvents-Index--EventListings > .form-group > .col-md-12.card > .row > h5 > .eventDuration::after {
  padding-left: 5px;
  font-family: "Font Awesome 5 Free"; /* using 'FontAwesome1 as defined in font-awesome.css did not work */
  content: "\f017";/* Clock Icon */
  font-weight: 900; /* Sets clock icon to solid instead of regular, only works if font is Font Awesome 5 Free */
}

.CalendarEvents-Index--EventListings > .form-group > .col-md-12.card > .row > div {
  width: calc(100% - var(--start-date-width));
}
/* END EVENT LISTING */

/* END EVENT CALENDAR */

/* START PROD PHOTO */
.ProdPhoto-Index--PhotoListings .card {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--secondary-color);
}

.ProdPhoto-Index--PhotoListings .forcedAspectImage {
  width: 100%;
  height: auto;
  background-color: #000;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.ProdPhoto-Index--PhotoListings .forcedAspectImage img:nth-child(1) {
  width: 100%;
  height: auto;
  opacity: 0;
}

.ProdPhoto-Index--PhotoListings .forcedAspectImage img:not(:nth-child(1)) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* END PROD PHOTO */