
/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root { /* Color palette for css */
/*--main-color: #DB1A11;  Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*}*/
 
/*== Cast Members Styling ==*/
.CastMembers-CreateEdit--Container {
    border-radius: .25rem;
    background-color: var(--main-color);
}

.CastMembers-CreateEdit--header {
    text-align: center;
    margin-top: 9px;
}

.CastMembers-CreateEdit--label {
    color: var(--dark-color);
    font-weight: 700;
    max-width: 100%;
    text-shadow: -.2px 1px 0px var(--light-color);
}

.CastMembers-CreateEdit--form {
    background-color: var(--secondary-color);
    border-color: var(--main-color);
    color: white;
}

.CastMembers-CreateEdit--form:focus{
    color: var(--secondary-color);
    border-color: var(--dark-color);
    background-color: var(--light-color);
    box-shadow: 10px 5px 5px var(--secondary-color);
}

.CastMembers-CreateEdit--form::placeholder {
    color: var(--light-color);
    opacity: 1; /* Firefox */
}

.CastMembers-CreateEdit--form:focus::placeholder {
    color: var(--secondary-color);
    opacity: 1; /* Firefox */
}

.CastMembers-CreateEdit--btnBack {
    background-color: #6c757d;
    color: var(--light-color);
    margin-bottom: 10px;
    border-radius: .25rem;
}

    .CastMembers-CreateEdit--btnBack:hover {
        background-color: #565e64;
        color: white;
    }
.production_photo-create--main_container,
.production_photo-edit--main_container {
    background-color: var(--main-color--light);
    border-radius: 0.5rem;
}

.production_photo-create--form_header,
.production_photo-edit--form_header {
    padding: 1rem;
}

.production_photo-create--btns,
.production_photo-edit--btns {
    border-radius: 0.3rem;
    margin: 0.5rem 0.3rem;
    text-align: center;
}

.production_photo-create--btns:hover,
.production_photo-edit--btns:hover {
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
}

.production_photo-create--btns a,
.production_photo-edit--btns a {
    color: white;
}

.production_photo-create--btns a:hover,
.production_photo-edit--btns a:hover {
    text-decoration: none;
}

.production_photo-create--file_upload,
.production_photo-edit--file_upload {
    background-color: var(--main-color--light);
    border: none;
    padding: 0px;
    margin: 0px;
    margin-left: 1rem;
    color: white;
}
    }

/* Start of Production Create & Edit pages styling */
.Production-Create_Edit-Header {
    text-align: center;
    padding-top: 17px;
}

.Production-Create_Edit-Container {
    background-color: var(--main-color);
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--dark-color);
    font-weight: 600;
}

.Production-Create_Edit-SubmitBtn {
    font-size: 16px;
    border-radius: 5px;
    background-color: var(--light-color);
    padding: 3px 6px 3px 6px;
    font-weight: bold;
}

    .Production-Create_Edit-SubmitBtn:hover {
        background-color: var(--dark-color);
        color: var(--secondary-color--dark);
    }

.Production-Create_Edit-BackToListBtn {
    font-size: 16px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    padding: 3px 6px 3px 6px;
    font-weight: bold;
}

    .Production-Create_Edit-BackToListBtn:hover {
        background-color: var(--dark-color);
        color: var(--secondary-color--dark);
    }

.Production-Create-ButtonSpace {
    padding-top: 15px;
}

.Production-Create_Edit-FormInputBox::placeholder {
        background-color: var(--secondary-color-dark);
        color: var(--light-color);
    }
.Production-Create_Edit-FormInputBox {
    background-color: var(--secondary-color--dark);
    border-radius: 8px;
    color: var(--light-color);
}

    .Production-Create_Edit-FormInputBox:focus {
        background-color: var(--light-color);
        border: 3px solid var(--secondary-color);
        border-radius: 8px;
        color color: var(--dark-color);
    }

    
