/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root {*/ /* Color palette for css */
/*--main-color: #BD1A11;*/ /* Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*--light-blue: rgb(93, 123, 244)*/ /*Light Blue - Added color on top of original*/
/*}*/

/* Define root variables for colors */

:root {
    --primary-color: #bd1a11;
    --secondary-color: #f04d44;
    --tertiary-color: #d6972a;
    --quaternary-color: #9d7c39;
    --background-color: #fffbfb;
    --text-color: #000;
}

/* Form container */
.formContainer {
    max-width: 400px;
    margin: 20px auto;
    background-color: var(--background-color);
    padding: 0px;
    border: 3px solid var(--secondary-color);
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
}

/* Headings */
.Register-heading2 {
    color: var(--primary-color);
    font-size: 24px;
    margin-bottom: 20px;
}

/* Input fields */
.input-field {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    transition: border-color 0.3s, background-color 0.3s;
    -background-color: var(--background-color);
}

.input-label {
    text-align: left !important;
    font-weight: bold;
    margin-bottom: 1px;
    color: var(--text-color);
    }

/* Input field border color on focus */
.input-field:focus {
    border-color: var(--primary-color);
    background-color: var(--background-color);
}

/* Labels */
.control-label {
    font-weight: bold;
    color: var(--text-color);
}

/* Checkboxes */
.checkbox {
    margin-top: 10px;
}

/* Buttons */
.Register-button {
    background-color: var(--tertiary-color);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

/* Center text in  button */
.Register-button span {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.checkbox label {
    font-weight: normal;
    color: var(--text-color);
}


/* Index Styling */


/* Event container */
.event-container {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
}

/* Event date */
.event-date {
    flex: 0 0 auto;
    padding: 10px;
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 5px;
    text-align: center;
}

.event-day {
    font-size: 20px;
}

.event-month {
    font-size: 12px;
}

/* Event details */
.event-details {
    flex: 1;
    padding-left: 10px;
}

.event-title {
    font-size: 18px;
    margin-bottom: 5px;
    color: var(--primary-color);
}

.event-description {
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--tertiary-color);
    font-size: 14px;
    color: var(--text-color);
}

/* Event time */
.event-time {
    margin-top: 5px;
    font-size: 12px;
    color: var(--tertiary-color);
}

.event-start-time,
.event-end-time {
    margin-right: 10px;
}

form {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
}

.create-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
}

.create-button:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.event-actions {
    margin-left: 20px;
    display: flex;
}

.edit-button, .delete-button {
    margin: 0 5px;
    text-decoration: none;
}