/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root {*/ /* Color palette for css */
/*--main-color: #BD1A11;*/ /* Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*--light-blue: rgb(93, 123, 244)*/ /*Light Blue - Added color on top of original*/
/*}*/

/* BEGIN CAST MEMBER STYLING */ /* create styles also used on edit page for consistency*/

.castMember-create--header {
    font-family: Broadway;
}

.castMember-create--submit {
    background-color: var(--main-color--light);
    color: var(--light-color);
}

.castMember-create--submit:hover {
    background-color: var(--dark-color);
    color: var(--secondary-color);
    transition: transform 1s;
    transform: scale(1.1);
}

.castMember-create--back_button {
    background-color: var(--secondary-color);
    color: var(--light-color);
}

 .castMember-create--back_button:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
    transition: transform 1s;
    transform: scale(1.1);
}

 .castMember-create--center {
     margin-left: auto;
     margin-right: auto;
     width: 80%;
     background-color: var(--main-color);
     border-radius: 10px;
     border-top: 3px solid var(--secondary-color);
     border-left: 3px solid var(--secondary-color);
     border-right: 3px solid var(--light-color);
     border-bottom: 3px solid var(--light-color);
 }

.castMember-create--center_buttons {
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.castMember-create--buffer {
    padding-bottom: 20px;
}

.castMember-create--input {
    background-color: var(--secondary-color);
}

.castMember-create--input:focus {
    border: 3px solid var(--secondary-color);
    background-color: var(--light-color);
    box-shadow: none;
}

/* END CAST MEMBER STYLING*/

/*CALENDAR EVENT STYLING*/

.CalendarEvent-Index--table{
    background-color: var(--main-color--light);
}

.CalendarEvent-Create--header{
    padding-left:200px;
}

.CalendarEvent-Create--form-horizontal{
    background-color: var(--main-color--light);
    margin-right: 25px;
    margin-left:25px;
    padding-left:90px
}

.CalendarEvent-Create--SubmitBtn{
    background-color: var(--main-color);
    text-align:center;
    margin-left:300px;
    margin-bottom: 20px;
    padding-left:75px;
    padding-right:75px;
    color:white;    
}

.CalendarEvent-Create--InputBox:focus {
    border: 2px solid black;
    box-shadow:none;
    background-color:floralwhite;
}

.CalendarEvent-Create--checkbox{
    margin-left:15px;
}

.CalendarEvent-Create--DateBox:focus {
    border: 2px solid black;
    box-shadow: none;
    background-color: floralwhite;
}



















/*END CALENDAR EVENT STYLING*/