/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root {*/ /* Color palette for css */
/*--main-color: #BD1A11;*/ /* Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*}*/

.renthistory-h4 {
    padding: 15px;
    text-align: center;
    margin-top: 25px;
}

.renthistory-label {
    font-weight: 700;
}
.renthistory-damage {

}

.renthistory-input {
    width: 400px;
}

.renthistory-form-bg {
    background-color: var(--main-color--light);
    padding: 15px;
    border-radius: 15px;
    max-width: 600px;
    margin: auto;
}

.p-20{
    padding: 20px;
}

#expired{
    display: none;
}