/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root {*/ /* Color palette for css */
/*--main-color: #DB1A11;*/ /* Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*--light-blue: rgb(93, 123, 244)*/ /*Light Blue - Added color on top of original*/
/*}*/

.RentalItem-FormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.RentalItem-Edit--Input input:focus {
    outline: none;
    border: 3px solid var(--main-color);
    background-color: var(--secondary-color);
}

.RentalItem-Create--Input input:focus {
    outline: none;
    border: 3px solid var(--main-color);
    background-color: var(--secondary-color);
}

.RentalItem-CreateEdit--CreateButton {
    background-color: var(--main-color);
}

.RentalItem-CreateEdit--CreateButton:hover {
    opacity: 0.7;
}

.RentalItem-CreateEdit--BackButton {
    background-color: var(--secondary-color);
}

.RentalItem-CreateEdit--BackButton:hover {
    opacity: 0.7;
}

.RentalItem-CreateEdit--Photo {
    color: var(--main-color);
    font-size: large;
}

.RentalItem-Index--Card {
    color: var(--dark-color);
    display: flex;
    justify-content: center;
    text-align: center;
}


.RentalItem-Index--ImageContainer img {
    transition: all 0.7s ease;
    border: 2px solid var(--dark-color);
}

.RentalItem-Index--ImageContainer:hover img {
    transition: all 0.9s ease-in-out;
    filter: grayscale(100%);
    opacity: 0.7;
    cursor: pointer;
}
.RentalItem-Index--ImageContainer button {
    transition: .5s ease;
    opacity: 0; 
    transform: translate(20%, -200%);
    color: var(--secondary-color);

    
}
.RentalItem-Index--ImageContainer:hover button {
    opacity: 1;
    transition: all 0.7s ease-in-out;
}

.card-body:hover h3 {
    cursor: pointer;
    transition: all 0.7s ease-in-out;
    color: var(--main-color);
}

.RentalItem-DetailsDelete--EditBtn {
    color: var(--secondary-color);
}

.RentalItem-DetailsDelete--IndexBtn {
    color: var(--light-color);
}

.RentalItem-Details--li {
    color: var(--dark-color);
}

.RentalItem-DetailsDelete--Container {
    max-width: 40%;
    margin-left: 30%;
}

.RentalItem-DetailsDelete--Container li:hover {
    background-color: var(--secondary-color);
    transition: 0.8s ease-in;
}


.RentalItem-Delete--IndexEditDelBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.RentalItem--Delete-Btn {
    color: var(--main-color);
}

