/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root {*/ /* Color palette for css */
/*--main-color: #BD1A11;*/ /* Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*}*/


/* rental.css */


/* Create and Edit Pages Styling*/
.c-e-bg {
    text-align: center;
    background-color: var(--dark-color);
}
.c-e-heading {
    padding: 20px;
}
.rh-container {
    top: 50%;
    left: 50%;
    width: 600px;
    background-color: var(--main-color--light);
    border-radius: 10px;
}

form {
    width: 100%;
}

.create-buttons {
    text-decoration: none;
    color: var(--light-color);
    padding-bottom: 15px;
}

/* Index Page Styling*/


.index-heading {
    padding: 20px;
    text-align: center;
}

.index-table {
    width: 100%;
    border: 4px solid var(--main-color);

}

th {
    font-size: 25px;
}

td {
    font-size: 16px;
}

th, td {
    font-weight: bold;
    color: black;
    padding: 15px;
    border-bottom: 1px solid;
    background-color: white;
}


#bottom-id {
    border-bottom: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}





