/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root {*/ /* Color palette for css */
/*--main-color: #BD1A11;*/ /* Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*}*/

/*********Rental History Styling*/
.rent-headline {
    padding-top: 1em;
    text-align: center;
    color: var(--light-color);
}

.rent-form {

    width: 600px;
    background-color: var(--main-color--light);
    height: auto;
    position: relative; 
    left: 16em;
    border-radius: 10px;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
}

.rent-button {
    position: relative;
    left: 10em;
    padding-block: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rent-button2 {
    text-decoration: none;
    color: var(--light);
    padding-block: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    left: 10em;
}

.rent-input {
    margin-top: 10px;
    margin-bottom: 10px;
 
}

.rent-checkbox {
    position: relative;
    left: 3em;
}