/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root {*/ /* Color palette for css */
/*--main-color: #BD1A11;*/ /* Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*}*/

/*********Rental History Styling*/
.rent-headline {
    padding-top: 1em;
    text-align: center;
    color: var(--light-color);
}

.rent-form {

    width: 600px;
    background-color: var(--main-color--light);
    height: auto;
    position: relative; 
    left: 16em;
    border-radius: 10px;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
}

.rent-button {
    color: var(--light);
    padding-block: 1em;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    left: 10em;
}

.rent-button a {
        text-decoration: none;
        color: inherit;
    }

.rent-input {
    margin-top: 10px;
    margin-bottom: 10px;
 
}

.rent-checkbox {
    position: relative;
    left: 3em;
}

table {
    table-layout: fixed;
    border-radius: 10px;
    border: 1px solid var(--main-color--light);
    width: 60%;
    background-color: var(--light-color);
    height: auto;
}
th {
    color: var(--dark-color);
}
td {
    border: 1px thin var(--dark-color);
    text-overflow: ellipsis;
    overflow:visible;
    color: var(--dark-color);
    white-space: nowrap;
    padding-right: 10px;
    position:relative;
    align-content: center;

   
}

tr {
    padding-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.rent-rental {
    color: var(--light-color);
}

.rent-darkText {
    color: var(--dark-color);
}

.rent-lightText {
    color: var(--light-color);
}

/*#dropDown {
    visibility: hidden;
}*/

#dropDown:hover {
        visibility: visible;
    }
@font-face {
    font-family: FontAwesome;
    src: url('/Content/font-awesome.css');
}

.element {
    position: relative;
}

    .element:before {
        content: "\f14b";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: #000;
        font-size: 10px;
        padding-right: 0.5em;
        position: absolute;
        top: 10px;
        left: 0;
    }