/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root {*/ /* Color palette for css */
/*--main-color: #BD1A11;*/ /* Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*--light-blue: rgb(93, 123, 244)*/ /*Light Blue - Added color on top of original*/
/*}*/


/* Rent CSS*/
form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #F04D44;
    border-radius: 10px;
    
}
.rental-create--outline {
    display: flex;
    text-align:left;
}
h2 {
    color: #FFFBFB;
    text-align: center;
}
.rental-create--damageoutline {
    max-width: 400px;
    padding-top: 2px;
    display: inline-block;
}
.rental-create--btndefault {
    border-radius: 5px; 
    background-color: #9D7C39; 
    color: #FFFBFB;
    padding: 10px 20px; 
    cursor: pointer; 
    padding-top: 5px;
}
.rental-create--font {
    font-weight: bold;
    font-family: Verdana;
    font-size: 20px;
}
.rental-create--formgroup {
    display: flex;
    align-items: center;
}
.rental-create--flex {
    flex: 1;
}
.rental-create--damagedlabel {
    margin-left: -50px;
}
.rental-create--incurredoutline {
    display: inline-block;
    width: 100%;
    padding-top: 2px;
    padding-left: 15px;
}
.rental-create--buttoncontainer {
    display: flex;
    justify-content: center;
    margin: 15px auto;
    width: 40%;
    align-items: center;
}
.rental-create--backtolistbutton {
    border-radius: 5px;
    background-color:darkslategray;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    padding-top: 5px;
    text-decoration: none;
}
#damagesLabel {
    white-space: nowrap;
    overflow: visible;
}