/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root {*/ /* Color palette for css */
/*--main-color: #DB1A11;*/ /* Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*--light-blue: rgb(93, 123, 244)*/ /*Light Blue - Added color on top of original*/
/*}*/

/*Rental Create and Edit Page Start*/

.Rental-Create--Create_Button {
    color: var(--light-color);
    background-color: var(--main-color);
}

.Rental-Create--Create_Button:hover {
    background-color: var(--secondary-color);
}

.Rental-Create--BackToList_Button {
    color: var(--light-color);
    background-color: var(--secondary-color--dark);
}

.Rental-Create--BackToList_Button:hover {
    background-color: var(--light-color);
}

.Rental-Create--ButtonWrap {
    display: flex;
    justify-content: center;
}

.Rental-Create--FormBackground {
    background-color: var(--main-color--light);
    border-radius: 25px;
    padding-bottom: 1px;
}

.Rental-Create--FormBackground input:focus {
    -webkit-box-shadow: 0 0 5px 2px var(--secondary-color--dark);
    -moz-box-shadow: 0 0 5px 2px var(--secondary-color--dark);
    box-shadow: 0 0 5px 2px var(--secondary-color--dark);
    background-color: var(--secondary-color);
}

.Rental-Create--InputWrap {
    max-width: 100%;
    width: 100%;
}

.Rental-Edit--Edit_Button {
    color: var(--light-color);
    background-color: var(--main-color);
}

.Rental-Edit--Edit_Button:hover {
    background-color: var(--secondary-color);
}

.Rental-Edit--BackToList_Button {
    color: var(--light-color);
    background-color: var(--secondary-color--dark);
}

.Rental-Edit--BackToList_Button:hover {
    background-color: var(--light-color);
}

.Rental-Edit--FormBackground {
    background-color: var(--main-color--light);
    border-radius: 25px;
    padding-bottom: 1px;
}

.Rental-Edit--FormBackground input:focus {
    -webkit-box-shadow: 0 0 5px 2px var(--secondary-color--dark);
    -moz-box-shadow: 0 0 5px 2px var(--secondary-color--dark);
    box-shadow: 0 0 5px 2px var(--secondary-color--dark);
    background-color: var(--secondary-color);
}

.Rental-Edit--ButtonWrap {
    display: flex;
    justify-content: center;
}

.Rental-Edit--InputWrap {
    max-width: 100%;
    width: 100%;
}


/*Rental History Index Styling*/

.Rental_History-Index-Header {
    text-align: center;
    margin-top: 5px;
}

#Rental_History-Index-Table {
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    margin: auto;
    padding: 0;
    color: black;
    white-space: nowrap;
    display: inline-block;
}

#Rental_History-Index--hover-row:hover {
    background-color: lightgrey;
}

#Rental_History-Index--hover-row:hover #Rental_History-Index-Vertical_Ellipse {
    cursor: pointer;
    display: block;
}



#Rental_History-Index--BoolIcon {
    margin-right: 19px;
}



#Rental_History-Index--crossmarkclass {
    color: red;
    padding-top: 10px;
    margin-right: 19px;
}

#Rental_History-Index--checkmarkclass {
    color: green;
    padding-top: 10px;
    margin-right: 19px;
}


#Rental_History-Index-Vertical_Ellipse {
    display: none;
    float: right;
    white-space: nowrap;
}

#Rental_History-Index-DI_Text {
    display: block;
    width: 720px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



/*End of Rental History Styling*/



/*Create Rental History Page*/
.Rental_History-Create--Header {
    text-align: center;
    margin-top: 5px;
}

.Rental_History-Create--Form {
    background-color: #F04D44;
    border-radius: 25px;
    display: block;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
}

.Rental_History-Create--subform {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.Rental_History-Create--CheckBox {
    padding-top: 25px;
    font-size: 20px;
    display: inline-block;
    padding-left: 100px;
}

.Rental_History-Create--Rental-Title {
    font-size: 20px;
    padding-top: 10px;
}

.Rental_History-Create--Rental-Title input {
    width: 300%;
    width: fit-content;
}

.Rental_History-Create--Notes_DamagesIncurred {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 2%;
    width: 100%;
}

.Rental_History-Create--Notes_DamagesIncurred input {
    width: 100%;
}

.Rental_History-Create--Notes_InputWrap {
    padding: 0 13px;
}

.Damages_Incurred_Text {
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 0;
}

.Rental_History-Create--BTContainer {
    padding-top: 15px;
    position: fixed;
}

.Rental_History-Create--BTL {
    
}

.Rental_History-Create--Create_Button {
    text-align: center;
    height: 20%;
    padding-top: 5px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



.Rental_History-Create--Back_Button {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Rental_History-Create--buttons {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

#Switch {
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 2%;
    white-space: nowrap;
}

/*End of Create Rental History Page*/

/*Edit Rental History Page*/

.Rental_History-Edit--Header {
    text-align: center;
    margin-top: 5px;
    padding-bottom: 20px;
}

.Rental_History-Edit--Form {
    background-color: #F04D44;
    border-radius: 25px;
    display: block;
    width: 500px;
}

.Rental_History-Edit--Rental-Title {
    font-size: 20px;
    padding-top: 10px;
}


/*End of Edit Rental History Page*/