@if (!User.Identity.IsAuthenticated)
{
    {
        ViewBag.Title = "_LoginBtnRequestManager";
    }
    using (Html.BeginForm("RequestManagerLogin", "Account", new { area = "", ReturnUrl = Request.Url.AbsoluteUri }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="cms-bg-main cms-text-light bottom-right">Log in as Request Manager</button>
    }
}

