
/* CSS color variables */
:root { /* Color palette for css */
    --main-bg-color: #DB1A11; /* Red */
    --main-secondary-color: #F04D44; /* Red, a shade lighter */
    --secondary-color: #D6972A; /* Yellow gold */
    --light-color: #FFFBFB; /* White */
    --dark-color: #000000; /* Black */
    --subscriber-main: #9D7C39; /* Dark Gold */
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: var(--dark-color);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.white{
    color: var(--light-color);
}