/* CSS color variables */
:root { /* Color palette for css */
    --main-color: #DB1A11; /* Red */
    --main-color--light: #F04D44; /* Red, a shade lighter */
    --secondary-color: #D6972A; /* Yellow gold */
    --secondary-color--dark: #9D7C39; /* Dark Gold */
    --light-color: #FFFBFB; /* White */
    --dark-color: #000000; /* Black */
}
/*Text color classes*/
.cms-text-main {
    color: var(--main-color);
}
.cms-text-main-light {
    color: var(--main-color--light);
}
.cms-text-secondary {
    color: var(--secondary-color);
}
.cms-text-secondary-dark {
    color: var(--secondary-color--dark);
}
.cms-text-light {
    color: var(--light-color);
}
.cms-text-dark {
    color: var(--dark-color);
}
/*End color classes*/
/*Background color classes*/
.cms-bg-main {
    background-color: var(--main-color);
}
.cms-bg-main-light {
    background-color: var(--main-color--light);
}
.cms-bg-secondary {
    background-color: var(--secondary-color);
}
.cms-bg-secondary-dark {
    background-color: var(--secondary-color--dark);
}
.cms-bg-light {
    background-color: var(--light-color);
}
.cms-bg-dark {
    background-color: var(--dark-color);
}
/*End background color classes*/
body {
    padding-bottom: 20px;
    background-color: var(--dark-color);
    color: var(--main-color);     /*This should default all text to the white of the site.*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* Styling and positioning for the Navbar */

.nav > li {
    margin-left: 8px;
    margin-right: 8px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    justify-content: center;
}

    .nav > li:hover {
        background-color: #DEB887;
    }

    .nav > li > a {
        color: #000000;
        font-weight: bold;
    }

.navbar-icon-red {
    height: 42px;
    width: auto;
}

.navbar {
    background-color: var(--main-color);
}

.CMS-text-white {
    color: var(--light-color);
}

h1.CMS-text-bigger {
    text-align: center;
    font-size: 75px;
}

a.CMS-text-bigger {
    font-size: 36px;
}
/*Styling for _Footer.cshtml*/
.footer-all {
    width: 100%; /*Added to make footer full width */
    background-color: var(--dark-color);
    color: var(--light-color);
    position: fixed; /*changed from absolute to fixed to make visable when scrolling*/
    bottom: 0; /*----------------------- Kevin commented this out because the footer was in the 
     middle of my page. toggling this property in devtools fixed it so it was at the bottom*/
}

.footer-content {
    padding-top: 12px;
    padding-left: 30px;
    padding-right: 30px;
}

.footer-links {
    height: 24px;
    /*height has to be entered manually due to floating elements*/
    /*ensures padding/margin relative to other elements responds as expected*/
}

.footer-address {
    padding-top: 8px;
    line-height: 20px;
}

.footer-copyright {
    width: 115px;
    text-align: right;
    position: absolute;
    bottom: 0;
}

/* Additional Styling for the Navbar dropdown menu to override the default bootstrap color schema */
.nav-link.active, .nav-pills .show > .nav-link {
    color: var(--dark-color);
    background-color: var(--secondary-color);
}

.dropdown-item:hover, .dropdown-item:focus {
    color: var(--dark-color);
    background-color: #DEB887;
}

/* Navbar dropdown menu background color*/
.dropdownbckgrndclr {
    background-color: var(--secondary-color);
}
/*Navbar dropdown menu text color*/
.dropdowntxt {
    color: var(--dark-color);
    font-weight: bold;
}

/*Adding CSS for Theatre Vertigo About page*/
.aboutPage-Card-Img {
    width: auto;
    max-width: 100%;
    height: 75%;
    object-fit: cover;
}

    .aboutPage-Card-Img:hover {
        background-color: var(--dark-color);
        opacity: .8;
        transition: .15s;
    }

.aboutPage-Card:hover {
    border-color: var(--secondary-color);
    border-style: double;
}

.aboutPage-Card-Bdy {
    background-color: var(--dark-color);
}

.aboutPage-Card-Text {
    text-align: center;
    color: var(--light-color);
}

.aboutPage-History {
    text-align: left;
    color: var(--light-color);
    padding: 40px;
}

.aboutPage-Board {
    text-align: center;
    color: var(--light-color);
    padding: 40px;
}

.aboutPage-Mission {
    text-align: center;
    color: var(--light-color);
    padding: 40px;
}

.aboutPage-h1 {
    color: var(--main-color);
    text-align: center;
    padding: 15px;
    text-decoration: underline;
    font-weight: bold;
    text-decoration-color: var(--secondary-color);
}

/* LOGIN PAGE */

.formContainer {
    margin: 10% auto;
    width: 750px;
    background-color: var(--secondary-color--dark);
    border: ridge 10px;
    border-color: var(--main-color--light);
    box-shadow: inset var(--dark-color) 1px 2px 20px;
}

@media screen and (max-width: 850px) {
    .formContainer {
        width: 100%;
    }
}

#loginForm {
    margin: 25px;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 100%;
    color: var(--light-color);
}

.LoginButton > .btn-warning {
    background-color: var(--secondary-color);
    border: outset 2px;
    border-color: var(--main-color--light);
    font-weight: bold;
    box-shadow: var(--dark-color) .8px .8px 5px;
}

    .LoginButton > .btn-warning:hover {
        background-color: #b57b16;
        border: inset 2px;
        border-color: var(--main-color);
        box-shadow: inset var(--dark-color) 1px 1px 5px;
    }

/* REGISTER PAGE */


/* Style form with smaller size, centered element, discerning background, shape, and shadow */
.Register-form {
    width: 50%;
    margin: 0 auto;
    padding-top: 10px;
    background-color: rgb(50 50 50);
    border-radius: 10px;
    box-shadow: 1px 1px 3px var(--secondary-color), -1px -1px 0px var(--light-color);
}

/* Center align headings and format color and spacing */
.Register-heading2 {
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 25px;
    padding-top: 50px;
}

/* Center align headings and format color and spacing */
.Register-heading4 {
    color: var(--secondary-color);
    text-align: center;
    padding-top: 5px;
}

/* Allow elements to fill entire form and be centered */
.Register-div {
    padding: 10px;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

/* Change background color of input fields */
.Register-input {
    background-color: var(--light-color);
}

/* Hover effects for input fields */
.Register-input:hover {
    box-shadow: 0px 0px 10px var(--secondary-color--dark);
}

/* Style submit button */
.Register-button {
    background-color: var(--secondary-color);
    font-weight: bold;
    margin-bottom: 10px;
}

/* Button hover effect */
.Register-button:hover {
    box-shadow: 0px 0px 5px var(--light-color);
}