
/* CSS color variables */
:root { /* Color palette for css */
    --main-bg-color: #DB1A11; /* Red */
    --main-secondary-color: #F04D44; /* Red, a shade lighter */
    --secondary-color: #D6972A; /* Yellow gold */
    --light-color: #FFFBFB; /* White */
    --dark-color: #000000; /* Black */
    --subscriber-main: #9D7C39; /* Dark Gold */
    --light-blue: rgb(93, 123, 244) /*Light Blue - Added color on top of original*/
}

body {
    padding-bottom: 20px;
    background-color: var(--dark-color);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* Styling and positioning for the Navbar */
.nav > li {
    margin-left: 8px;
    margin-right: 8px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    justify-content: center;
}

.nav > li:hover {
    background-color: #DEB887;
}

.nav > li > a {
    color: #000000;
    font-weight: bold;
}

.navbar-icon-red {
    height: 42px;
    width: auto;
}

.navbar {
    background-color: var(--main-bg-color);
}

.CMS-text-white{
    color: var(--light-color);
}

h1.CMS-text-bigger{
    text-align:center;
    font-size:75px;
}

a.CMS-text-bigger{
    font-size:36px;
}
/*Styling for _Footer.cshtml*/
.footer-all {
    background-color: var(--dark-color);
    color: var(--light-color);
    position: absolute;
    /*bottom: 0; ----------------------- Kevin commented this out because the footer was in the 
     middle of my page. toggling this property in devtools fixed it so it was at the bottom*/
}
.footer-content {
    padding-top: 12px;
    padding-left: 30px;
    padding-right: 30px;
}
.footer-links {
    height: 24px;
    /*height has to be entered manually due to floating elements*/
    /*ensures padding/margin relative to other elements responds as expected*/
}
.footer-address {
    padding-top: 8px;
    line-height: 20px;
}
.footer-copyright {
    width: 115px;
    text-align: right;
    position:absolute;
    bottom: 0;
}
/*Adding CSS for Theatre Vertigo About page*/
.aboutPage-Card-Img {
    width: auto;
    max-width: 100%;
    height: 75%;
    object-fit: cover;
}
.aboutPage-Card-Img:hover {
    background-color: var(--dark-color);
    opacity: .8;
    transition: .15s;
}
.aboutPage-Card:hover {
    border-color: var(--secondary-color);
    border-style: double;
}
.aboutPage-Card-Bdy {
    background-color: var(--dark-color);
}
.aboutPage-Card-Text {
    text-align: center;
    color: var(--light-color);
}
.aboutPage-History {
    text-align: left;
    color: var(--light-color);
    padding: 40px;
}
.aboutPage-Board {
    text-align:center;
    color: var(--light-color);
    padding: 40px;
}
.aboutPage-Mission {
    text-align: center;
    color: var(--light-color);
    padding: 40px;

}
.aboutPage-h1 {
    color: var(--main-bg-color);
    text-align: center;
    padding: 15px;
    text-decoration: underline;
    font-weight: bold;
    text-decoration-color: var(--secondary-color);
}