
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Production-denied--container">
    <div class="Production-denied--padding">
        <div>
            <h2>Access Denied</h2>
            <img class="Production-denied--photo" src="~/Content/images/access_denied.png" alt="Access Denied" />
            <h3>You are not authorized to visit that page</h3>
            <button class="btn btn-dark Production-denied--button">
                @Html.ActionLink("Log in", "Login", "Account", new { area = "" }, htmlAttributes: new { id = "loginLink" })
            </button>
        </div>
    </div>
</div>

