
@{
    ViewBag.Title = "About";
}
<!DOCTYPE html>
<head>
</head>
<body class="page-template page-template-page-templates page-template-full-width-page page-template-page-templatesfull-width-page-php page page-id-41 page-parent custom-background wp-custom-logo siteorigin-panels">
    <div class="Home--About--Logo">
        <div style="position: center;">
            <img src="~/Content/images/theater.jpg" alt="Theater" style="width:100%;" />
            <div class="HOME--About--text-block">
                <h2>About Us</h2>
            </div>
            <div class="Home--About--Column">
                <p class="Home--About--Title">WHO WE ARE</p>
                <p>We seek to engage audiences through compeling, ensemble-driven productions with a focus on developing new works.</p>
                <div />
                <p class="Home--About--Title">COMPANY HISTORY</p>
                <p>
                    In 1997, Theatre Vertigo was founded by Paul Floding, Nanette Pettit and Jeff Meyers. Since then, Theatre Vertigo has performed in numerous spaces including The Russell Street Theater, The Electric Company, Theater!Theater!, and The Shoebox Theater.
                </p>
                <p>
                    From 2003 to 2014, Theatre Vertigo produced Anonymous Theatre as a summer fundraiser in collaboration with The Anonymous Theatre Company. Other past collaborations include defunkt theatre, Stark Raving Theater, and Tears of Joy Theatre.
                </p>
                <p>
                    Theatre Vertigo has worked on world premieres including Faust.Us by Joseph Fisher, 99 Ways to Fuck a Swan by Kim Rosenstock, and The End of Sex by Craig Jessen.
                </p>
                <p>
                    In 2016, Theatre Vertigo produced its first officially commissioned work from a playwright, I Want To Destroy You, by Rob Handel.
                </p>
                <p class="Home--About--Title">ENSEMBLE</p>
                <div class="Home--About--textwidget">
                    <img src="~/Content/images/Cast_Img_1.jpg" style="width: 12%; border-radius: 50%;" />
                    <img src="~/Content/images/Cast_Img_3.jpg" style="width: 15%; border-radius: 50%;" />
                    <img src="~/Content/images/Cast_Img_4.jpg" style="width: 15%; border-radius: 50%;" />
                    <img src="~/Content/images/Cast_Img_6.jpg" style="width: 14%; border-radius: 50%;" />
                    <img src="~/Content/images/Cast_Img_7.jpg" style="width: 16%; border-radius: 50%;" />
                </div>
                <p class="Home--About--Title1">Board</p>
                <p class="Home--About--Names" style="text-align: center;">
                    Jamie Floyd (President)<br>
                    Tom Mounsey<br>
                    Marcia Reyes<br>
                    Lena-Liis-Kiesel<br>
                </p>
            </div>
        </div>
    </div>
</body>
</html>

