
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="container-fluid">
        <img src="~/Content/images/theater.jpg" />
    </div>
    <div style="text-align: center;">
        <h2>About Our Theater</h2>
        <p>Welcome to our theater! We offer a variety of shows and performances to entertain you.</p>
        <p>For showtimes and ticket information, please visit our <a href="/Tickets">Tickets</a> page.</p>
    </div>
    <br />
    <div style="text-align: center;">
        <h3>Company History</h3>
        <p>Our theater has been a cultural hub in the community since 1925, providing a space for creativity and art to flourish.</p>
        <br />
        <h2>ENSEMBLE</h2>
    </div>
    <div <div style="text-align: center;">

        <div class="container-fluid">
            <img src="~/Content/images/ensemble.jpg" />
            <h2>Board</h2>
            <h5>Jamie Floyd (Presidet)</h5>
        </div>

    </div>
</div>



