
@{
    ViewBag.Title = "About";
}
<style>
   .body-content {
       width: 100vw;
       margin: 0;
       padding: 0;
       max-width:100vw;
   } 
    </style>

<!--Header section-->

<div class="Home-About-header">
    <img src="~/Content/images/theater.jpg" />
    <div class="Home-Header-Centered"><h1>About Us</h1></div>
</div>

    <div class="Home-About-Mission">
        <h3><u class="Home-About-underline">MISSION STATEMENT</u></h3>
        <p>
            To engage audiences through ensemble-driven productions with a focus on developing new works
        </p>
    </div>

<!--Body section-->
<div class="Home-About-History">
    <h3><u class="Home-About-underline">COMPANY HISTORY</u></h3>
    <p>
        In 1997, Theatre Vertigo was founded by Paul Floding, Nanette Pettit and Jeff Meyers.  Since then, Theatre Vertigo has performed in numerous spaces including The Russell Street Theater, The Electric Company, Theater!Theatre!, and The Shoebox Theater.


        From 2003 to 2014, Theatre Vertigo produced Anonymous Theatre as a summer fundraiser in collaboration with The Anonymous Theatre Company.  Other past collaborations include defunkt theatre, Stark Raving Theater, and Tears of Joy Theatre.


        Theatre Vertigo has worked on world premieres including Faust.Us by Joseph Fisher, 99 Ways to Fuck a Swan by Kim Rosenstock, and The End of Sex by Craig Jessen.


        In 2016, Theatre Vertigo produced its first officially commissioned work from a playwright, I Want To Destroy You, by Rob Handel.

    </p>
    
</div>

<div class="Home-About-Ensemble">
    <h3><u class="Home-About-underline">ENSEMBLE</u></h3>
    <img class="Home-About-circle" src="~/Content/images/Cast_Img_1.jpg" />
    <p>Kaia Maaria Hiller</p>

    <img class="Home-About-circle" src="~/Content/images/Cast_Img_3.jpg" />
    <p>Heath Hyjin Houghton</p>

    <img class="Home-About-circle" src="~/Content/images/Cast_Img_4.jpg" />
    <p>Jacquelle Davis</p>

    <img class="Home-About-circle" src="~/Content/images/Cast_Img_6.jpg" />
    <p>Victoria Alvarez-Chacon</p>

    <img class="Home-About-circle" src="~/Content/images/Cast_Img_7.jpg" />
    <p>Tom Mounsey</p>

</div>
<div class="Home-About-Board">
    <h3><u class="Home-About-underline">BOARD</u></h3>
    <p>Jamie Floyd(President)</p>
    <p>Tom Mounsey</p>
    <p>Marcia Reyes</p>
    <p>Lena-Liis-Kiesel</p>
</div>

<footer class="Home-About-background-footer">
    <p>
        Copyright ©-All rights are reserved
    </p>

</footer>
