@{
    ViewBag.Title = "About Us";
}

<body class="cms-bg-main-light">
    <div id="home-about--aboutUsBackground">
        <div id="home-about--aboutUs">
            <h2>About Us</h2>
        </div>
    </div>

    <div id="home-about--whoWeAre">
        <div class="home-about--headings">
            <h4>
                WHO WE ARE
            </h4>

        </div>
        <div class="home-about--text">
            We seek to engage audiences through compelling, ensemble-driven productions<br />with a focus on developing new works
        </div>
    </div>

    <div id="home-about--companyHistory">
        <div class="home-about--headings">
            <h4>
                COMPANY HISTORY
            </h4>
        </div>

        <div class="home-about--text">
            <p> In 1997, Theatre Vertigo was founded by Paul Floding, Nanette Pettit and Jeff Meyers.  Since then, Theatre Vertigo has performed in numerous spaces including The Russell Street Theater, The Electric Company, Theater!Theatre!, and The Shoebox Theater.</p>
            <p>From 2003 to 2014, Theatre Vertigo produced Anonymous Theatre as a summer fundraiser in collaboration with The Anonymous Theatre Company.  Other past collaborations include defunkt theatre, Stark Raving Theater, and Tears of Joy Theatre.</p>
            <p>Theatre Vertigo has worked on world premieres including Faust.Us by Joseph Fisher, 99 Ways to Fuck a Swan by Kim Rosenstock, and The End of Sex by Craig Jessen.</p>
            <p>In 2016, Theatre Vertigo produced its first officially commissioned work from a playwright, I Want To Destroy You, by Rob Handel.</p>
        </div>
    </div>

    <div id="home-about--ensembleContainer">
        <div class="home-about--headings">
            <h4>
                ENSEMBLE
            </h4>

        </div>

        <div id="home-about--ensemble">
            <img class="home-about--castImg" src="~/Content/images/Cast_Img_7.jpg" />
            <img class="home-about--castImg" src="~/Content/images/Cast_Img_1.jpg" />
            <img class="home-about--castImg" src="~/Content/images/Cast_Img_3.jpg" />
            <img class="home-about--castImg" src="~/Content/images/Cast_Img_4.jpg" />
            <img class="home-about--castImg" src="~/Content/images/Cast_Img_6.jpg" />
        </div>
        <hr id="home-about--hr" />
    </div>

    <div id="home-about--board">
        <div class="home-about--headings ">
            <h4>
                BOARD
            </h4>
            @*<hr class="about-home--headinghr" />*@

        </div>

        <div class="home-about--text">
            Jamie Floyd (President)<br />
            Tom Mounsey<br />
            Marcia Reyes<br />
            Lena-Liis Kiesel
        </div>
    </div>

</body>
