
@{
    ViewBag.Title = "About";
}
<!--Background image-->
<div class="about-background">
    <img src="~/Content/images/theater.jpg" alt="theater"/>
</div>
<body>
    <div class="about-headline about-Column1">
        <h1>About Us</h1>
        <h2>WHO WE ARE</h2>
        <p> We seek to engage audiences through ensemble-drive productions with a focus on developing new works</p>
        <br />

        <h2>Company History</h2>
        <p>
            In 1997, Theater Vertigo was founded by Paul Floding, Nanette Pettit and Jeff Meyers. Since then, Theatre Vertigo has performed in
            numerous spaces including The Russell Street Theater, The Electric Company, Theater!Theatre!, and The Shoebox Theater.
        </p>
        <br />
        <h2>THE ENSEMBLE</h2>
        <img class="about-photoContainer" src="~/Content/images/Cast_Img_1.png" / alt="cast member 1">
        <img class="about-photoContainer" src="~/Content/images/Cast_Img_3.png" / alt="cast member 2">
        <img class="about-photoContainer" src="~/Content/images/Cast_Img_6.png" / alt="cast member 3">
        <img class="about-photoContainer" src="~/Content/images/Cast_Img_7.png" / alt="cast member 4">

        <br />
        <br />
        <h2>BOARD</h2>
        <p>Jamie Lloyd (President)</p>

    </div>
</body>

