
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="cms-bg-main-light">
    <div class="home-About--TitleImg">
        <h1 class="home-About--TitleTxt">About Us</h1>
    </div>

    <div class="home-About--Who">
        <h1>OUR MISSION</h1>
        <hr class="home-About--Line" />
        <p>
            To engage audiences through ensemble-driven productions with a focus on developing new works.
        </p>
    </div>

    <div class="home-About-GenTxt">
        <h1>COMPANY HISTORY</h1>
        <hr class="home-About--Line" />
        <p>
            In 1997, Theatre Vertigo was founded by Paul Floding, Nanette Pettit and Jeff Meyers.  Since then, Theatre Vertigo has performed in numerous spaces including The Russell Street Theater, The Electric Company, Theater!Theatre!, and The Shoebox Theater.
            <br />
            <br />
            From 2003 to 2014, Theatre Vertigo produced Anonymous Theatre as a summer fundraiser in collaboration with The Anonymous Theatre Company.  Other past collaborations include defunkt theatre, Stark Raving Theater, and Tears of Joy Theatre.
            <br />
            <br />
            Theatre Vertigo has worked on world premieres including Faust.Us by Joseph Fisher, 99 Ways to Fuck a Swan by Kim Rosenstock, and The End of Sex by Craig Jessen.
            <br />
            <br />
            In 2016, Theatre Vertigo produced its first officially commissioned work from a playwright, I Want To Destroy You, by Rob Handel.
        </p>
    </div>

    <div class="home-About--Ensemble">
        <h1>ENSEMBLE</h1>
        <hr class="home-About--Line" />
        <div class="container px-5 py-5">
            <div class="row">
                <div class="col mx-1">
                    <img src="~/Content/images/Cast_Img_7.jpg" class="home-About--Images" alt="Cast member 7" />
                    <h6>TOM MOUNSEY</h6>
                </div>

                <div class="col mx-1">
                    <img src="~/Content/images/Cast_Img_1.jpg" class="home-About--Images" alt="Cast member 1" />
                    <h6>KAIA MAARJA HILLIER</h6>
                </div>

                <div class="col mx-1">
                    <img src="~/Content/images/Cast_Img_3.jpg" class="home-About--Images" alt="Cast member 3" />
                    <h6>HEATH HYUN HOUGHTON</h6>
                </div>

                <div class="col mx-1">
                    <img src="~/Content/images/Cast_Img_4.jpg" class="home-About--Images" alt="Cast member 4" />
                    <h6>JACQUELLE DAVIS</h6>
                </div>

                <div class="col mx-1">
                    <img src="~/Content/images/Cast_Img_6.jpg" class="home-About--Images" alt="Cast member 6" />
                    <h6>VICTORIA ALVAREZ-CHACON</h6>
                </div>

            </div>
        </div>
       
        <h1>BOARD OF DIRECTORS</h1>
        <hr class="home-About--Line" />
        <p>
            Jamie Floyd (President) <br />
            Tom Mounsey<br />
            Marcia Reyes<br />
            Lena-Liis Kiesel<br />
        </p>
    </div>


</body>