
@{
    ViewBag.Title = "About";
}

<style>
    /* makes sections touch left and right side of page */
    .body-content {
        width: 100vw;
        margin: 0;
        padding: 0;
        max-width: 100vw;
    }
</style>

<div class="home-page--container1">
    @* title and background image *@
    <div>
        <img class="img-fluid" src="~/Content/images/theater.jpg" alt="Theater image">
        <div class="">
            <h1 class="home-about--title">About Us</h1>
        </div>
    </div>

    @* mission statement *@
    <div class="home-about--missionStatement">
        <h3 class="home-about--aboutTitles">WHO WE ARE</h3>
        <p class="home-about--statement">We seek to engage audiences through compelling, ensemble-driven productions with a focus on developing new works.</p>
    </div>
</div>

<div class="home-about--historyContainer">
    @* company history *@
    <div>
        <h3 class="home-about--aboutTitles">COMPANY HISTORY</h3>
        <p class="home-about--historyText">
            In 1997, Theatre Vertigo was founded by Paul Floding, Nanette Pettit and Jeff Meyers.  Since then, Theatre Vertigo has performed in numerous spaces including 
            The Russell Street Theater, The Electric Company, Theater!Theatre!, and The Shoebox Theater.   
        </p>
        <p class="home-about--historyText">
            From 2003 to 2014, Theatre Vertigo produced Anonymous Theatre as a summer fundraiser in collaboration with The Anonymous Theatre Company.  
            Other past collaborations include defunkt theatre, Stark Raving Theater, and Tears of Joy Theatre.
        </p>
        <p class="home-about--historyText">
            Theatre Vertigo has worked on world premieres including Faust.Us by Joseph Fisher, 99 Ways to Fuck a Swan by Kim Rosenstock, 
            and The End of Sex by Craig Jessen.
        </p>
        <p class="home-about--historyText">
            In 2016, Theatre Vertigo produced its first officially commissioned work from a playwright, I Want To Destroy You, by Rob Handel.
        </p>
    </div>
</div>

<div>
    @* ensemble *@
    <div class="home-about--ensembleAndBoard">
        <h3 class="home-about--aboutTitles">ENSEMBLE</h3>
        <div class="container">

            @* ensemble images *@
            <div class="row d-flex justify-content-center">
                <div class="col-lg-2 col-md-6">
                    <img class="rounded-circle home-about--ensembleImages" src="~/Content/images/Cast_Img_1.jpg" alt="Ensemble image 1" />
                </div>

                <div class="col-lg-2 col-md-6">
                    <img class="rounded-circle home-about--ensembleImages" src="~/Content/images/Cast_Img_3.jpg" alt="Ensemble image 3" />
                </div>

                <div class="col-lg-2 col-md-6">
                    <img class="rounded-circle home-about--ensembleImages" src="~/Content/images/Cast_Img_4.jpg" alt="Ensemble image 4" />
                </div>

                <div class="col-lg-2 col-md-6">
                    <img class="rounded-circle home-about--ensembleImages" src="~/Content/images/Cast_Img_6.jpg" alt="Ensemble image 6" />
                </div>

                <div class="col-lg-2 col-md-6">
                    <img class="rounded-circle home-about--ensembleImages" src="~/Content/images/Cast_Img_7.jpg" alt="Ensemble image 7" />
                </div>
            </div>
            @* ensemble names *@
            <div class="row d-flex justify-content-center">
                <div class="col-lg-2 col-md-6 home-about--ensembleNames">
                    <p>KAIA MAARJA HILLER</p>
                </div>
                <div class="col-lg-2 col-md-6 home-about--ensembleNames">
                    <p>HEATH HYUN HOUGHTON</p>
                </div>
                <div class="col-lg-2 col-md-6 home-about--ensembleNames">
                    <p>JACQUELLE DAVIS</p>
                </div>
                <div class="col-lg-2 col-md-6 home-about--ensembleNames">
                    <p>VICTORIA ALVAREZ-CHACON</p>
                </div>
                <div class="col-lg-2 col-md-6 home-about--ensembleNames">
                     <p>TOM MOUNSEY</p>
                </div>
            </div>
        </div>
        <hr class="border border-5 opacity-50" />
        @* board names *@
        <h3 class="home-about--aboutTitles">BOARD</h3>
        <div>
            <p class="text-center home-about--boardNames">Jamie Floyd (President)</p>
            <p class="text-center home-about--boardNames">Tom Mounsey</p>
            <p class="text-center home-about--boardNames">Marcia Reyes</p>
            <p class="text-center home-about--boardNames">Lena Liis-Kiesel</p>
        </div>
    </div>
</div>

