
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-photo">
    <img class="background-photo" src="/Content/images/theater.jpg" alt="into photo" style="width:100%;">
    <div class="text-block">
        <h2 class="home-about--header">About Us</h2>
        <h3>WHO WE ARE</h3>
        <h6>
            We seek to engage audiences through compelling, ensemble-driven
            <br />
            productions
            <br />
            with a focus on developing new works.
        </h6>
    </div>
</div>


<section>

    <div class="container-history">
        <h3 class="history-info">COMPANY HISTORY</h3>
        <div>
            <h6 class="company-histoy">
                in 1997, Theatre Vertigo was founded by Paul Floding. Nonelle Pettit and Jeff <br />
                Meyers.
                Since then, Theatre vertigo has performed in numerous spaces including <br /> the Russell Street theatre,
                The Electric Company, theaterTheotrel, and the <br /> ShoeBox Theater.
            </h6>

            <h6 class="middle-paragraph">From 2003 to 2014, Theatre Vertigo produced Anonymous Theatr as a summer <br />
            fundraiser in collaboration with the Anonymous Theatre Company. Other past <br />
            collaborations include defunkt theatre. Stark Raving Theater, and Tears of Joy <br /> Theatre.</h6>

            <h6 class="third-paragraph">Theatre Vertigo has worked on world premieres inclusing Faust.Us by Joseph Fisher. <br />
            99 Ways to Fuck a Swan by Kim Rosenstock, and the End of Sex by Craig Jessen</h6>

            <h6 class="fourth-paragraph">In 2016, Theatre Vertigo produced its first offically commissioned work from a <br /> playwright, I want to Destroy You, by Rob Handel</h6>
        </div>
    </div>

</section>

<div class="img-bottom">
    <div class="item">
        <h3>Ensemble</h3>
        <img class="Tom-profile-pics" src="~/Content/images/Cast_Img_7.jpg" alt="Tom Moulsey" style="width:100%;" />
        <h5>TOM MOUSLEY</h5>
        <img class="Kaia-profile-pics" src="~/Content/images/Cast_Img_1.jpg" alt="Kaia Maaria Hiller" style="width:100%;" />
        <h5>KAIA MAARIA HILLER</h5>
        <img class="Heath-profile-pics" src="~/Content/images/Cast_Img_3.jpg" alt="Heath Houghton" style="width:100%;" />
        <h5>HEATH HOUGHTON</h5>
        <img class="Jacquelie-profile-pics" src="~/Content/images/Cast_Img_4.jpg" alt="Jacquelie Daves" style="width:100%;" />
        <h5>Jaquelle davis</h5>
        <img class="Victoria-Chacon-profile-pics" src="~/Content/images/Cast_Img_6.jpg" alt="Victoria Chacon" style="width:100%;" />
        <h5>Victoria ALVERZ Chacon</h5>
    </div>
</div>


<h3 class="board">BOARD</h3>

<h4 class="president">Jamie Floyd(President)</h4>

