@{
    ViewBag.Title = "About";
}


<div class="about-us-header">
    <h1 style="font-size: 50px ">About Us</h1>
</div>

<body class="about-us-body">
    <div>
        <h3 class="about-us-h3">Mission Statement</h3>
        <p>We seek to engage audiences through compelling, ensemble-driven productions with a focus on developing new works</p>
    </div>
    <div>
        <h3 class="about-us-h3">Company History</h3>
        <p>
          In 1997, Theatre Vertigo was founded by Paul Floding, Nanette Pettit and Jeff Meyers.  Since then, Theatre Vertigo has performed in numerous spaces including The Russell Street Theater, The Electric Company, Theater!Theatre!, and The Shoebox Theater. From 2003 to 2014, Theatre Vertigo produced Anonymous Theatre as a summer fundraiser in collaboration with The Anonymous Theatre Company.  Other past collaborations include defunkt theatre, Stark Raving Theater, and Tears of Joy Theatre. Theatre Vertigo has worked on world premieres including Faust.Us by Joseph Fisher, 99 Ways to Fuck a Swan by Kim Rosenstock, and The End of Sex by Craig Jessen. In 2016, Theatre Vertigo produced its first officially commissioned work from a playwright, I Want To Destroy You, by Rob Handel
        </p>
    </div>
    <div>
        <h3 class="about-us-h3">Ensemble</h3>
        <ul>
            <li><img src="~/Content/images/Cast_Img_6.jpg" class="rounded-circle"/>Victoria Alvarez-Chacon</li>
            <li><img src="~/Content/images/Cast_Img_1.jpg" class="rounded-circle"/>Kaia Maarja Hillier</li>
            <li><img src="~/Content/images/Cast_Img_4.jpg" class="rounded-circle"/>Jacquelle Davis</li>
            <li><img src="~/Content/images/Cast_Img_7.jpg" class="rounded-circle"/>Tom Mounsey</li>
            <li><img src="~/Content/images/Cast_Img_3.jpg" class="rounded-circle"/>Heath Hyun Houghton</li>
        </ul>
    </div>
    <div>
        <h3 class="about-us-h3">Board</h3>
        <ul>
            <li>Jamie Floyd (President)</li>
            <li>Tom Mounsey</li>
            <li>Marcia Reyes</li>
            <li>Lena-Liis Kiesel</li>
        </ul>
    </div>
</body>