@{
    ViewBag.Title = "About Us";
}

<div>
  <div class="h-100 cms-bg-main-light">
    <div class="jumbotron jumbotron-fluid h-25 cms-bg-dark home about-container1">
      <div class="container text-center">
        <img src="..\Content\images\theater.jpg" alt="theatre" style="width:100%;">
        <h1 style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-family: broadway;">ABOUT US</h1>
        <h3 class="text-center" style="text-decoration: underline var(--main-color); font-family: Rockwell;">WHO WE ARE</h3>
        <p class="text-center" style="font-family: Rockwell;">We seek to engage audiences through compelling, ensemble-driven<br>productions<br> with a focus on developing new works.</p>
      </div>
    </div>
    <h3 class="text-center" style="text-decoration: underline var(--main-color); font-family: Rockwell;">COMPANY HISTORY</h3>
    <p class="text-center" style="font-family: Rockwell;">
      In 1997, Theatre Vertigo was founded by Paul Floding, Nanette Pettit and Jeff<br>Meyers.  Since then, Theatre Vertigo has performed in numerous spaces including The<br> Russell Street Theater, The Electric Company, Theater!Theatre!, and The<br> Shoebox Theater.
      <br>
      From 2003 to 2014, Theatre Vertigo produced Anonymous Theatre as a summer<br> fundraiser in collaboration with The Anonymous Theatre Company.  Other past<br> collaborations include defunkt theatre, Stark Raving Theater, and Tears of Joy<br> Theatre.
      <br>
      Theatre Vertigo has worked on world premieres including Faust.Us by Joseph Fisher,<br> 99 Ways to Fuck a Swan by Kim Rosenstock, and The End of Sex by Craig Jessen.
      <br>
      In 2016, Theatre Vertigo produced its first officially commissioned work from a<br> playwright, I Want To Destroy You, by Rob Handel.
    </p>
    <div class="jumbotron jumbotron-fluid h-25 cms-bg-dark home about-container2"> 
      <div class="container text-center">
        <h3 style="text-decoration: underline var(--main-color); font-family: Rockwell; ">ENSEMBLE</h3>
        <div class="about-row about-img">
          <div class="about-column">
            <img src="..\Content\images\Cast_Img_1.jpg" alt="CastMember1" style="width:100%; border-radius:50%; height: 250px; width: 200px;">
            <p style="font-family: Rockwell;">Kaia Maarja Hillier</p>
          </div>
          <div class="about-column">
            <img src="..\Content\images\Cast_Img_3.jpg" alt="CastMember3" style="width: 100%; border-radius: 50%; height: 250px; width: 200px;">
            <p style="font-family: Rockwell;">Heath Hyun Houghton</p>
          </div>
          <div class="about-column">
            <img src="..\Content\images\Cast_Img_4.jpg" alt="CastMember4" style="width: 100%; border-radius: 50%; height: 250px; width: 200px;">
            <p style="font-family: rockwell;">Jacquelle Davis</p>
          </div>
          <div class="about-column">
            <img src="..\Content\images\Cast_Img_6.jpg" alt="CastMember6" style="width: 100%; border-radius: 50%; height: 250px; width: 200px;">
            <p style="font-family: Rockwell;">Victoria Alvarez-Chacon</p>
          </div>
          <div class="about-column">
            <img src="..\Content\images\Cast_Img_7.jpg" alt="CastMember7" style="width: 100%; border-radius: 50%; height: 250px; width: 200px;">
            <p style="font-family: Rockwell;">Tom Mounsey</p>
          </div>
        </div>
        <h3 style="text-decoration: underline var(--main-color);font-family: Rockwell;">BOARD</h3>
        <p style="font-family: Rockwell;">Jamie Floyd (President)</p>
        <p style="font-family: Rockwell;">Tom Mounsey</p>
        <p style="font-family: Rockwell;">Marcia Reyes</p>
        <p style="font-family: Rockwell;">Lena-Liis Kiesel</p>
      </div>
      <br><br><br>
      <div class="text-center">
        <a href="../Home/Donate" class="button donate-button" style="font-family: Rockwell;">DONATE TO THEATRE VERTIGO</a>
      </div>
    </div>
  </div>
</div>