
@{
    ViewBag.Title = "About";
}

<body class="home-about--bodytag">
    <h2>
        <p class="home-about--aboutus">About Us</p>
        <img src="~/Content/images/theater.jpg" alt="Stickman">

        <div class="home-about--whosection">
            <p class="home-about--whoweare">Who We Are</p>
            <div class="home-about--text">
                &nbsp;&nbsp;&nbsp;  We seek to engage audiences through compelling,ensemble-driven productions with a focus on developing new works
            </div>
                
            
        </div>

    </h2>
    <div class="home-about--paragraphcolor">
        <h3>

            <p class="home-about--companyhistory">Company History</p>

            <div class="home-about--paragraph">
                <div>
                    &nbsp;&nbsp;&nbsp; In 1997, Theatre Vertigo was founded by Paul Floding, Nanette Pettit and Jeff Meyers.  Since then, Theatre Vertigo has performed in numerous spaces including The Russell Street Theater, The Electric Company, Theater!Theatre!, and The Shoebox Theatre
                </div>
                <br />
                <div>
                    &nbsp;&nbsp;&nbsp; From 2003 to 2014, Theatre Vertigo produced Anonymous Theatre as a summer fundraiser in collaboration with The Anonymous Theatre Company.  Other past collaborations include defunkt theatre, Stark Raving Theater, and Tears of Joy Theatre
                </div> 
                <br>
         
                <div>
                    &nbsp;&nbsp;&nbsp;  Theatre Vertigo has worked on world premieres including Faust.Us by Joseph Fisher, 99 Ways to Fuck a Swan by Kim Rosenstock, and The End of Sex by Craig Jessen. In 2016, Theatre Vertigo produced its first officially commissioned work from a playwright, I Want To Destroy You, by Rob Handel.
                </div>
            </div>
        </h3>
    </div>

    <div class="home-about--ensemble">

        <p>ENSEMBLE </p>


    </div>


    <div class="home-about--row">

        <div class="home-about--colum">
            <img src="~/Content/images/Cast_Img_6.jpg"/> 
            <p>Victoria Alvarez-Chacon </p>
        </div>
        <div class="home-about--colum">
            <img src="~/Content/images/Cast_Img_1.jpg" />  
            <p>Kaia Maarja Hillier</p>
        </div>
        <div class="home-about--colum">

            <img src="~/Content/images/Cast_Img_4.jpg"/>
            <p> Jacquelle Davis</p>
        </div>
        <div class="home-about--colum">
            <img src="~/Content/images/Cast_Img_7.jpg"/>
            <p>Tom Mounsey</p>
        </div>
        <div class="home-about--colum">
            <img src="~/Content/images/Cast_Img_3.jpg"/>
            <p>Health Hyan Houghton</p>
        </div>
    </div>

    <div class="home-about--board">
        <p>Board</p>
    </div>
    <div class="home-about--president">
        <p>
            Jamie Floyd (President)<br />
            Tom Mounsey <br />
            Marcia Reyes <br />
            Lena-Liis Kiesel
        </p>
    </div>


</body>


