
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="home-about--container-photo">

    <div class="home-about--container">
        <div class="home-about--text-block">
            <img src="~/Content/images/theater.jpg" alt="Snow" style="width:100%;">
        </div>
        <h1 div class="home-about--centered">About Us</h1>


        <h3 div class="home-about--underline">WHO WE ARE</h3>
        <br />
        <h5 class="home-about--firstSentence">
            We seek to engage audiences through compelling, ensemble-driven
        </h5>
        <br />

        <h5 class="home-about--productionLable">
            productions
        </h5>
        <br />

        <h5>
            with a focus on developing new works.
        </h5>
        <br />

        <!-- </div> -->
    </div>
        <section>
            <div class="home-about--container-history">

                <h3 class="home-about--underline2">COMPANY HISTORY</h3>
                <br />

                <div class="home-about--paragraphs">
                    <h6 class="home-about--company-histoy">
                        in 1997, Theatre Vertigo was founded by Paul Floding. Nonelle Pettit and Jeff <br />
                        Meyers.
                        Since then, Theatre vertigo has performed in numerous spaces including <br /> the Russell Street theatre,
                        The Electric Company, theaterTheotrel, and the <br /> ShoeBox Theater.
                    </h6>

                    <h6 class="home-about--middle-paragraph">
                        From 2003 to 2014, Theatre Vertigo produced Anonymous Theatre as a summer <br />
                        fundraiser in collaboration with the Anonymous Theatre Company. Other past <br />
                        collaborations include defunkt theatre. Stark Raving Theater, and Tears of Joy <br /> Theatre.
                    </h6>

                    <h6 class="home-about--third-paragraph">
                        Theatre Vertigo has worked on world premieres inclusing Faust.Us by Joseph Fisher. <br />
                        99 Ways to Fuck a Swan by Kim Rosenstock, and the End of Sex by Craig Jessen
                    </h6>



                    <h6 class="home-about--fourth-paragraph">In 2016, Theatre Vertigo produced its first offically commissioned work from a <br /> playwright, I want to Destroy You, by Rob Handel</h6>
                    <br />
                    <br />
                </div>
            </div>
    </section>
</div>



    <div class="home-about--img-bottom">
        <div class="home-about--item">
            <div>
                <h4 class="home-about--underline3">ENSEMBLE</h4>
            </div>
            <div class="home-about--images">
                <div class="home-about--pics">
                    <img src="~/Content/images/Cast_Img_7.jpg" alt="Tom Moulsey" style="width:100%;" />
                    <h6 class="home-about--tom">TOM MOUSLEY</h6>
                </div>
                <div class="home-about--pics">
                    <img src="~/Content/images/Cast_Img_1.jpg" alt="Kaia Maaria Hiller" style="width:100%;" />
                    <h6 class="home-about--kaia">KAIA MAARIA HILLER</h6>
                </div>
                <div class="home-about--pics">
                    <img src="~/Content/images/Cast_Img_3.jpg" alt="Heath Houghton" style="width:100%;" />
                    <h6 class="home-about--heath">HEATH  HOUGHTON</h6>
                </div>
                <div class="home-about--pics">
                    <img src="~/Content/images/Cast_Img_4.jpg" alt="Jacquelie Daves" style="width:100%;" />
                    <h6 class="home-about--jacquelie">JACQUELIE DAVES</h6>
                </div>
                <div class="home-about--pics">
                    <img src="~/Content/images/Cast_Img_6.jpg" alt="Victoria Chacon" style="width:100%;" />
                    <h6 class="home-about--victoria">VICTORIA ALVERZ CHACON</h6>
                </div>
            </div>
        </div>
    </div>


    <div class="home-about--boardWrapper">
        <div class="home-about--line"></div>
        <div class="home-about--Board">
            <div>
                <h4 class="home-about--underline4">BOARD</h4>
                <h5 class="home-about--president">Jamie Floyd (President)</h5>
            </div>
        </div>
    </div>



  
<style>
    .container, .body-content{

        padding-right: 0px;
        padding-left: 0px;
        margin-right: 0px;
        margin-left: 0px;
        max-width: 100%;
        background-color: black;
    }
</style>





