
@{
    ViewBag.Title = "About";
}
<div style="padding: 0px 0px;">
    <div class="position-relative">
        <h2 class="text-center position-absolute mx-auto pt-5 text-black" style="width:85vw; font-size:70px"><b>ABOUT US</b></h2>
        <img class="img-fluid" src="~/Content/images/theater.jpg" alt="Alternate Text" />

    </div>
    
    <div class="lead cms-bg-dark m-5 p-5 border">
        <h3 style="font-variant:small-caps">Mission Statement</h3>
        <p class="cms-text-secondary">To engage audiences through ensemble-driven productions with a focus on developing new works</p>
    </div>

    <div class="cms-bg-main mb-5 p-5 rounded-pill">
        <h3 class="text-center pb-4" style="font-variant:small-caps; font-size:40px;">Company History</h3>
        <div class="pl-2 pr-2 text-center">
            <p>In 1997, Theatre Vertigo was founded by Paul Floding, Nanette Pettit and Jeff Meyers.  Since then, Theatre Vertigo has performed in numerous spaces including The Russell Street Theater, The Electric Company, Theater!Theatre!, and The Shoebox Theater.</p>
            <p>From 2003 to 2014, Theatre Vertigo produced Anonymous Theatre as a summer fundraiser in collaboration with The Anonymous Theatre Company.  Other past collaborations include defunkt theatre, Stark Raving Theater, and Tears of Joy Theatre.</p>
            <p>Theatre Vertigo has worked on world premieres including Faust.Us by Joseph Fisher, 99 Ways to Fuck a Swan by Kim Rosenstock, and The End of Sex by Craig Jessen.</p>
            <p>In 2016, Theatre Vertigo produced its first officially commissioned work from a playwright, I Want To Destroy You, by Rob Handel.</p>
        </div>
    </div>

    <div class="container cms-bg-dark mb-5 p-5">
        <h3 class="text-center" style="font-variant:small-caps">Ensemble</h3>
        <div class="row row-cols-5 text-center">
            <div class="card-body">
                <img class="Home-About-EnsembleImg" src="~/Content/images/Cast_Img_1.jpg" alt="Kaia Maarja Hillier" />
                <p class="card-title">Kaia Maarja Hillier</p>
            </div>
            <div class="card-body">
                <img class="Home-About-EnsembleImg" src="~/Content/images/Cast_Img_3.jpg" alt="Heath Hyun Houghton" />
                <p class="card-title">Heath Hyun Houghton</p>
            </div>
            <div class="card-body">
                <img class="Home-About-EnsembleImg" src="~/Content/images/Cast_Img_7.jpg" alt="Tom Mounsey" />
                <p class="card-title">Tom Mounsey</p>
            </div>
            <div class="card-body">
                <img class="Home-About-EnsembleImg" src="~/Content/images/Cast_Img_4.jpg" alt="Jacquelle Davis" />
                <p class="card-title">Jacquelle Davis</p>
            </div>
            <div class="card-body">
                <img class="Home-About-EnsembleImg" src="~/Content/images/Cast_Img_6.jpg" alt="Victoria Alvarez-Chacon" />
                <p class="card-title">Victoria Alvarez-Chacon</p>
            </div>
        </div>
    </div>
    <div class="border p-3">
        <h3 style="font-variant:small-caps">Board</h3>
        <div class="m-0 row">
            <p class="col">Jamie Floyd (<em>President</em>)</p>
            <p class="col">Tom Mounsey</p>
            <p class="col">Marcia Reyes</p>
            <p class="col">Lena-Liis-Kiesel</p>
        </div>
    </div>
</div>
@*left off trying to get peoples circles to be circles*@