
@{
    ViewBag.Title = "About";
}
<link href="~/Content/Areas/Blog.css" rel="stylesheet" />
<div style="max-width: 100%; width: 100%;">
  <div class="blog-about--theater_img_container">
    <h1 class="blog-about--broadway_font">About Us</h1>
    <img src="/Content/images/theater.jpg" />
  </div>
  <div class="blog-about--heading_container">
    <h3>WHO WE ARE</h3>
    <p>We seek to engage audiences through ensemble-driven productions with a focus on developing new works</p>
  </div>
  <div class="blog-about--company_history_container">
    <h3>COMPANY HISTORY</h3>
    <p>
      In 1997, Theatre Vertigo was founded by Paul Floding, Nanette Pettit and Jeff Meyers.  Since then, Theatre Vertigo has performed in numerous spaces including The Russell Street Theater, The Electric Company, Theater!Theatre!, and The Shoebox Theater.
    </p>

    <p>From 2003 to 2014, Theatre Vertigo produced Anonymous Theatre as a summer fundraiser in collaboration with The Anonymous Theatre Company.  Other past collaborations include defunkt theatre, Stark Raving Theater, and Tears of Joy Theatre.</p>

    <p>Theatre Vertigo has worked on world premieres including Faust.Us by Joseph Fisher, 99 Ways to Fuck a Swan by Kim Rosenstock, and The End of Sex by Craig Jessen.</p>

    <p>
      In 2016, Theatre Vertigo produced its first officially commissioned work from a playwright, I Want To Destroy You, by Rob Handel.
    </p>
  </div>
  <div class="blog-about--ensemble_container">
    <h3>ENSEMBLE</h3>
    <div class="blog-about--cast_images_container">
      <div class="blog-about--single_image">
        <img src="/Content/images/Cast_Img_1.jpg" />
        <p>KALA MAARJA HELLIER</p>
      </div>
      <div class="blog-about--single_image">
        <img src="/Content/images/Cast_Img_3.jpg" />
        <p>HEATH HYLIN HOUGHTON</p>
      </div>
      <div class="blog-about--single_image">
        <img src="/Content/images/Cast_Img_4.jpg" />
        <p>JACQUELLE DAVIS</p>
      </div>
      <div class="blog-about--single_image">
        <img src="/Content/images/Cast_Img_6.jpg" />
        <p>VICTORIA ALVEREZ-CHACON</p>
      </div>
      <div class="blog-about--single_image">
        <img src="/Content/images/Cast_Img_7.jpg" />
        <p>TOM MOUNSEY</p>
      </div>
    </div>

  </div>
  <div class="blog-about--hr_div"><hr /></div>
  <div class="blog-about--board_container">
    <h3>BOARD</h3>
    <ul>
      <li>Jamie Floyd (President)</li>
      <li>Tom Mounsey (Vice Persident)</li>
      <li>Kala Maarja Hellier (Manager)</li>
      <li>Heath Hylin Houghton (Director)</li>
      <li>Jacquelle Davis (Producer)</li>
      <li>Victoria Alverez-Chacon (Organizer)</li>
    </ul>
  </div>
</div>
  


