
@{
  ViewBag.Title = "About";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="~/Content/Site.css" />
</head>

<body>




  <div class="container">
    <img src="~/Content/images/theater.jpg" width="1200" height="400" />

    <center>
      <h1 class="home-about-centered" style="font-family:Broadway">About Us</h1>
      <h4 class="cms-text-light" style=" font-family: sans-serif">WHO WE ARE</h4>
      <p>We seek to engage audiences through ensemble-driven productions with a focus on developing new works</p>
      <br />
      <h4 class="cms-text-light" style=" font-family: sans-serif">Company History</h4>
      <p>
        In 1997, Theatre Vertigo was founded by Paul Floding, Nanette Pettit and Jeff Meyers.  Since then, Theatre Vertigo has performed in numerous spaces including The Russell Street Theater, The Electric Company, Theater!Theatre!, and The Shoebox Theater.<br />
      </p>
      <br />
      <h4 class="cms-text-light" style=" font-family: sans-serif">ENSEMBLE</h4>
      <img class="img-fluid" src="~/Content/images/Cast_Img_1.png" alt="Kaia Miller " width="75" height="75" />
      <img class="img-fluid" src="~/Content/images/Cast_Img_3.png" width="75" height="75" />
      <img class="img-fluid" src="~/Content/images/Cast_Img_6.png" width="75" height="75" />
      <img class="img-fluid" src="~/Content/images/Cast_Img_7.png" width="75" height="75" />
      <br />
      <br />
      <h4 class="cms-text-light" style=" font-family: sans-serif">BOARD</h4>
      <p>Jamie Floyd (President)</p>
    </center>
  </div>


</body>

