
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>

<body>

      


      <div class="container">
          <img src="~/Content/images/theater.jpg" width="1200" height="400" />

          <center>
              <h1 class="home-about-centered" style="font-family:Broadway">About Us</h1>
              <h4 class="cms-text-light" style=" font-family: sans-serif">WHO WE ARE</h4>
              <p>We seek to engage audiences through ensemble-driven productions with a focus on developing new works</p>
              <br />
              <h4 class="cms-text-light" style=" font-family: sans-serif">Company History</h4>
              <p>
                  In 1997, Theatre Vertigo was founded by Paul Floding, Nanette Pettit and Jeff Meyers.  Since then, Theatre Vertigo has performed in numerous spaces including The Russell Street Theater, The Electric Company, Theater!Theatre!, and The Shoebox Theater.<br />

                  From 2003 to 2014, Theatre Vertigo produced Anonymous Theatre as a summer fundraiser in collaboration with The Anonymous Theatre Company.  Other past collaborations include defunkt theatre, Stark Raving Theater, and Tears of Joy Theatre.<br />

                  Theatre Vertigo has worked on world premieres including Faust.Us by Joseph Fisher, 99 Ways to Fuck a Swan by Kim Rosenstock, and The End of Sex by Craig Jessen.<br />

                  In 2016, Theatre Vertigo produced its first officially commissioned work from a playwright, I Want To Destroy You, by Rob Handel.<br />
              </p>
              <br />
              <h4 class="cms-text-light" style=" font-family: sans-serif">ENSEMBLE</h4>
              <img class="img-fluid" src="~/Content/images/Cast_Img_1.jpg" alt="Kaia Miller " width="75" height="75" />
              <img class="img-fluid" src="~/Content/images/Cast_Img_3.jpg" width="75" height="75" />
              <img class="img-fluid" src="~/Content/images/Cast_Img_4.jpg" width="75" height="75" />
              <img class="img-fluid" src="~/Content/images/Cast_Img_6.jpg" width="75" height="75" />
              <img class="img-fluid" src="~/Content/images/Cast_Img_7.jpg" width="75" height="75" />
              <br />
              <br />
              <h4 class="cms-text-light" style=" font-family: sans-serif">BOARD</h4>
              <p>Jamie Floyd (President)</p>
          </center>
      </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</body>

