<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>

<body>
    <div class="Home-About-Container">
        <img src="~/Content/images/theater.jpg" class="img-fluid" alt="Picture of theatre">
        <div class="Home-About-Centeredtxt">About Us</div>
    </div>
    <div class="Home-About-CompanyHistory">
        <p>Company History</p>
    </div>
    <div class="Home-About-HistoryContent">
        <p>
            In 1997, Theatre Vertigo was founded by Paul Floding, Nanette Pettit and Jeff Meyers.
            Since then, Theatre Vertigo has performed in numerous spaces including The Russell Street Theater
            , The Electric Company, Theater!Theater! , and The Shoebox Theater.
        </p>

        <p>
            From 2003 to 2014, Theatre Vertigo produced Anonymous Theatre as a summer fundraiser in collaboration with the
            Anonymous Theatre Company. Other past collaborations include defunkt theatre, Stark Raving Theater, and Tears of
            Joy Theatre.
        </p>

        <p>
            Theatre Vertigo has worked on world premieres including Faust. Us by Joseph Fisher, 99 Ways to Fuck a Swan by
            Kim Rosenstock, and The End of Sex by Craig Jessen.

            In 2016, Theatre Vertigo produced it's first officially commissioned worked from a playwright, I Want To Destroy You, By Rob Handel.
        </p>
    </div>

    <div class="Home-About-Ensemble">
        <p>Theatre Vertigo Ensemble</p>
    </div>
    <div class="Home-About-Pictures">
        <img src="~/Content/images/Cast_Img_1.jpg" class="img-fluid" alt="Cast Picture" />
        <img src="~/Content/images/Cast_Img_3.jpg" class="img-fluid" alt="Cast Picture" />
        <img src="~/Content/images/Cast_Img_4.jpg" class="img-fluid" alt="Cast Picture" />
        <img src="~/Content/images/Cast_Img_7.jpg" class="img-fluid" alt="Cast Picture" />
        <img src="~/Content/images/Cast_Img_6.jpg" class="img-fluid" alt="Cast Picture" />
    </div>
    <div class="Home-About-Names">
        <p> Kaia Maarja Hillier   |   Heath Hyun Houghton   |   Jacquelle Davis   |  Tom Mounsey   | Victoria Alvarez-Chacon </p>
    </div>
    <div class="Home-About-Board">
        <p>Board</p>
    </div>

    <div class="Home-About-BoardList">
        <ul class="Home-About-List">
            <li> Jamie Floyd (President)</li>
            <li> Tom Mounsey</li>
            <li> Marcia Reyes</li>
            <li> Lena-Liis-Kiesel</li>
        </ul>
    </div>
</body>
</html>




