@{
    ViewBag.Title = "About Us";
}

<meta name="viewport" content="width=device-width, initial-scale=1" />
<div class="all-page">
  <div id="about-header">
    <div class="about-text">
      <h1>About Us</h1>
    </div>
  </div>

  <div class="section-head">
    <h5 class="About-Header">WHO WE ARE</h5>
    <p class="paragraph-margin">We seek to engage audiences through compelling, ensemble-driven <br />productions <br /> with a focus on developing new works</p>
  </div>


  <div class="main-body">
    <h5 class="company-margin About-Header">COMPANY HISTORY</h5>
    <p class="paragraph-margin">
      In 1997, Theatre Vertigo was founded by Paul Floding, Nanette Pettit and Jeff Meyers.  Since then, Theatre Vertigo has performed in numerous spaces including The Russell Street Theater, The Electric Company, Theater!Theatre!, and The Shoebox Theater.<br /><br />

      From 2003 to 2014, Theatre Vertigo produced Anonymous Theatre as a summer fundraiser in collaboration with The Anonymous Theatre Company.  Other past collaborations include defunkt theatre, Stark Raving Theater, and Tears of Joy Theatre.<br /><br />

      Theatre Vertigo has worked on world premieres including Faust.Us by Joseph Fisher, 99 Ways to Fuck a Swan by Kim Rosenstock, and The End of Sex by Craig Jessen.<br /><br />

      In 2016, Theatre Vertigo produced its first officially commissioned work from a playwright, I Want To Destroy You, by Rob Handel.
    </p>
  </div>

  <div class="bottom-container">
    <h5 class="ensemble-margin About-Header">ENSEMBLE</h5>
    <div class="item">
      <img class="profile-photo" src="~/Content/images/Cast_Img_7.jpg" />
      <span class="caption">TOM MOUNSEY</span>
    </div>
    <div class="item">
      <img class="profile-photo" src="~/Content/images/Cast_Img_1.jpg" alt="" />
      <span class="caption">KAIA MAARJA HILLIER</span>
    </div>
    <div class="item">
      <img class="profile-photo" src="~/Content/images/Cast_Img_3.jpg" alt="" />
      <span class="caption">HEATH HYUN HOUGHTON</span>
    </div>
    <div class="item">
      <img class="profile-photo" src="~/Content/images/Cast_Img_4.jpg" alt="" />
      <span class="caption">JACQUELLE DAVIS</span>
    </div>
    <div class="item">
      <img class="profile-photo" src="~/Content/images/Cast_Img_6.jpg" alt="" />
      <span class="caption">VICTORIA ALVAREZ-CHACON</span>
    </div>

    <hr class="rounded" />

    <h5 class="About-Header">BOARD</h5>
    <p>Jamie Floyd (President)<br />
    Tom Mounsey<br />
    Marcia Reyes<br />
    Lena-Liis Kiesel</p>
  </div>


</div>