
@{
    ViewBag.Title = "About";

}
<head>
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <div class="theater">
        <img src="~/Content/images/theater.jpg" alt="Theater">
    </div>
        <h1 class="abouth1">About Us</h1>
    <br />
        <h3 class="abouth3">WHO WE ARE</h3>
            <p class="aboutp">We seek to engage audiences through ensemble-driven productions with a docus on developing new works</pclass="aboutp">
    <br />
        <h3 class="abouth3">Company History</h3>
            <p class="aboutp">In 1997, Theatre Vertigo was founded by Paul Floding, Nanette Pettit, and Jeff Meyers. Since then, Theatre Vertigo has performed in numeous
                spaces including The Russell Street Theater, The Electric Company, Theater!Theatre!, and the Shoebox Theater</p="aboutp">
    <br />
        <h3 class="abouth3">ENSEMBLE</h3>
            <div class="ensemble">
                <img src="~/Content/images/ensemble.jpg" alt="ensemble">
            </div>
    <br />
    <br />
        <h3 class="abouth3">BOARD</h3>
            <p class="aboutp">Jamie Floyd (President)</p>
</body>
