
@{
  ViewBag.Title = "About";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--First third of page-->

<div class="container-fluid home-about--theatreContainer">

  <!--Image of theatre-->

  <img class ="home-about--theatreImage"src=" ../../Content/images/theater.jpg " alt="picture of theater">

  <!--Overall title "About Us"-->

  <div class="home-about--overalltitle">About Us</div>

  <!--Minor title "Who We Are"-->

  <div class="home-about--minorTitle">WHO WE ARE</div>

  <p>We seek to engage audiences through compelling, ensemble-driven productions with a focus on developing new works.</p>

</div>
  
  

  <!--Second third of page-->

    <div class="home-about--secondThirdSectBG">

      <div class="home-about--minorTitle">COMPANY HISTORY</div>

      <div class="home-about-secondThirdSectText">

        <p>
          In 1997, Theatre Vertigo was founded by Paul Floding, Nanette Pettit and Jeff Meyers.  Since then, Theatre Vertigo has performed in numerous spaces including The Russell Street Theater, The Electric Company, Theater!Theatre!, and The Shoebox Theater.
        </p>

        <p>
          From 2003 to 2014, Theatre Vertigo produced Anonymous Theatre as a summer fundraiser in collaboration with The Anonymous Theatre Company.  Other past collaborations include defunkt theatre, Stark Raving Theater, and Tears of Joy Theatre.

        </p>

        <p>
          Theatre Vertigo has worked on world premieres including Faust.Us by Joseph Fisher, 99 Ways to Fuck a Swan by Kim Rosenstock, and The End of Sex by Craig Jessen.

        </p>

        <p>
          In 2016, Theatre Vertigo produced its first officially commissioned work from a playwright, I Want To Destroy You, by Rob Handel.

        </p>
      </div>
    </div>
 
  

<!--Third third of page-->

<div class="container-fluid">

  <!--Minor title "Ensemble"-->

  <div class="home-about--minorTitle">ENSEMBLE</div>
  <br />

  <!--Cast images and names-->

  <div>
    <div class="row">

      <div class="col">
        <div class="card home-about--cardStyling">
          <img class="card-img-top home-about--castPhotoStyling" src="../../Content/images/Cast_Img_7.jpg" alt="Tom Mounsey">
          <div class="card-body">
            <h5 class="card-title">Tom Mounsey</h5>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card home-about--cardStyling">
          <img class="card-img-top home-about--castPhotoStyling" src="../../Content/images/Cast_Img_1.jpg" alt="Kaia Maarja Hillier">
          <div class="card-body">
            <h5 class="card-title">Kaia Maarja Hillier</h5>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card home-about--cardStyling">
          <img class="card-img-top home-about--castPhotoStyling" src="../../Content/images/Cast_Img_3.jpg" alt="Heath Hyun Houghton">
          <div class="card-body">
            <h5 class="card-title">Heath Hyun Houghton</h5>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card home-about--cardStyling">
          <img class="card-img-top home-about--castPhotoStyling" src="../../Content/images/Cast_Img_4.jpg" alt="Jacquelle Davis">
          <div class="card-body">
            <h5 class="card-title">Jacquelle Davis</h5>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card home-about--cardStyling">
          <img class="card-img-top home-about--castPhotoStyling" src="../../Content/images/Cast_Img_6.jpg" alt="Victoria Alvarez-Chacon">
          <div class="card-body">
            <h5 class="card-title">Victoria Alvarez-Chacon</h5>
          </div>
        </div>
      </div>

    </div>
  </div>

  <br />


  <!--Thick line to separate cast from board section-->

  <hr class="home-about--lineStyle">

  <!--Board section-->

  <div class="home-about--minorTitle">BOARD</div>

  <ul class="home-about--listStyle">
    <li>Jamie Floyd (President)</li>
    <li>Tom Mounsey</li>
    <li>Marcia Reyes</li>
    <li>Lena-Liis Kiesel</li>
  </ul>
</div>
