
<style>
  .body-content {
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
</style>

<div class="container-fluid w-100 mx-0 px-0 about-us-bg">
  @{
    ViewBag.Title = "About Us";
  }


  <div class="about-us-banner ml-0 mr-0">
    <h1 class="text-center">About Us</h1>
  </div>


  <div class="container-fluid m-0 about-us about-us-dark1">
    <h2>WHO WE ARE</h2>
    <hr />
    <p>We seek to engage audiences through compelling, ensemble-driven productions with a focus on developing new works</p>
  </div>


  <div class="container-fluid m-0 about-us about-us-light">
    <h2>COMPANY HISTORY</h2>
    <hr />
    <p>In 1997, Theatre Vertigo was founded by Paul Floding, Nanette Pettit and Jeff Meyers.  Since then, Theatre Vertigo has performed in numerous spaces including The Russell Street Theater, The Electric Company, Theater!Theatre!, and The Shoebox Theater.</p>

    <p>From 2003 to 2014, Theatre Vertigo produced Anonymous Theatre as a summer fundraiser in collaboration with The Anonymous Theatre Company.  Other past collaborations include defunkt theatre, Stark Raving Theater, and Tears of Joy Theatre.</p>

    <p>
      Theatre Vertigo has worked on world premieres including Faust.Us by Joseph Fisher, 99 Ways to Fuck a Swan by Kim Rosenstock, and The End of Sex by Craig Jessen.

      In 2016, Theatre Vertigo produced its first officially commissioned work from a playwright, I Want To Destroy You, by Rob Handel.
    </p>
  </div>


  <div class="container-fluid about-us about-us-dark2">
    <h2>ENSEMBLE</h2>
    <hr /><br />
          <div class="au-grid">
            <div class="about-us-center">
              <img src="~/Content/images/Cast_Img_1.jpg" alt="cast member" />
              <br /><br />
              <p>Kaia Maarja Hillier</p>
            </div>
            <div class="about-us-center">
              <img src="~/Content/images/Cast_Img_3.jpg" alt="cast member" />
              <br /><br />
              <p>Heath Hyun Houghton</p>
            </div>
            <div class="about-us-center">
              <img src="~/Content/images/Cast_Img_4.jpg" alt="cast member" />
              <br /><br />
              <p>Jacquelle Davis</p>
            </div>
            <div class="about-us-center">
              <img src="~/Content/images/Cast_Img_6.jpg" alt="cast member" />
              <br /><br />
              <p>Victoria Alvarez-Chacon</p>
            </div>
            <div class="about-us-center">
              <img src="~/Content/images/Cast_Img_7.jpg" alt="cast member" />
              <br /><br />
              <p>Tom Mounsey</p>
            </div>
          </div>
  </div>


  <div class="container-fluid cms-bg-dark about-us">
    <h2>BOARD</h2>
    <hr />
    <p>Jamie Floyd (President)</p>
    <p>Tom Mounsey</p>
    <p>Marcia Reyes</p>
    <p>Lena-Liis Kiesel</p>
  </div>
</div>