<!DOCTYPE Html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css"/>
  </head>
  <body class="text-center">
    <div class="body-content">
      <header style="position:relative;">        
        <img class="mb-5" src="~/Content/images/theater.jpg" style="height:80vh; width:90vw;" />
        <h1 style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-family:Broadway;">
          ABOUT US
        </h1>
      </header>   
      <div class="text-center">
        <h3 class="mt-5"><u style="text-decoration-color:#db1a11;">MISSION STATEMENT</u></h3>
        <p>We seek to engage audiences through compelling, ensemble-driven productions with a focus on developing new works</p>
        
        <h3 class="mt-5 pt-4"><u style="text-decoration-color:#db1a11;">COMPANY HISTORY</u></h3>
        <p>
          In 1997, Theatre Vertigo was founded by Paul Floding, Nanette Pettit and Jeff Meyers.  Since then, Theatre Vertigo has performed in numerous spaces including The Russell Street Theater, The Electric Company, Theater!Theatre!, and The Shoebox Theater.

          From 2003 to 2014, Theatre Vertigo produced Anonymous Theatre as a summer fundraiser in collaboration with The Anonymous Theatre Company.  Other past collaborations include defunkt theatre, Stark Raving Theater, and Tears of Joy Theatre.

          Theatre Vertigo has worked on world premieres including Faust.Us by Joseph Fisher, 99 Ways to Fuck a Swan by Kim Rosenstock, and The End of Sex by Craig Jessen.

          In 2016, Theatre Vertigo produced its first officially commissioned work from a playwright, I Want To Destroy You, by Rob Handel.
        </p>

        <h3 class="mt-5 pt-4"><u style="text-decoration-color:#db1a11;">ENSEMBLE</u></h3>
          <div class="container">
            <div class="row">
              <style> img {max-height:20vh; max-width:35vw;}
              </style>
              <div class="col-xs">
                <img class="rounded-circle" src="~/Content/images/Cast_Img_1.jpg" />
                <p class="small">Kaia Maarja Hillier</p>
              </div>
              <div class="col-sm">
                <img class="rounded-circle" src="~/Content/images/Cast_Img_3.jpg" />
                <p class="small">Heath Hyun Houghton</p>
              </div>
              <div class="col-xs">
                <img class="rounded-circle" src="~/Content/images/Cast_Img_4.jpg" />
                <p class="small">Jacquelle Davis</p>
              </div>
              <div class="col-sm">
                <img class="rounded-circle" src="~/Content/images/Cast_Img_6.jpg" />
                <p class="small">Victoria Alvarez-Chacon</p>
              </div>
              <div class="col-1">
                <img class="rounded-circle" src="~/Content/images/Cast_Img_7.jpg" />
                <p class="small">Tom Mounsey</p>
              </div>
            </div>
          </div>

        <h3 class="mt-5"><u style="text-decoration-color:#db1a11;">BOARD</u></h3>
        <dl>
          <dt>Jamie Floyd (President)</dt>
          <dt>Tom Mounsey</dt>
          <dt>Marcia Reyes</dt>
          <dt>Lena-Liis Kiesel</dt>
        </dl>
      </div>
    </div>
  </body>

</html>


