<style>
  /*As suggested, internal styles to make sections touch the left and right side of the screen*/
  .about--body_content {
    width: 100vw;
    margin: 0;
    padding: 0;
    max-width: 100vw;
  }
</style>
﻿<div class="about--body_content cms-bg-main-light">
  @{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
  }

  @*---TITLE SECTION---*@

  <div class="about--title_container">
  @*Title*@
    <h1 class="about--title_text">About Us</h1>

  @*Mission Statement*@
    <div class="about--mission_statement_container">
      <div class="about--text">
        <h2 class="about--headers">Mission Statement</h2>
        <p>We seek to engage audiences through compelling, ensemble-driven productions with a focus on developing new works</p>
      </div>
    </div>

  </div>

  @*---HISTORY SECTION---*@
  <div class="about--history_container">
    <div class="about--text">
  @*Title*@
      <h2 class="about--headers">History</h2>
  @*Seperate <p> elements to create spacing between paragraphs(<br>'s are not permitted)*@
      <p class="about--paragraph_text">
        In 1997, Theatre Vertigo was founded by Paul Floding, Nanette Pettit and Jeff Meyers.  Since then, Theatre Vertigo has performed in numerous spaces including The Russell Street Theater, The Electric Company, Theater!Theatre!, and The Shoebox Theater.
      </p>
      <p class="about--paragraph_text">
        From 2003 to 2014, Theatre Vertigo produced Anonymous Theatre as a summer fundraiser in collaboration with The Anonymous Theatre Company.  Other past collaborations include defunkt theatre, Stark Raving Theater, and Tears of Joy Theatre.
      </p>
      <p class="about--paragraph_text">
        Theatre Vertigo has worked on world premieres including Faust.Us by Joseph Fisher, 99 Ways to Fuck a Swan by Kim Rosenstock, and The End of Sex by Craig Jessen.
      </p>
      <p class="about--paragraph_text">
        In 2016, Theatre Vertigo produced its first officially commissioned work from a playwright, I Want To Destroy You, by Rob Handel.
      </p>
    </div>
  </div>

  @*---ENSEMBLE SECTION---*@
    <div class="container-fluid about--ensemble_container">
  @*Title*@
        <h2 class="about--headers">Ensemble</h2>
  @*Photos & Names*@
        <div class="about--ensemble_flex_container about--text">
            <div class="about--ensemble_img_container">
                <img class="about--ensemble_img" src="~/Content/images/Cast_Img_6.jpg" alt="Victoria Alvarez-Chacon" />
                <p>Victoria Alvarez-Chacon</p>
            </div>
            <div class="about--ensemble_img_container">
                <img class="about--ensemble_img" src="~/Content/images/Cast_Img_4.jpg" alt="Jacquelle Davis" />
                <p>Jacquelle Davis</p>
            </div>
            <div class="about--ensemble_img_container">
                <img class="about--ensemble_img" src="~/Content/images/Cast_Img_1.jpg" alt="Kaia Maarja Hillier" />
                <p>Kaia Maarja Hillier</p>
            </div>
            <div class="about--ensemble_img_container">
                <img class="about--ensemble_img" src="~/Content/images/Cast_Img_3.jpg" alt="Heath Hyun Houghton" />
                <p>Heath Hyun Houghton</p>
            </div>
            <div class="about--ensemble_img_container">
                <img class="about--ensemble_img" src="~/Content/images/Cast_Img_7.jpg" alt="Tom Mounsey" />
                <p>Tom Mounsey</p>
            </div>
        </div>
    </div>

  @*---BOARD MEMEBER SECTION---*@
    <div class="about--board_container">
  @*Title*@
        <h2 class="about--headers">Board</h2>
  @*List of board members*@
        <div class="about--board_list about--text">
            <p>Jamie Floyd (President)</p>
            <p>Tom Mounsey</p>
            <p>Marcia Reyes</p>
            <p>Lena-Liis Kiesel</p>
        </div>
    </div>
</div>
