
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-photo">
    
        <div class="container">
            <div class="text-block">
                <img src="~/Content/images/theater.jpg" alt="Snow" style="width:100%;">
            </div>
            <h1 div class="centered">About Us</h1 div>

            <br />
            <h3 class="underline">WHO WE ARE</h3>
            <br />
            <h6>
                We seek to engage audiences through compelling, ensemble-driven
                <br />
                productions
                <br />
                with a focus on developing new works.
            </h6>
            <br />
        </div>
</div>




<section>

    <div class="container-history">
        <h3 class="history-info">COMPANY HISTORY</h3>
        <div>
            <h3 class="second-underline"></h3>
        </div>
        <br />
        <div>
            <h6 class="company-histoy">

                in 1997, Theatre Vertigo was founded by Paul Floding. Nonelle Pettit and Jeff <br />
                Meyers.
                Since then, Theatre vertigo has performed in numerous spaces including <br /> the Russell Street theatre,
                The Electric Company, theaterTheotrel, and the <br /> ShoeBox Theater.
            </h6>

            <h6 class="middle-paragraph">From 2003 to 2014, Theatre Vertigo produced Anonymous Theatr as a summer <br />
            fundraiser in collaboration with the Anonymous Theatre Company. Other past <br />
            collaborations include defunkt theatre. Stark Raving Theater, and Tears of Joy <br /> Theatre.</h6>

            <h6 class="third-paragraph">Theatre Vertigo has worked on world premieres inclusing Faust.Us by Joseph Fisher. <br />
            99 Ways to Fuck a Swan by Kim Rosenstock, and the End of Sex by Craig Jessen</h6>

            <h6 class="fourth-paragraph">In 2016, Theatre Vertigo produced its first offically commissioned work from a <br /> playwright, I want to Destroy You, by Rob Handel</h6>
            <br />
            <br />
        </div>
    </div>

</section>

<div class="img-bottom">
    <div class="item">
        <br />
        <div>
            <h4 class="third-underline">ENSEMBLE</h4>
        </div>
        <div>
            <div>
                <img class="Tom-profile-pics" src="~/Content/images/Cast_Img_7.jpg" alt="Tom Moulsey" style="width:100%;" />
                <h6 class="tom">TOM MOUSLEY</h6>
            </div>
            <div>
                <img class="Kaia-profile-pics" src="~/Content/images/Cast_Img_1.jpg" alt="Kaia Maaria Hiller" style="width:100%;" />
                <h6 class=" kaia">KAIA MAARIA HILLER</h6>
            </div>
            <div>
                <img class="Heath-profile-pics" src="~/Content/images/Cast_Img_3.jpg" alt="Heath Houghton" style="width:100%;" />
                <h6 class="heath">HEATH HOUGHTON</h6>
            </div>
            <div>
                <img class="Jacquelie-profile-pics" src="~/Content/images/Cast_Img_4.jpg" alt="Jacquelie Daves" style="width:100%;" />
                <h6 class="jacquelie">JACQUELIE DAVES</h6>
            </div>
            <div>
                <img class="Victoria-Chacon-profile-pics" src="~/Content/images/Cast_Img_6.jpg" alt="Victoria Chacon" style="width:100%;" />
                <h6 class="victoria">VICTORIA ALVERZ CHACON</h6>
            </div>
        </div> 
    </div>
</div>


<hr />

<div class="line"></div>
<br />
<div class="Board">
    <div>
        <h4 class="fourth-underline">BOARD</h4>
    </div>
</div>



<h5 class="president">Jamie Floyd(President)</h5>



