
@{
    ViewBag.Title = "About";
}

<style>
    .body-content {
        width: 100vw;
        margin: 0;
        padding: 0;
        max-width: 100%;
        overflow-x: hidden;
    }
</style>

<div class="Home-about--theaterContainer">
    <h1 class="Home-about--heading">About Us</h1>
</div>

<div class="Home-about--blackContainer">
    <div id="Home-about--curvedCornerPlaceholderRight"></div>
    <h2 class="Home-about--heading">WHO WE ARE</h2>
    <p class="Home-about--heading">To engage audiences through ensemble-driven productions with a focus on developing new works</p>
    <div id="Home-about--curvedCornerBottomLeft"></div>
</div>


<div class="Home-about--redContainer">
    <div id="Home-about--curvedCornerTopRight"></div>
    <h2 class="Home-about--heading">COMPANY HISTORY</h2>
    <p class="Home-about--heading">
        In 1997, Theatre Vertigo was founded by Paul Floding, Nanette Pettit and Jeff Meyers.  Since then, Theatre Vertigo has performed in numerous spaces including The Russell Street Theater, The Electric Company, Theater!Theatre!, and The Shoebox Theater.
    </p>
    <p class="Home-about--heading">
        From 2003 to 2014, Theatre Vertigo produced Anonymous Theatre as a summer fundraiser in collaboration with The Anonymous Theatre Company.  Other past collaborations include defunkt theatre, Stark Raving Theater, and Tears of Joy Theatre.
    </p>
    <p class="Home-about--heading">
        Theatre Vertigo has worked on world premieres including Faust.Us by Joseph Fisher, 99 Ways to Fuck a Swan by Kim Rosenstock, and The End of Sex by Craig Jessen.
    </p>
    <p class="Home-about--heading">
        In 2016, Theatre Vertigo produced its first officially commissioned work from a playwright, I Want To Destroy You, by Rob Handel.
    </p>
    <div id="Home-about--curvedCornerBottomLeft"></div>
</div>

<div class="Home-about--blackContainer">
    <div id="Home-about--curvedCornerTopRight"></div>
    <h2 class="Home-about--heading">ENSEMBLE</h2>
    <div class="Home-about--imageCenter">
        <div class="Home-about--imageContainer">
            <div class="Home-about--imageCenter">
                <img class="Home-about--rounded" src="~/Content/images/Cast_Img_7.jpg" alt="Tom Mounsey" />
            </div>
            <p class="Home-about--heading">TOM MOUNSEY</p>
        </div>

        <div class="Home-about--imageContainer">
            <div class="Home-about--imageCenter">
                <img class="Home-about--rounded" src="~/Content/images/Cast_Img_1.jpg" alt="Kaia Maarja Hillier" />
            </div>
            <p class="Home-about--heading">KAIA MAARJA HILLIER</p>
        </div>

        <div class="Home-about--imageContainer">
            <div class="Home-about--imageCenter">
                <img class="Home-about--rounded" src="~/Content/images/Cast_Img_3.jpg" alt="Heath Hyun Houghton" />
            </div>
            <p class="Home-about--heading">HEATH HYUN HOUGHTON</p>
        </div>

        <div class="Home-about--imageContainer">
            <div class="Home-about--imageCenter">
                <img class="Home-about--rounded" src="~/Content/images/Cast_Img_4.jpg" alt="Jacquelle Davis" />
            </div>
            <p class="Home-about--heading">JACQUELLE DAVIS</p>
        </div>

        <div class="Home-about--imageContainer">
            <div class="Home-about--imageCenter">
                <img class="Home-about--rounded" src="~/Content/images/Cast_Img_6.jpg" alt="Victoria Alvarez-Chacon" />
            </div>
            <p class="Home-about--text">VICTORIA ALVAREZ-CHACON</p>
        </div>
    </div>
    <div id="Home-about--curvedCornerPlaceholderLeft"></div>
</div>

<hr class="Home-about--greyLine">

<div class="Home-about--blackContainer">
    <div id="Home-about--curvedCornerPlaceholderRight"></div>
    <h2 class="Home-about--heading">BOARD</h2>
    <p class="Home-about--heading">Jamie Floyd (President)</p>
    <p class="Home-about--heading">Tom Mounsey</p>
    <p class="Home-about--heading">Marcia Reyes</p>
    <p class="Home-about--heading">Lena-Liis-Kiesel</p>
</div>