@{
    ViewBag.Title = "Get in Touch";
}


    <style>
      h1 {
        font-family: broadway;
        border-bottom-left-radius: 40%;
        max-width: unset;
      }

      body {
        max-width: unset;
        padding-block-start: 0;
      }

      .container {
        max-width: unset;
        padding: 0;
      }

      body class {
        padding: 0;
      }

      .jumbotron {
        border-bottom-left-radius: 100px;
      }
    </style>
  </head>

  <body class="cms-bg-main-light">

    <!-- Jumbotron -->
    <div class="p-5 jumbotron jumbotron-fluid text-center cms-text-light cms-bg-dark">

      <h1>CONTACT US</h1>
    </div>

    <div class="main jumbotron-fluid text-center cms-text-light cms-bg-main-light">
      <h2 class="main">Get In Touch</h2>
    </div>

    <div class="row m-0">
      <div class="col flex-grow">

        <form>

          <div class="form-group">
            <label for="First and Last Name">First and Last Name</label>
            <input type="text" class="form-control" id="name">
          </div>
          <div class="form-group">
            <label for="Email">Email Address</label>
            <input type="email" class="form-control" id="Email">
          </div>
          <div class="form-group">
            <label for="Subject">Subject</label>
            <input type="text" class="form-control" id="subject">
          </div>
          <div class="form-group">
            <label for="Message">Message</label>
            <textarea class="form-control" id="example" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary btn-block" button style="background-color: var(--main-color);
           border-color: var(--dark-light)">
            Submit
          </button>

        </form>
      </div>
      <div class="col 1">
        <div class="contact-right">
          <h3>Donate</h3>
          <p>
            We've got a Patron Account!
            <br />
            Help support threatre in Portland, OR.
            <br />
            By becoming a patron today!
            <br />
            <br />


            <input type="Donate">
            <br />
            <br />
            <button type="Donate" class="btn btn-primary" button style="background-color: var(--main-color);
               border-color: var(--light-color)">
              Donate
            </button>
          </p>
          <h4>Volunteer</h4>
          <p>
            Volunteer with us today!
            <br />
            <br />
            <input type="Volunteer">
            <br />
            <br />
            <button type="Volunteer" class="btn btn-primary" button style="background-color: var(--main-color);
              border-color: var(--light-color)">
              Volunteer
            </button>
          </p>
        </div>
      </div>
    </div>

    </div>


  </body>
