
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <div class="contact-pg">
        <div id="contact-tron" class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 id="contact-header" class=" cms-text-dark">CONTACT</h1>
            </div>
        </div>

        <div id="contact-form">
            <form>
                <div>
                    <label class="contact-label" for="firstname">FirstName</label>
                    <input class="contact-entry" id="form_entry" />
                </div>
                <div>
                    <label class="contact-label" for="lastname">LastName</label>
                    <input class="contact-entry" id="form_entry" />
                </div>
                <div>
                    <label class="contact-label" for="email">Email</label>
                    <input type="email" class="contact-entry" id="form_entry" />
                </div>
                <div>
                    <label class="contact-label" for="subject">Subject</label>
                    <input type="text" class="contact-entry" id="form_entry" />
                </div>
                <div>
                    <label class="contact-label" for="message">Message</label>
                    <input type="text" class="contact-entry" id="form_entry" />
                </div>
                <button type="submit" class="form-btn">Submit</button>
            </form>
        </div>
        <div class="donate-volunteer">
            <h3>Donate</h3>
            <p>
                We've got a Patreon account!<br>
                Help support our live theatre in<br>
                Portland, OR. Become a member today
            </p>
            <button class="d-v-btn" type="submit">Donate</button>
        </div>
        <div class="donate-volunteer">
            <h3>Volunteer</h3>
            <p>
                Are you in the spirit of helping!?<br>
                Click and find out more on our<br>
                awesome volunteers group!
            </p>
            <button class="d-v-btn" type="submit">Volunteer</button>
        </div>
    </div>

</body>
</html>
