
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="contact-index-container" >
    <div class="contact-us-container">
        <h2>Contact Us</h2>
    </div>
    <div class="contact-get-in-touch">
        <h2>Get In Touch</h2>

        <form class="contact-form-container">
            <div class="contact-index-message">
                <label for="msg">VOLUNTEER</label>
                <h4>Sed ut perspiciatis unde<br /> omnis iste natus error<br /> sit voluptatem accusantium <br />sit voluptatem</h4>
                <button class="contact-button-container btn btn-danger" type="submit">Donate</button>
                
                
                <label for="msg">DONATE</label>
                <h4>We've got a Patreon account!<br /> Help support live threatre in<br /> Portland, OR, by cecoming a <br />Patron today!</h4>
                <button class="contact-button-container btn btn-danger" type="submit">Donate</button>
            </div>
            <div class="contact">
                <label for="name">First & Last Name*</label>
                <input type="text" id="name">

                <label for="email">Email Address*</label>
                <input type="email" id="email">

                <label for="subject">Subject*</label>
                <input type="text" id="subject">
                <div class="mb-3">
                    <label for="message" class="form-label">Message*</label>
                    <textarea class="form-control" id="message" rows="3"></textarea>
                </div>
                <button type="button" class="contact-button-container btn btn-danger btn-lg btn-block">Submit</button>
            </div>
        </form>
    </div>
</div>

