<style>
  .body-content {
    width: 100vw;
    margin: 0;
    padding: 0;
    max-width: 100vw;
  }
  </style>

﻿<div class="body-content cms-bg-main-light">
  @{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
  }

  @*---Header Text---*@
  <h2 class="cms-contact--contactText">CONTACT US</h2>
  <h3 class="cms-contact--headerText"> GET IN TOUCH</h3>
  <hr class="cms-contact--textUnderline" />

  @*---Contact Form---*@
  <div class="row">
    <div class="col-7">
      <form class="cms-contact--formContainer">
        <div class="cms-contact--nameContainer">
          <label for="FirstAndLastName" required>First and Last Name *</label>
          <input type="text" class="form-control input-lg">
        </div>
        <div class="cms-contact--emailContainer">
          <label for="Email" required>Email Address *</label>
          <input type="email" class="form-control input-lg">
        </div>
        <div class="cms-contact--subjectContainer">
          <label for="Subject" required>Subject *</label>
          <input type="text" class="form-control input-lg">
        </div>
        <div class="cms-contact--messageContainer">
          <label for="message" required>Message *</label>
          <textarea class="form-control input-lg" rows="8"></textarea>
        </div>
        <div>
          <button type="submit" class="cms-contact--SubmitButton">Submit</button>
        </div>
      </form>
    </div>
   @*---Donate and Volunteer section---*@
    <div class="col-4">
      <div class="cms-contact--donateContainer">
        <h3> DONATE</h3>
        <p class="cms-contact--donateText">
          We've got a Patreon account!
          Help support live theatre in Portland, OR. by becoming a Patron today!
        </p>
        <button type="submit" class="cms-contact--DonateButton">Donate</button>
        <div class="cms-contact--volunteerContainer">
          <h3>VOLUNTEER</h3>
          <p class="cms-contact--volunteerText">Contact us to learn more about volunteering in the theatre.</p>
          <button type="submit" class="cms-contact--VolunteerButton">Volunteer</button>
        </div>
      </div>
    </div>
  </div>
</div>