
@{
    ViewBag.Title = "Contact";
}
<style>
    @* /As suggested, internal styles to make sections touch the left and right side of the screen/*@

    .body-content {
        width: 100vw;
        margin: 0;
        padding: 0;
        max-width: 100vw;
    }
</style>


<div class="home-contact--blackBox">
    <h1 class="home-contact--contactUs">CONTACT US</h1>

</div>

<div class="home-contact--everything">

    <h2 class="home-contact--getInTouch">GET IN TOUCH</h2>

    <div class="row">
        <div class="home-content--columnLeft">
            <div class="home-content--formContainer">

                <br />
                <form>
                    <div class="home-contact--firstLastName">
                        <label for="exampleInputEmail1">First & Last Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="home-contact--emailAddress">
                        <label for="exampleInputPassword1">Email Address</label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="home-contact--subject">
                        <label for="exampleInputEmail1">Subject</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="home-contact--message">
                        <label for="exampleInputEmail1">Message</label>
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
                    <button type="submit" class="home-contact--submit">Submit</button>
                </form>

            </div>
        </div>
        <div class="home-contact--columnRight">
            <div class="home-contact--donateVolunteer">
                <div class="home-contact--text">
                    <br />
                    <br />
                    <br />
                    <h4>DONATE</h4>
                    <p>
                        We've got a Patreon account!<br />
                        Help support live theatre in
                        Portland, OR. by becoming a
                        Patron today!
                    </p>

                    <button type="submit" class="home-contact--donateBtn">DONATE</button>
                    <br />
                    <br />

                    <h4>VOLUNTEER</h4>
                    <p>
                        Lorem ipsum dolor sit amet,<br />
                        consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut<br />
                        labore et dolore magna
                    </p>

                    <button type="submit" class="home-contact--volunteerBtn">Volunteer</button>
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        

            </div>


        </div>
</div>


        

