@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="~/Content/Site.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins"/>
</head>

<body style="background-color: #f04d44">

  <div class="home-contact-container">
    <h1 class="home-contact-h2">CONTACT US</h1>
  </div>

  <div class="home-contact-titlecontainer">
    <h4 class="home-contact-h4">GET IN TOUCH</h4>
  </div>

  <div class="home-contact-containerform">

    <form class="home-contact-form">

      <div class="home-contact-form">
        <label for="home-contact-label">First & Last Name</label>
        <input type="text" class="home-contact-label" placeholder="Your name" />
      </div>

      <div class="home-contact-form">
        <label for="home-contact-label">Email Address</label>
        <input type="text" class="home-contact-label" placeholder="Your email" />
      </div>

      <div class="home-contact-form">
        <label for="home-contact-label">Subject</label>
        <input type="text" class="home-contact-label" placeholder="" />
      </div>

      <div class="home-contact-form">
        <label for="home-contact-label">Message</label>
        <input id="home-contact-messagebox" type="text" class="home-contact-label" placeholder="" />
      </div>

      <input type="submit" class="home-contact-submit" value="Submit" />

    </form>
  </div>

  <div class="home-contact-donateVolunteer">
    <h4 class="home-contact-h4">DONATE</h4>
    <p>
      We've got a Patreon account! <br> Help support live theatre in <br> Portland, OR, by becoming a Patreon today!
    </p>

    <input type="submit" class="home-contact-donatebtn" value="DONATE" />

    <h4 class="home-contact-h4">VOLUNTEER</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> sed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua.
    </p>

    <input type="submit" class="home-contact-volunteerbtn" value="VOLUNTEER" />
  </div>


</body>

