@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<style>
   /* As suggested, internal styles to make sections touch the left and right side of the screen/*/
    .body-content {
        width: 100vw;
        margin: 0;
        padding: 0;
        max-width: 100vw;
       
    }
</style>

<div class="home-contact--body">
  <div class="home-contact--border">
    <h1 class="home-contact--heading">Contact Us</h1>
  </div>

  <column>
    <div class="home-contact--row">


      <column>
        <div>
          <div class="home-contact--column" style="background-color: red;">
            <form class="home-contact--form">
              <label class="home-contact--text" for="fnameLname">First name:</label><br />
              <input class="home-contact--text2" type="text" id="fnameLname" name="fnameLname" /><br />
              <label class="home-contact--text" for="Email">Email</label><br />
              <input class="home-contact--text2" type="text" id="Email" name="Email" /><br />
              <label class="home-contact--text" for="Subject">Subject</label><br />
              <input class="home-contact--text2" type="text" id="Subject" name="Subject" /><br />
              <label class="home-contact--text" for="Message">Message</label><br />
              <input class="home-contact--text2" type="text" id="Message" name="Message" /><br />
              <input class="home-contact--text3" type="submit" value="Submit" />
            </form>
          </div>
          <div class="home-contact--column" style="background-color:red;">
            <h2 class="home-contact--header3">Donate</h2>
            <p>
              We've got a patreon account!<br />
              help support live theater in<br />
              Portland, Or, by becoming a<br />
              patron today!
            </p>
            <input class="home-contact--text3" type="submit" value="Donate" />
            <br />
            <h3 class="home-contact--header3">Volunteer</h3>
            <p>
              To volunteer for potential events<br />
              please contact us below!
            </p>
            <input class="home-contact--text3" type="submit" value-="Volunteer" />
          </div>

        </div>
    </div>
</div>



