@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>Contact Us</h2></center>


<div>
    <center><h4>Get In Touch</h4></center>
    <br />

    <div class="container">
         
        <div class="row">

            <form class=".col col-sm-8" id="contact-us-form">


                <label class="col-8" for="fname">First Name</label>
                <input class="col-8" type="text" id="fname" name="firstname">

                <label class="col-8" for="lname">Last Name</label>
                <input class="col-8" type="text" id="lname" name="lastname">

                <label class="col-8" for="email">Email</label>
                <input class="col-8" type="text" id="email" name="email">

                <label class="col-8" for="subject">Subject</label>
                <input class="col-8" type="text" id="subject" name="email">

                <label class="col-8" for="message">Message</label>
                <textarea class="col-8" id="message" name="subject" style="height:200px"></textarea>

                <input class="col-8" type="submit" value="Submit">

            </form>

            <div class=".col-sm-4">


                <p>Donate</p>


                <p>Volunteer</p>


            </div>



        </div>
    </div>
</div>


