<link rel="stylesheet" href="~/Content/Site.css" />

<h1 class="contactPage-contactpageMainTitle">CONTACT US</h1><br />

<div class="contactPage-overAllContactStyling">

    <h3>Please Enter Your Information Below!</h3>

    <div class="contactPage-infoSignup">
        <form>
            <label for="fname">First Name:</label><br />
            <input type="text" name="fname" value="" /><br />
            <label for="lname">Last Name:</label><br />
            <input type="text" name="lname" value="" /><br />
            <label for="email">Email:</label><br />
            <input type="email" name="email" value="" /><br />
            <label for="subject">Subject:</label><br />
            <input type="text" name="subject" value="" /><br />
            <label for="message">Message: </label><br />
            <input class="contactPage-SigunUpMessage" type="text" name="message" value="" /><br /><br />
            <input type="submit" value="Submit" />
        </form>
    </div>

    <div class="contactPage-infoSignup">
        <h2>DONATE</h2>
        <p>Help support our theatre by donating to our Patreon account!</p>
        <input type="button" value="Donate" /><br /><br />
        <h2>VOLUNTEER</h2>
        <p>If you would like to help, get in touch to volunteer.</p>
        <input type="button" value="Volunteer" />
    </div>

</div>


