
@{
    ViewBag.Title = "Contact";
}

<style>
</style>

<!--Contact Header Section-->
<div class="home-contact-header">

    <h2>CONTACT US</h2>

</div>


<div class="home-contact-formContainer">

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <!--Form Section-->
            <section class="home-contact-Form">

                <h4 id="home-contact-formheader">GET IN TOUCH</h4>

                <div class="form-group text-nowrap">

                    <div class="col-md-12">
                        <label for="contactFormInputName">First & Last Name *</label>
                        <input type="text" class="form-control" id="contactFormInputName" placeholder="John Smith">
                    </div>

                    <div class="col-md-12">
                        <label for="contactFormInputEmail">Email Address *</label>
                        <input type="email" class="form-control" id="contactFormInputEmail" placeholder="name@example.com">
                    </div>

                    <div class="col-md-12">
                        <label for="contactFormInputSubject">Subject *</label>
                        <input type="text" class="form-control" id="contactFormInputSubject" placeholder="">
                    </div>

                    <div class="col-md-12">
                        <label for="contactFormInputMessage">Message *</label>
                        <textarea class="form-control" id="contactFormInputMessage" rows="3"></textarea>
                    </div>
                </div>

            </section>
            <!--Button/Donate/Volunteer Section-->
            <div class="home-contact-Form">

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="checkbox">

                            <div>
                                <input type="submit" value="Submit" class="btn float-right btn-block home-contact-buttons" />
                            </div>

                            <div>
                                <h4>DONATE</h4>
                                <p>
                                    We've got a Patreon account! Help support live theatre in
                                    Portland, OR, by becoming a patron today!
                                </p>
                                <input type="submit" value="Donate" class="btn float-right btn-group-vertical home-contact-buttons" />
                            </div>

                            <div>
                                <h4>VOLUNTEER</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat. Duis aute irure dolor in reprehenderit in
                                    voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                    officia deserunt mollit anim id est laborum.
                                </p>
                                <input type="submit" value="Volunteer" class="btn float-right btn-group-vertical home-contact-buttons" />
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

