

<div id="home-contact--contactpg">

        <div id="home-contact--contacttron" class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 id="home-contact--header" class=" cms-text-dark">CONTACT US</h1>
            </div>
        </div>
        <div>
            <p class="home-contact--intro">GET IN TOUCH</p>
            <hr width="5%" color="#db1a11">
        </div>
</div>

<div id="home-contact--formXdonateXvolunteer">
            <form class="home-contact--form">
                <div class="home-contact--formlabel">
                    <label >Full Name*</label>
                    <input class="home-contact--formentry" id="form_entry" />
                </div>
                <div class="home-contact--formlabel">
                    <label>Email Address*</label>
                    <input type="email" class="home-contact--formentry" id="form_entry" />
                </div>
                <div class="home-contact--formlabel">
                    <label>Subject*</label>
                    <input type="text" class="home-contact--formentry" id="form_entry" />
                </div>
                <div class="home-contact--formlabel">
                    <label>Message*</label>
                    <input type="text" class="home-contact--formmessage" id="form_entry" />
                </div>
                <button type="submit" class="home-contact--formbtn">Submit</button>
            </form>

            <div class="home-contact--dvmaster">
                <h3>Donate</h3>
                <p>
                    We've got a Patreon account!<br>
                    Help support our live theatre in<br>
                    Portland, OR. Become a member today!
                </p>
                <button class="home-contact--dvbtn" type="submit">Donate</button>

                <h3>Volunteer</h3>
                <p>
                    Are you in the spirit of helping!?<br>
                    Click and find out more on our<br>
                    awesome volunteers group!
                </p>
                <button class="home-contact--dvbtn" type="submit">Volunteer</button>
            </div>

</div>
<style>
    .container, .body-content{margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; max-width: 100%;}
</style>
