@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact Us</title>
</head>
<body>
    <header style="color:darkred;">Contact Us!</header>
    <div>
        <form >
        <label for="fname">First name:</label><br />
        <input type="text" id="fname" name="fname" /><br />
        <label for="lname">Last Name</label><br />
        <input type="text" id="lname" name="lname" /><br />
        <input type="submit" value="Submit" />
        </form>    
    </div>
</body>
</html>
