
@{
    ViewBag.Title = "Contact";
}

  <div class="home-contact--header"> 
    <h2>Contact Us</h2> 
  </div>
  <div class="home-contacts-bottomhalf">

    <div class="home-title--title">
      <h2>Get in Touch</h2>
    </div>


    <div class="home-contacts--column1">
  
       <form>
        <label for="fnamelname">First and Last Name*</label><br>
        <input type="text" id="fnamelastname" name="fnamelastname"<br></br>

        <label for="emailaddress">Email Address*</label><br>
        <input type="text" id="emailaddress" name="emailaddress"<br></br>

        <label for="subject">Subject*</label><br>
        <input type="text" id="subject" name="subject"<br></br>

        <label for="message">Message*</label><br>
        <input class="home-contact--messagebox" type="text" id="message" name="message"<br></br>

        <br><input type="submit" value="Submit"></input></br>
       </form>

     </div>

    <div class="home-contacts--column2">
      <h3>Donate</h3>
      <p>We've got a Patreon account! Help support live<br>theatre in Portland, OR. by becoming a Patron today!</br></p>
      <br><button type="button">Donate!</button></br>

      <h3>Volunteer</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>sed do eiusmod tempor incididunt ut labore et dolore magna</p>
      <br><button type="button">Volunteer!</button></br>

    </div>
    
  </div>
