@{
    ViewBag.Title = "Contact";
}

<div class="container-fluid cms-bg-main-light" style="padding-bottom: 25px;">
    <div class="row cms-bg-dark home-contact-banner">
        <div class="col-md-6 offset-md-3 text-center">
            <h2 class="cms-text-light text-uppercase font-weight-bold">Contact Us</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h5 class="cms-text-light text-uppercase font-weight-bold mb-5 mt-5">Get In Touch</h5>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid col-auto">
            <form>
                <div class="form-group">
                    <label for="name">First & Last Name*</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="email">Email Address*</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="subject">Subject*</label>
                    <input type="text" class="form-control" id="subject">
                </div>
                <div class="form-group">
                    <label for="message">Message*</label>
                    <textarea class="form-control" id="message" rows="5"></textarea>
                </div>
                <button type="submit" class="btn home-contact-btn" style="width: 100%;">Submit</button>
            </form>
        </div>
        <div class="container-fluid col-md-5">
            <div class="float-md-right">
                <div class="section-header">
                    <h5>DONATE</h5>
                    <p>We've got a Patreon account! Help support live theatre in Portland, OR, by becoming a Patron today!</p>
                    <a href="#" class="btn home-contact-btn">Donate</a>
                </div>
                <div class="section-header mt-3">
                    <h5>VOLUNTEER</h5>
                    <p>Join our team and make a difference in your community.</p>
                    <a href="#" class="btn home-contact-btn">VOLUNTEER</a>
                </div>
            </div>
        </div>
    </div>
</div>
