
@{
  ViewBag.Title = "Contact";
}



  <!--Contact Us Jumbotron-->
  <div class="jumbotron" style="text-align: center;">
    <div class="container-fluid" id="jumbotron-container">
      <h1 class="home-contact--titleFont">CONTACT US</h1>
    </div>
  </div>


  <div class="container-fluid">
    <br /><h3 class="home-contact--heading">GET IN TOUCH</h3><br />
    <form id="contact-form" name="contact-form" action="" method="POST">
      <div class="row">
        <div class="form-group col-md-7 ml-5">
          <label for="name" class="">First & Last Name *</label>
          <input type="text" id="name" name="name" class="form-control">

          <label for="email" class="">Email Address *</label>
          <input type="text" id="email" name="email" class="form-control">

          <label for="subject" class="">Subject *</label>
          <input type="text" id="subject" name="subject" class="form-control">

          <label for="message">Message *</label>
          <textarea type="text" id="message" name="message" rows="5" class="form-control md-textarea"></textarea><br>

          <button type="submit" class="btn btn-danger btn-block btn-outline-light" id="submit-button" style="background-color: darkred;">Submit</button>
        </div>



        <!--Donate/Volunteer Block-->
        <div class="col-md-3 ml-5">
          
          <h3 class="mr-1">DONATE</h3><br />
          <p>
            We've got a Patreon account! Help support live theatre in Portland, OR. by becoming a Patreon today!
          </p>
          <button type="button" class="btn btn-danger btn-outline-light" onclick="" style="background-color: darkred; padding-top: 2px;">Donate</button><br />

          <br /><h3 class="mr-1">VOLUNTEER</h3>
          <p>
            Lorem ipsum dolor sit amet, conssecletur adipiscing ellif, sed do eiusmod tempar incididunt ut labore el dolore magna.
          </p>
          <button type="button" class="btn btn-danger btn-outline-light" onclick="" style="background-color: darkred;">Volunteer</button>
        </div>
      </div>
    </form>
  </div>



<style>

  body {
    background-color: #f04d44;
  }



  .container {
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }


  .jumbotron {
    border: 2px solid black;
    -webkit-border-radius: 0px 0px 0px 80px;
    border-radius: 0px 0px 0px 80px;
    background-color: black;
    height: 250px;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
  }


  footer {
    background-color: black;
    border: 2px solid black;
    max-width: 100%;
    -webkit-border-radius: 0px 80px 0px 0px;
    border-radius: 0px 80px 0px 0px;
  }

</style>
