<style>
  .body-content {
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
</style>
<div class="container body body-content cms-bg-main-light">
  @{
    ViewBag.Title = "Contact";
  }

  <!-- form needs implemented methods-->
  <div class="container-fluid m-0 contact-header-container">
    <h1 class="contact-us-text">CONTACT US</h1>
  </div>
  <div class="contact-get-text">
    <h1>GET IN TOUCH</h1>
    <hr />
  </div>
  <div class="container pb-5">
    <!-- form -->
    <div class="row pt-1">
      <form class="col-8">
        <div class="form-group">
          <label class="contact-form-label-text">First & Last Name*</label>
          <input class="form-control contact-box-shadow">
        </div>
        <div class="form-group">
          <label class="contact-form-label-text">Email Address*</label>
          <input type="email" class="form-control contact-box-shadow">
        </div>
        <div class="form-group">
          <label class="contact-form-label-text">Subject*</label>
          <input type="email" class="form-control contact-box-shadow">
        </div>
        <div class="form-group">
          <label class="contact-form-label-text">Message*</label>
          <textarea class="form-control contact-box-shadow" rows="5"></textarea>
        </div>
        <button type="button" class="btn btn-danger btn-block border border-light font-weight-bold contact-btn-sub-rad contact-box-shadow contact-text-shadow">Submit</button>
      </form>
      <!-- Donate and Volunteer -->
      <div class="col-4 pl-3 pt-1">
        <h2 class="font-weight-bold contact-text-shadow">DONATE</h2>
        <p class="contact-text-size-don-vol pb-1 pt-2">We've got a Patreon account! Help support live theatre in Portland, OR, by becoming a Patron today!</p>
        <button type="button" class="btn btn-danger border border-light contact-btn-don-vol-size font-weight-bold contact-box-shadow contact-text-shadow">Donate</button>
        <h2 class="font-weight-bold pt-5 pb-1 contact-text-shadow">VOLUNTEER</h2>
        <p class="contact-text-size-don-vol pb-1 pt-2">Lorem Ipsum dolor sit amet, consectetur adipiscing elif,
        sed do elusmod tempor incididunt ut labore et dolore magna.</p>
        <button type="button" class="btn btn-danger border border-light contact-btn-don-vol-size font-weight-bold contact-box-shadow contact-text-shadow">VOLUNTEER</button>
      </div>
    </div>
  </div>
</div>
    


