@{
    ViewBag.Title = "Get in Touch";
}
<style>
    body {
        background-color: var(--main-color);
        padding:0;
        margin:0;
    }
    .container.body-content {
        max-width: none;
        padding: 0;
    }
</style>
<div class="contact-header text-center cms-bg-dark w-100 pb-5 pt-5">
    <h1 class="text-uppercase mt-5 mb-5 contact-h1">Contact Us</h1>
</div>
<div class="w-100 mb-5">
    <h2 class="text-center mt-4 text-uppercase">@ViewBag.Title</h2>
    <hr class="contact-title-underline"/>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <form>
                    <div class="form-group">
                        <label for="name">First &amp; Last Name <sup>*</sup></label>
                        <input type="text" class="form-control" id="name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address <sup>*</sup></label>
                        <input type="email" class="form-control" id="emailaddress" required>
                    </div>
                    <div class="form-group">
                        <label for="subject">Subject <sup>*</sup></label>
                        <input type="text" class="form-control" id="Subject" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Message <sup>*</sup></label>
                        <textarea class="form-control" id="message" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn contact-btn btn-lg btn-block">Submit</button>
                </form>
            </div>
            <div class="col-4">
                <div class="card cms-bg-main border-0" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase">Donate</h5>
                        <p class="card-text">We've got a Patreon account! Help support live theatre in Portland, OR by becoming a Patron today!</p>
                        <a href="#" class="btn contact-btn btn-block">Donate</a>
                    </div>
                </div>

                <div class="card cms-bg-main border-0" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase">Volunteer</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                        <a href="#" class="btn contact-btn btn-block">Volunteer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
