@{
    ViewBag.Title = "Get in Touch";
}

<div>
    <div class="h-100 cms-bg-main-light">
        <div class="jumbotron jumbotron-fluid h-25 cms-bg-dark home home-contact-header">
            <div class="container text-center">
                <h1>CONTACT US</h1>
            </div>
        </div>
        
        <h3 class="text-center text-uppercase">@ViewBag.Title</h3>
        <div class="d-md-flex justify-content-center col-md-12 p-2">
            <div class="col-md-8">
                <form action="" method="post">
                    <div class="form-group">
                        <label for="name">First & Last Name *</label>
                        <input class="form-control" type="text" name="name" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address *</label>
                        <input class="form-control" type="email" name="email" />
                    </div>
                    <div class="form-group">
                        <label for="subject">Subject *</label>
                        <input class="form-control" type="text" name="subject" />
                    </div>
                    <div class="form-group">
                        <label for="message">Message *</label>
                        <textarea class="form-control" type="text" rows="5" name="message"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-block cms-bg-main form-control border border-white text-white" type="submit">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <div class="p-3">
                    <h4>DONATE</h4>
                    <p>We've got a Patreon account! Help support live theatre in Portland, OR, by becoming a Patron today!</p>
                    <button class="btn cms-bg-main border border-white text-white" type="button" id="donate">Donate</button>
                </div>
                <div class="p-3">
                    <h4>VOLUNTEER</h4>
                    <p>If you are interested in volunteering, we would greatly appreciate it. Click below for more details.</p>
                    <button class="btn cms-bg-main border border-white text-white" type="button" id="volunteer">Volunteer</button>
                </div>
            </div>
        </div>
    </div>
</div>

