@{
  ViewBag.Title = "Donate";
}

<h1 class="text-center">Consider Making A Donation</h1>


<div class="full-width Home-Donate--Container" >
  <div class="Home-Donate--Container">
    <div class="business-container">
     <!-- <a href="contacts.php" class=".cu-donate-text">Contacts</a> -->
      <div class="business">
        <!-- Form -->
        <form>
          <div class="Home-Donate--row">
            <div class="grid">
              <form action="" method="post">

                <div class="Home-Donate--row">
                  <div class="Home-Donate-TextRow">
                    <label for="name">Name*:</label>
                  </div>
                  <div class="Home-Donate--Name">
                  <input class="Home-Donation--Field" type="text" name="firstName" placeholder="First Name" required>
                  <input class="Home-Donation--Field" type="text" name="lastName" placeholder="Last Name" >
                 </div>
                </div>


                <div class="Home-Donate--row">
                  <div class="Home-Donate-TextRow ">
                    <label for="email">Email Address*:</label>
                  </div>
                  <input class="Home-Donation--Field" type="text" name="email" placeholder="Email Address" required>
                </div>

                <div class="Home-Donate--row">
                  <div class="Home-Donate-TextRow">
                    <label for="address">Address:</label>
                  </div>
                  <input class="Home-Donation--Field" type="text" name="address" placeholder="Address" required>
                </div>

                <div class="Home-Donate--row">
                  <div class="Home-Donate-TextRow">
                    <label for="donation">Donation amount($)*:</label>
                  </div>
                  <input class="Home-Donation--Field" type="text" name="donation" placeholder="Donation"required>
                </div>

                <div class="Home-Donate--row  ">
                  <div class="Home-Donate-TextRow">
                  <label for="message">Message:</label>
                  </div>
                  <textarea class="Home-Donation--Field" name="message" placeholder="Write a short message"></textarea>
                </div>

                <input type="button" class="Home-Donation--Submit" value="Submit">

                <!-- End Form -->
              </form>
            </div>



          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
