@{
    ViewBag.Title = "Donate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    div.jumbotron {
        background-color: var(--dark-color);
        border-radius: 25px;
        width: 100%;
        font-family: Broadway;
        text-align: center;
    }

    body {


    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }

    body {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-weight: 300;
        font-size: 12px;
        line-height: 30px;
        color: #777;
        background: #0CF;
    }

    .container {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
</style>

<div style="padding-bottom: 25px;">
    <div class="row">
        <div>
            <img style="left:0%;" class="body-content" src="../../Content/images/theater.jpg" alt="curtain" />

        </div>
    </div>
</div>



<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Donation</h1>
    </div>

</div>

<div class="home-contact--Contact-main">

    <h2 class="h2">Consider Making a Donation</h2>
    <div class="form-group">
        <div class="col-sm-6">
            <label for="inputName">Name *</label>
            <input type="text" class="form-control" placeholder="First and Last Name ">

        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <label for="inputEmail">Email Address *</label>
                <input type="email" class="form-control" placeholder="Email Address">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <label for="inputSubject">Donation Amount($)</label>
                <input type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <label for="inputMessage">Donation Comment</label>
                <textarea class="form-control" rows="4"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <button type="submit" class="btn btn-block btn-outline-light">Submit</button>
            </div>
        </div>
