@{
  ViewBag.Title = "Donate";
}

<h1 class="text-center">Consider Making A Donation</h1>


<div class="full-width Home-Donate--Container" >
  <div class="Home-Donate--Container">
    <div class="business-container">
     <!-- <a href="contacts.php" class=".cu-donate-text">Contacts</a> -->
      <div class="business">
        <!-- Form -->
        <form>
          <div class="Home-Donate--row">
            <div class="grid">
              <form action="" method="post">

    <div class="row">
      <div class="col-12 col-lg-4 Home-Donate--TextRow">
        <label for="name">Name</label>
      </div>
      <div class="col-12 col-lg-4 col-md-6 ">
        <input class="Donation" type="text" name="name" placeholder="First Name" required>
      </div>
      <div class="col-12 col-lg-4 col-md-6 ">
        <input class="Donation" type="text" name="name" placeholder="Last Name" required>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-4 Home-Donate--TextRow">
        <label for="email">Email Address</label>
      </div>
      <div class="col-12 col-lg-8">
        <input class="Donation" type="text" name="email" placeholder="Email Address" required>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-4 Home-Donate--TextRow">
        <label for="address">Address</label>
      </div>
      <div class="col-12 col-lg-8">
        <input class="Donation" type="text" name="address" placeholder="Address" required>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-4 Home-Donate--TextRow">
        <label for="donation">Donation amount</label>
      </div>
      <div class="col-12 col-lg-8">
        <input class="Donation" type="text" name="donation" placeholder="Donation Amount" required>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-4 Home-Donate--TextRow">
        <label for="message">Message</label>
      </div>
      <div class="col-12 col-lg-8">
        <textarea class="Donation" name="message" placeholder="Optional Note"></textarea>
      </div>
    </div>

                <div class="Home-Donation-SubmitWrap">
                <button type="button" class="Home-Donation--Submit" name="Submit">Submit</button>
                </div>


          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
