@{ 
    ViewBag.Title = "Donate";
}

<h1 style="color: white;">Help this web site exceed by making a donation today!</h1>

  <div class="donation-container" style="background-color: red; color: white;" >
    <form action="" method="POST" class="form-container">
      <h2 style="color: white;">Donations</h2>
      <div class="row">
        <div class="col-md-6 col-12">
          <label for="fname"><b>Name:</b></label>
        </div>
        <div class="col-md-3 col-12" ">
          <input type="text" placeholder="First Name" name="name" required>
        </div>
        <div class="col-md-3 col-12" ">
          <input type="text" placeholder="Last Name" name="name" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-12" ">
          <label for="email"><b>Email:</b></label>
        </div>
        <div class="col-md-6 col-12" ">
          <input type="text" placeholder="Email Address" name="email" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-12" ">
          <label for="address"><b>Address:</b></label>
        </div>
        <div class="col-md-6 col-12" ">
          <input type="text" placeholder="Address" name="address" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-12" ">
          <label for="donation"><b>Donation Amount:</b></label>
        </div>
        <div class="col-md-6 col-12" ">
          <input type="text" placeholder="Donation Amount" name="donation" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-12">
          <label for="message"><b>Message:</b></label>
        </div>
        <div class="col-md-6 col-12">
          <textarea type="text" placeholder="Donation Comments..." name="message"></textarea>
        </div>
      </div>

        <button type="submit" class="btn">SUBMIT</button>

    </form>
  </div>