@{
  ViewBag.Title = "Donate";
}

<h1 class="text-center">Consider Making A Donation</h1>

<div id="Donation-container">
  <form action="" method="post">

    <div class="row">
      <div class="col-12 col-lg-4">
        <label for="name">Name:</label>
      </div>
      <div class="col-12 col-lg-4 col-md-6">
        <input class="Donation" type="text" name="name" required>
      </div>
      <div class="col-12 col-lg-4 col-md-6">
        <input class="Donation" type="text" name="name" required>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-4">
        <label for="email">Email Address:</label>
      </div>
      <div class="col-12 col-lg-8">
        <input class="Donation" type="text" name="email" required>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-4">
        <label for="address">Address:</label>
      </div>
      <div class="col-12 col-lg-8">
        <input class="Donation" type="text" name="address" required>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-4">
        <label for="donation">Donation amount:</label>
      </div>
      <div class="col-12 col-lg-8">
        <input class="Donation" type="text" name="donation" required>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-4">
        <label for="message">Message:</label>
      </div>
      <div class="col-12 col-lg-8">
        <textarea class="Donation" name="message"></textarea>
      </div>
    </div>


    <input class="Donation" type="submit" value="Submit">
  </form>
</div>