
@{
    ViewBag.Title = "Donate";
    
}



<div class="Home-Donate--Container">
    <div class="container-fluid Home-Donate--LgHeader" style="padding: 0px; border-bottom-left-radius: 80px 80px">
        <br />
        Consider Making A Donation
    </div>

    <div class="Home-Donate--Form">

        <div class="form-group">
            <form action="" method="post" class="form-container">
                <div class="row">
                    <label for="name"><b>Name*</b></label><br />
                    <div class="col-sm-8">
                        <input type="text" placeholder="First Name" name="name" required>
                        <input type="text" placeholder="Last Name" name="name" required><br />
                    </div>
                </div>

                <div class="row">
                    <label for="name"><b>Email Address*</b></label><br />
                    <div class="col-sm-8">
                        <input type="text" placeholder="Email Address" name="email" required><br />
                    </div>
                </div>

                <div class="row">
                    <label for="name"><b>Donation Amount ($)*</b></label><br />
                    <div class="col-sm-8">
                        <input type="text" placeholder="Donation Amount" name="Donation" required><br />
                    </div>
                </div>

                <div class="row">
                    <label for="name"><b>Donation Comments*</b></label><br />
                    <div class="col-sm-8">
                        <input type="text" placeholder="Donation Comments" name="name" required><br />
                    </div>
                </div>

                <div class="" d-grid gap-2 d-md-block form-group Home-Donate--SubmitFormBtn">
                    <div>
                        <input type="submit" class="Home-Donate--Btn" value="Submit" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
