@{
  ViewBag.Title = "Donate";
}

<h1 class="text-center">Consider Making A Donation</h1>


<div class="full-width" style="background-color: #f04d44; border-radius: 5px;">
  <div id="Donation-container" class="Donation-container align-content-center" style="color:fffbfb;">
    <div class="business-container">
      <a href="contacts.php" class=".cu-donate-text" style="color: #000; font-size: 14px; font-weight: bold; "></a>
      <div class="business">
        <h1>Consider making a donation!</h1>
        <!-- Form -->
        <form>
          <div class="row">
            <div id="Donation-container" class="grid" style="">
              <form action="" method="post">

                <div class="row">
                  <div class="col-12 col-lg-4">
                    <label for="name">Name:</label>
                  </div>
                  
                  <div class="col-12 col-lg-4 col-md-6">
                    <input class="Donate" type="text" name="name" required>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-lg-4">
                    <label for="email">Email Address:</label>
                  </div>
                  <div class="col-12 col-lg-8">
                    <input class="Donation" type="text" name="email" required>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-lg-4">
                    <label for="address">Address:</label>
                  </div>
                  <div class="col-12 col-lg-8">
                    <input class="Donation" type="text" name="address" required>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-lg-4">
                    <label for="donation">Donation amount:</label>
                  </div>
                  <div class="col-12 col-lg-8">
                    <input class="Donation" type="text" name="donation" required>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-lg-4">
                    <label for="message">Message:</label>
                  </div>
                  <div class="col-12 col-lg-8">
                    <textarea class="Donation" name="message"></textarea>
                  </div>
                </div>


                <input type="Donation" class="text-align=center;" value="Submit">

                <!-- End Form -->
              </form>
            </div>



          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
