
@{
    ViewBag.Title = "Donate";
}

<head>
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>


<div class="home-donate--header_background">
    <h1 class="home-donate--header">Consider Making a Donation</h1>
</div>

<div class="container home-donate--form_container">
    <form>
        <div class="container-fluid row home-donate--form_buffer">
            <div class="form-group col-lg-2">
                <label>Name*</label>
            </div>
            <div class="form-group col-md-5">
                <input class="form-control col-md-12" type="text" value="" placeholder="First Name"/>
            </div>
            <div class="form-group col-md-5">
                <input class="form-control col-md-12" type="text" value="" placeholder="Last Name"/>
            </div>
        </div>

        <div class="container-fluid row home-donate--form_buffer">
            <div class="form-group col-lg-2">
                <label>Email Address*</label>
            </div>
            <div class="form-gorup col-md-10">
                <input class="form-control col-md-12" type="email" value="" placeholder="Email Address"/>
            </div>
        </div>

        <div class="container-fluid row home-donate--form_buffer">
            <div class="form-group col-lg-2">
                <label>Address</label>
            </div>
            <div class="form-group col-md-10">
                <input class="form-control col-md-12" type="text" value="" placeholder="Address"/>
            </div>
        </div>

        <div class="container-fluid row home-donate--form_buffer">
            <div class="form-group col-lg-2">
                <label>Donation Amount ($)</label>
            </div>
            <div class="form-group col-md-10">
                <input class="form-control col-md-12" type="text" value="" placeholder="Donation Amount"/>
            </div>
        </div>

        <div class="container-fluid row home-donate--form_buffer">
            <div class="form-group col-lg-2">
                <label>Donation Comments</label>
            </div>
            <div class="form-group col-md-10">
                <input class="form-control col-md-12 home-donate--form_input_big" type="text" value="" placeholder="Donation Comments"/>
            </div>
        </div>

        <div>
            <button class="btn home-donate--button">Submit</button>
        </div>

    </form>
</div>