
@{
    ViewBag.Title = "donate-center";
}
<div class="donate-center">
    <h2>Consider Making a Donation</h2>
</div>

<br>

<div class="bg-danger row">
    <div class="col-6">
        <form>
            <label for="firstName"><b>Name*</b></label>
            <br>
            <input type="text" class="form-control" placeholder="First Name" required>
            <br>
            <label for="lastName"><b>"Last Name"</b></label>
            <br>
            <input type="text" class="form-control" placeholder="Last Name" required>
            <br>
            <label for="email"><b>Email Address*</b></label>
            <br>
            <input type="text" class="form-control" placeholder="Email Address" required>
            <br>
            <label for="address"><b>Address</b></label>
            <br>
            <input type="text" class="form-control" placeholder="Address">
            <br>
            <label for="donate"><b>Donation Amount($)*</b></label>
            <br>
            <input type="text" class="form-control" placeholder="Donation Amount" required>


            <button type="submit" class="btn btn-danger btn-lg btn-block">Submit</button>
        </form>
    </div>

