<!DOCTYPE html>
<html>
<head>
    <title>Donation Form</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<style>
  .footer-lcopyright {
    color: white;
  }

  .footer-address {
    color: white;
  }
</style>



<body class="Home_Donation_Container" style="background-image: url('/Content/images/yellowstagecurtain.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; ">
    <div style="background-color: black;">
        <h1 class="Donation_Header">Donation Form</h1>
    </div>

    <div class="Home_Donation_Container">
        <form class="Home_Donation_Form" action="submit_donation.php" method="post">
            <div class="Home_Donation_Name">
                <label for="name" class="Home_Donation_Label">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="Home_Donation_Email">
                <label for="email" class="Home_Donation_Label">Email Address:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="Home_Donation_Address">
                <label for="address" class="Home_Donation_Label">Address:</label>
                <input type="text" id="address" name="address" required>
            </div>
            <div class="Home_Donation_Amount">
                <label for="amount" class="Home_Donation_Label">Donation Amount:</label>
                <input type="number" id="amount" name="amount" min="1" required>
            </div>
            <div class="Home_Donation_Comments">
                <label for="comments" class="Home_Donation_LabelComments">Comments:</label>
                <textarea id="comments" name="comments" rows="5" cols="50"></textarea>
            </div>
            <button class="Home_Donation_Button" type="submit">Donate</button>
        </form>
    </div>
</body>
</html>