@{ 
    ViewBag.Title = "Donate";
}

<h1>Consider Making A Donation</h1>

<div id="container">
  <form action="" method="post">
    
    <div class="row">
      <div class="col-12 col-lg-6">
        <label for="name">Name:</label>
      </div>
      <div class="col-12 col-lg-3 col-md-6">
        <input type="text" name="name" placeholder="First Name.." required>
      </div>
      <div class="col-12 col-lg-3 col-md-6">
        <input type="text" name="name" placeholder="Last Name.." required>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12 col-lg-6">
        <label for="email">Email Address:</label>
      </div>
      <div class="col-12 col-lg-6">
        <input type="text" name="email" placeholder="Email Address.." required>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12 col-lg-6">
        <label for="address">Address:</label>
      </div>
      <div class="col-12 col-lg-6">
        <input type="text" name="address" placeholder="Address.." required>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12 col-lg-6">
        <label for="donation">Donation amount:</label>
      </div>
      <div class="col-12 col-lg-6">
        <input type="text" name="donation" placeholder="Donation Amount.." required>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12 col-lg-6">
        <label for="message">Message:</label>
      </div>
      <div class="col-12 col-lg-6">
        <textarea name="message" placeholder="Donation Comments.."></textarea>
      </div>
    </div>
    

    <input type="submit" value="Submit">
  </form>
</div>