
<div class="container" style="background-image: url(../../Content/images/theater.jpg)">
    <h1 class="text-center w-100 h-100 p-4" style="font-family: Broadway">Consider Making a Donation</h1>
</div>

<div class="home-donate-formcontainer">
    <div class="row">
        <div class="home-donate-col">
            <label class="w-100  float-left">Name *</label>
        </div>
        <div class="home-donate-col-1">
            <input class="w-100" type="text" placeholder="First Name" />
        </div>
        <div class="home-donate-col-1">
            <input class="w-100" type="text" placeholder="Last Name" />
        </div>
    </div>
    <div class="row">
        <div class="home-donate-col-4">
            <label class="w-100  float-left">Email Address *</label>
        </div>
        <div class="home-donate-col-8">
            <input class="w-100" type="text" placeholder="Email Address" />
        </div>
    </div>
    <div class="row">
        <div class="home-donate-col-4">
            <label class="w-100  float-left">Address</label>
        </div>
        <div class="home-donate-col-8">
            <input class="w-100" type="text" placeholder="Address" />
        </div>
    </div>
    <div class="row">
        <div class="home-donate-col-4">
            <label class="w-100  float-left">Donation Amount ($) *</label>
        </div>
        <div class="home-donate-col-8">
            <input class="w-100" type="text" placeholder="Donation Amount" />
        </div>
    </div>
    <div class="row">
        <div class="home-donate-col-4">
            <label class="w-100  float-left">Comments</label>
        </div>
        <div class="home-donate-col-8">
            <textarea class="w-100" rows="3" placeholder="Comments"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="home-donate-col-4">
            <input type="submit" class="w-50 rounded h-100 p-2" />
        </div>
    </div>
</div>