@{
  ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col text-center m-lg-5">
            <div class="w-100"><img src="~/Content/images/TheatreLogo.png" alt="Theatre Logo" style="margin:15%;height:100px;" /></div>
        </div>
    </div>
    <div class="row justify-content-between">

        <div class="col-6">
            <p style="font-family:Oswald;">SPOTLIGHT</p>
            <div><img src="~/Content/images/DollsHouse.png" alt="Doll House" class="w-100" /></div>
            <img src="~/Content/images/Tempest.png" class="w-100" style="margin-top:10%;"/>
        </div>
        <div class="col-4">
            <p style="font-family:Oswald;">DONATIONS</p>
            <a href="https://localhost:44311/Donate" class="btn btn-danger btn-lg active" role="button" style="margin:10%;" aria-pressed="true">Click To Support</a>
            <p style="font-family:Oswald;">SPONSORS</p>
            <img src="~/Content/images/Sponsors/LogoRoundColor.png" alt="Sponsor 1" style="height:90px;" />
            <img src="~/Content/images/Sponsors/Ninkasi-white-text.png" alt="Sponsor 2" style="height:100px;" />
            <img src="~/Content/images/Sponsors/Ellyn-Bye-Logo.png" alt="Sponsor 3" style="height:70px;" />
            <img src="~/Content/images/Sponsors/OCF-logo-in-white-with-tagline-lg.png" alt="Sponsor 4" style="height:100px;" />
            <img src="~/Content/images/Sponsors/RACC.png" alt="Sponsor 5" style="height:43px;" />
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <p style="font-family:Oswald;">LAND ACKNOWLEDGEMENT</p>
            <p style="font-family:Oswald;">Theatre Vertigo humbly acknowledges we live and work on the unceded, traditional tribal lands of the Multnomah, Wasco, Clackamas, Chinook bands, Kathlamet, Tualatin Kalapuya, Cowlitz, Mollala, Cascades, Oregon City Tumwater, Confederated Tribes of the Grand Ronde and other indigenous peoples.</p>
            <p style="font-family:Oswald;">We are on stolen land.</P>
            <p style="font-family:Oswald;">Theatre Vertigo has been and continues to examine our community relationships to ensure our collaborators, partners and sponsors support the our regions Indigenous Nations and communities.
                One of the ways Theatre Vertigo is working to act on our commitment to being of service to the lands that we now share is to build bridges between our arts community and local Nations.
            </p>
        </div>
        <div class="col-4">
            <div class="text-center"><a href="https://nayapdx.org/"><img src="~/Content/images/NAYAFamilyCenter.jpg" /></a></div>
            <p style="font-family:Oswald;">Click to visit the NAYA Family Center to learn more</p>
            <p style="font-family:Oswald;">about supporting our local indigenous communities</p>
        </div>
    </div>
 </div>

    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@

