@{
    ViewBag.Title = "Home Page";
}

<!--add theatre vertigo logo under navbar-->
<img src="~/content/images/theatrelogo.png" alt="theatre vertigo logo" class="vertigologo" />

<div>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@

    <!--Add columns under Theatre Vertigo Logo-->
    <div class="row1">
        <div class="column1">
            <h2>SPOTLIGHT</h2>
            <img src="~/Content/images/DollsHouse.png" alt="Dolls House" 
                 width="740"/>
            <br />
            <img src="~/Content/images/macbeth.png" alt="Macbeth"
                 width="740"/>
            <img src="~/Content/images/MidsummerNightDream.png" alt="A Midsummer Night's' Dream" 
                 width="740"/>
            <img src="~/Content/images/Tempest.png" alt="Temptest" 
                 width="740"/>
        </div>
            
        <div class="column2">
            <h2>DONATIONS</h2>
            <button onclick="">Click to Support!</button>
            <br />
            <br />
            <div class="sponsors">
                <h2>Sponsors</h2>
                <img src="~/Content/images/Sponsors/Ellyn-Bye-Logo.png" alt="Ellyn Bye" 
                     width="38"/>
                <img src="~/Content/images/Sponsors/LogoRoundColor.png" alt="Logo Round Color"
                     width="38"/>
                <img src="~/Content/images/Sponsors/Ninkasi-white-text.png" alt="Ninkasi"
                     width="38"/>
                <br />
                <img src="~/Content/images/Sponsors/OCF-logo-in-white-with-tagline-lg.png" alt="OFC" 
                     width="38"/>
                <br />
                <img src="~/Content/images/Sponsors/RACC.png" alt="RACC" 
                     width="38"/>
            </div>
        </div>
        
    </div>
</div>


@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@