@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />

<div class="text-center Home-body-logo-top">
    <img class="Home-theatre-logo-top" src="~/Content/images/TheatreLogo.png" />

</div>

<div class="Home-body-content-top row">
    <div class="Home-body-spotlight col-sm-8">
        <div class="Home-body-section-title">SPOTLIGHT</div>
        <div class="Home-body-spotlight-imgs">
            <img class="Home-body-spotlight-img" src="~/Content/images/DollsHouse.png" alt="dollhouse poster" />
            <img class="Home-body-spotlight-img" src="~/Content/images/Tempest.png" alt="tempest poster" />

        </div>
    </div>
    <div class="col-sm-4">
        <div class="Home-body-donations">
            <div class="Home-body-section-title">DONATIONS</div>
            <div class="Home-body-donations-content text-center">
                <button type="button" class="btn text-center Home-body-donation-btn" href="">Click to Support</button>
            </div>
        </div>
        <div class="Home-body-sponsors">
            <div class="Home-body-section-title">SPONSORS</div>
            <div class="Home-body-sponsor-logos">
                <img class="Home-sponsor-logo" src="~/Content/images/Sponsors/LogoRoundColor.png" />
                <img class="Home-sponsor-logo" src="~/Content/images/Sponsors/Ninkasi-white-text.png" />
                <img class="Home-sponsor-logo" src="~/Content/images/Sponsors/Ellyn-Bye-Logo.png" />
                <img class="Home-sponsor-logo Home-sponsor-logo-ocf" src="~/Content/images/Sponsors/OCF-logo-in-white-with-tagline-lg.png" /><br />
                <img class="Home-sponsor-logo Home-sponsor-logo-racc" src="~/Content/images/Sponsors/RACC.png" />
            </div>
        </div>
    </div>
</div>
<div class="Home-body-content-bottom row">
    <div class="Home-body-land col-sm-8">
        <div class="Home-body-section-title">LAND ACKNOWLEDGEMENT</div>
        <div class="Home-body-land-text">
            <p>
                Theatre Vertigo humbly acknowledges we live and work on the unceded, traditional tribal lands of the Multnomah, Wasco,
                Clackamas, Chinook bands, Kathlamet, Tualatin, Kalapuya, Cowlitz, Mollala, Cascades, Oregon City Tumwater, Confederated
                Tribes of the Grand Ronde and other indigenous people.
            </p>
            <strong>We are on stolen land.</strong><br /><br />
            <p>
                Theatre Vertigo has been and continues to examine our community relationships to ensure our collaborators, partners and
                sponsors support the our regions Indigneous Nations and communities.<br /><br />
                One of the ways Theatre Vertigo is working to act on our commitment to being of service to the lands that we now share
                is to build bridges between our arts community and local Nations
            </p>
        </div>
    </div>
    <div class="Home-body-naya col-sm-4 text-center">
        <a href="https://nayapdx.org/"><img class="Home-body-naya-logo" src="~/Content/images/NAYAFamilyCenter.jpg" /></a>
        <p>Click to visit the NAYA Family Center to learn more about supporting our local indigenous communities.</p>
    </div>
</div>
