@{
  ViewBag.Title = "Home Page";
}

<div>
    <div class="text-center img-fluid"><img style="margin: 100px; width: 25em;" src="~/Content/images/TheatreLogo.png" /></div>

    <div class="row mt-5">
        <div class="col-7">
            <h3 class="home-index-section-title">SPOTLIGHT</h3>
            <hr class="home-index-break" />
            <div>
                <div>
                    <img class="mt-2 mb-5" src="~/Content/images/DollsHouse.png" />
                    <img src="~/Content/images/Tempest.png" />
                </div>
            </div>
        </div>

        <div class="col-5 mt-5 mb-5">
            <h3 class="home-index-section-title">DONATIONS</h3>
            <hr class="home-index-break" />
            <div class="mt-lg-5 ml-5">
                <a style="padding: 1rem 1.5rem; width: 10rem;" class="btn btn-lg home-index-btn text-center w-50" href="#">Click to Support</a>
            </div>

            <h3 class="home-index-section-title mt-5">SPONSORS</h3>
            <hr />
            <div class="home-index-sponsors">
                <img src="~/Content/images/Sponsors/Ellyn-Bye-Logo.png" />
                <img src="~/Content/images/Sponsors/LogoRoundColor.png" />
                <img src="~/Content/images/Sponsors/Ninkasi-white-text.png" />
                <img src="~/Content/images/Sponsors/OCF-logo-in-white-with-tagline-lg.png" />
                <img src="~/Content/images/Sponsors/RACC.png" />
            </div>
        </div>

        <div class="row">
            <div class="col-7">
                <h3 class="home-index-section-title mt-5">LAND ACKNOWLEDGEMENT</h3>
                <hr class="home-index-break" />
                <div class="w-75">
                    <p>
                        Theatre Vertigo humbly acknowledges we live and work on unceded,
                        traditional tribal lands of the Multnomah, Wasco, Clackamas, Chinook bands,
                        Kathlamet, Tualatin Kalapuya, Cowlitz, Mollala, Cascades, Oregon City Tumwater,
                        Confederated Tribes of the Grand Ronde and other indigenous peoples
                    </p>
                    <p><strong>We are on stolen land.</strong></p>
                    <p>
                        Theatre Vertigo has been and continues to examine our community
                        relationships to ensure our collaborators, partners and sponsors
                        support our region's Indigenous Nations and communities.
                    </p>
                    <p>
                        One of the ways Theatre Vertigo is working to act on our
                        commitment to being of service to the lands that we now share
                        is to build bridges between our arts community and local Nations.
                    </p>
                </div>
            </div>
            <div class="col-4 align-self-end">
                <a  href="https://nayapdx.org/" target="_blank"><img src="~/Content/images/NAYAFamilyCenter.jpg" style="cursor: pointer;" /></a>
                <p class="w-75">
                    Click to visit the Naya Family Center to learn
                    more about supporting our local indigenous communities
                </p>
            </div>
        </div>

    </div>

</div>


    