@{
  ViewBag.Title = "Home Page";
}

<div>
    <h1 class="CMS-text-white CMS-text-bigger">Welcome to Theatre Vertigo</h1>
    <p class="text-xl-center">@Html.ActionLink("About Theatre Vertigo", "About", new { }, new { @class = "CMS-text-bigger" })</p>
    <div>
        <center><img src="~/Content/images/TheatreLogo.png" /></center>
    </div>
    
   
        

    <div class="home-index-- row no-gutters">
        <div class="home-index-- col-sm-6 col-md-8">
        <h2>SPOTLIGHT</h2>
        <img src="~/Content/images/DollsHouse.png" />
        <img src="~/Content/images/Tempest.png" />
        <img src="~/Content/images/macbeth.png" />
        <img src="~/Content/images/MidsummerNightDream.png" />

        <h2> LAND ACKOWLEDGMENT</h2>
        <p>
            Theatre Vertigo humbly acknowledges we
            live and work on the unceded, traditional
            tribal lands of the Multnomah, Wasco,
            Clackamas, Chinook bands, Kathlamet, Tualatin,
            Katapuya, Cowlitz, Mollala, Cascades, Oregon City
            Tumwater, Confederated Tribes of the Grand Ronde
            and other indigenous peoples.
        </p>
        <br />
        <strong> We are on stolen land.</strong>
        <br />
        <p>
            Theatre Vertig has been and continues
            to examine our community relationships to
            ensure our collaborators, partners and sponsors
            suppurt our regions indigenous Nations and communities.
            <br>
            One tof the ways Theatre Vertifo is working to
            act on our commitment to being of service to the
            lands that we now share is to build bridges between
            our art community and local Nations.
        </p>
    </div>


    <div class="home-index-- col-6 col-md-4">
            <h2>DONATIONS</h2>
            <a href="~/Views/Home/Donate.cshtml">Click to Support</a>
            <br>

            <div>
                <h2>SPONSORS</h2>
                <img src="~/Content/images/Sponsors/Ellyn-Bye-Logo.png" />
                <img src="~/Content/images/Sponsors/LogoRoundColor.png" />
                <img src="~/Content/images/Sponsors/Ninkasi-white-text.png" />
                <img src="~/Content/images/Sponsors/OCF-logo-in-white-with-tagline-lg.png" width="240" height="150" />
                <img src="~/Content/images/Sponsors/RACC.png" width="240" height="150" />
            </div>
            <br>
            <div>

                <div>
                    <a href="https://nayapdx.org/" target="_blank">
                        <img src="~/Content/images/NAYAFamilyCenter.jpg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
       
     

        @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
        @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>