@{
        ViewBag.Title = "Home Page";
    }


    <div class="text-center my-4">
        <img width="486" height="100"src="~/Content/images/TheatreLogo.png" alt="Theatre Vertigo Logo" style="margin-top: 50px;" >
    </div>

    <div class="row">

        <div class="col-md-8">
            <div class="spotlight-section">
                <h2 class="section-title">Spotlight</h2>
                <div class="spotlight-images">
                    <img src="~/Content/images/DollsHouse.png" alt="Upcoming Event 1">
                    <img src="~/Content/images/MidsummerNightDream.png" alt="Upcoming Event 2">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="donations-section">
                <h2 class="section-title">Donations</h2>
                <div class="donation-button-container">
                    <a href="/home/index" target="_blank" class="btn-lg btn-danger  ">Click to Support</a> @*the donation page is not implemented, so this link just goes back to the home page*@
                </div>
            </div>
            <div class="sponsors-section">
                <h2 class="section-title">Sponsors</h2>
                <div class="sponsor-badge">
                    <img src="~/Content/images/Sponsors/Ellyn-Bye-Logo.png" alt="Sponsor 1">
                    <img src="~/Content/images/Sponsors/LogoRoundColor.png" alt="Sponsor 2">
                    <img src="~/Content/images/Sponsors/Ninkasi-white-text.png" alt="Sponsor 3">
                    <img src="~/Content/images/Sponsors/OCF-logo-in-white-with-tagline-lg.png" alt="Sponsor 4">
                    <img src="~/Content/images/Sponsors/RACC.png" alt="Sponsor 5">
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="land-acknowledgement-section">
                <h2>Land Acknowledgement</h2>
                <p>
                    Theatre Vertigo humbly acknowledges we live and work on the unceded, traditional tribal lands of the Multnomah, Wasco, Clackamas, Chinook bands, Kathlamet, Tualatin Kalapuya, Cowlitz, Mollala, Cascades, Oregon City Tumwater, Confederated Tribes of the Grand Ronde and other indigenous peoples.
                </p>
                <h4>We are on stolen land.</h4>
                <p>
                    Theatre Vertigo has been and continues to examine our community relationships to ensure our collaborators, partners and sponsors support our regions Indigenous Nations and communities.
                </p>
                <p>
                    One of the ways Theatre Vertigo is working to act on our commitment to being of service to the lands that we now share is to build bridges between our arts community and local Nations.
                </p>

            </div>

        </div>

        <div class="col-md-4 ">
            <div class="naya-section">
                <p>
                    <a href="https://nayapdx.org/" target="_blank"><img src="~/Content/images/NAYAFamilyCenter.jpg" alt="NAYA" /></a>
                </p>

            </div>
            <p>
                Click to visit the NAYA Family Center to learn more about supporting our local indigenous communitues.
            </p>
        </div>

    </div>

