@{
  ViewBag.Title = "Home Page";
}
<div class="container-flex">
	<div class="row">
		<div class="col-md-12">
			<div class="logo-img"
			<p>
			<img alt="Theatre Vertigo Logo" src="~/Content/images/TheatreLogo.png" />
				</p>
			</div>
			<div class="row">
                <div class="col-md-8 spotlight-images">
					<p class="cms-text-main section-title">
                        Spotlight
					</p>
					<p>
						<img alt="A Doll's House" src="~/Content/images/DollsHouse.png" />
						<img alt="Tempest" src="~/Content/images/Tempest.png" />
					</p>
                </div>
                <div class="col-md-4">

                    <p class="cms-text-main section-title">
                        Donations
                    </p>
                    <a class="btn btn-danger donation-button-container" href="#Donations" role="button">
                        Support
                    </a>

				<div class="col-md-4 sponsor-badge">
                    <p class="cms-text-main section-title">
                        Sponsors

                    </p>
                    <p class="sponsor-badge">
                        <img src="~/Content/images/Sponsors/Ellyn-Bye-Logo.png" /><img alt="" src="~/Content/images/Sponsors/LogoRoundColor.png" />
                        <img src="~/Content/images/Sponsors/Ninkasi-white-text.png" />
                        <img src="~/Content/images/Sponsors/OCF-logo-in-white-with-tagline-lg.png" />
                        <img src="~/Content/images/Sponsors/RACC.png" />
                    </p>
				</div>

                </div>
			</div>
			<div class="row">
				<div class="col-md-8 ">
					<p class="cms-text-main section-title">
						Land Acknowledgement
					</p>
					<p>
						Additional information will go here
					</p>
					<p>

					</p>
				</div>
				<div class="col-md-4">
					<img src="~/Content/images/NAYAFamilyCenter.jpg" />
				</div>
			</div>
		</div>
</div>