@{
    ViewBag.Title = "Home Page";
}


<div class="home-index--theatreLogo">
    <img src="~/Content/images/TheatreLogo.png" alt="Theatre-Logo" />
</div>

<div class="home-index--container">

  <div class="home-index--row">

    <div class="home-index--columnLeft">

      <div class="home-index--spotlight">
        <h2 class="home-index--h2">SPOTLIGHT</h2>
        <img src="~/Content/images/DollsHouse.png" alt="Dolls-House" />
        <img src="~/Content/images/Tempest.png" alt="The-Tempest" />
      </div>

      <div class="home-index--LandAcknowledgement">
        <h2 class="home-index--h2">LAND ACKNOWLEDGEMENT</h2>
        <p>
          Theatre Vertigo humbly acknowledges we live and work on the unceded, traditional tribal lands of the Multnomah, 
          Wasco, Clackamas, Chinook bands, Kathlamet, Tualatin Kalapuya, Cowlitz, Mollala, Cascades,
          Oregon City Tumwater, Confederated Tribes of the Grand Ronde and other indigenous peoples.
        </p>

        <p><strong>We are on stolen land.</strong></p>

        <p>Theatre Vertigo has been and continues to examine our community relationships to ensure our collaborators,
           partners and sponsors support the our regions Indigenous Nations and communities.
        </p>

        <p>One of the ways Theatre Vertigo is working to act on our commitment to being of service
           to the lands that we now share is to build bridges between our arts community and local Nations.
        </p>
      </div>
      
    </div>

    <div class="home-index--columnRight">

      <div class="home-index--donations">
        <h2 class="home-index--h2">DONATIONS</h2>
        <div class="home-index--donationsBtn">
          <a class="home-index--btn" href="~/home/donate" target="_blank">Click to Support</a>
        </div>
      </div>

      <div class="home-index--sponsors">
        <h2 class="home-index--h2">SPONSORS</h2>
        <img src="~/Content/images/Sponsors/LogoRoundColor.png" alt="Cider-Riot" />
        <img src="~/Content/images/Sponsors/Ninkasi-white-text.png" alt="Ninkasi-Brewing" />
        <img src="~/Content/images/Sponsors/Ellyn-Bye-Logo.png" alt="Ellyn-Bye" />
        <img src="~/Content/images/Sponsors/OCF-logo-in-white-with-tagline-lg.png" alt="The-Oregon-Community-Foundation" />
        <img src="~/Content/images/Sponsors/RACC.png" alt="Regional-Arts-Culture-Council" />
      </div>
      <div class="home-index--NAYA">
        <a href="https://nayapdx.org/" target="_blank"><img src="~/Content/images/NAYAFamilyCenter.jpg" /></a> 
        <p>
          Click to visit the NAYA Family Center to learn more about supoorting our local indigenous communities.
        </p>
      </div>

    </div>

  </div>

</div>
 

