@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Areas/Prod.css" rel="stylesheet" />

<div>
    <img class="Home-Index--TheatreLogo" src="~/Content/images/TheatreLogo.png" #" alt="Theater logo" />
    @*<p class="text-xl-center">@Html.ActionLink("About Theatre Vertigo", "About", new { }, new { @class = "CMS-text-bigger" })</p> this is the about btn*@
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="row">
    <div class="column left Home-Index--SpotlightColumn">
        <h1 class="Home-Index--SectionTitle">SPOTLIGHT</h1>
        <img class="Home-Index--SpotlightImgs" src="~/Content/images/DollsHouse.png" />
        <img class="Home-Index--SpotlightImgs" src="~/Content/images/Tempest.png" />
    </div>
    <div class="column right Home-Index--DonoSponsColumn">
        <div class="row Home-Index--DonoTitleRow">
            <h1  class="Home-Index--SectionTitle">DONATIONS</h1>
        </div>
        <div class="row Home-Index--DonoBtnRow">
            <button onclick="href='Dono-Page'" type="button" class="btn btn-lg Home-Index--SupBtn">Click To Support</button>
        </div>
        <div class="row Home-Index--SponsRow">
            <h1 class="Home-Index--SectionTitle">SPONSORS</h1>
        </div>
        <div class="row Home-Index--SponsRowImgs">
            <img class="Home-Index--SponsImgType1" src="~/Content/images/Sponsors/LogoRoundColor.png" />
            <img class="Home-Index--SponsImgType1" src="~/Content/images/Sponsors/Ninkasi-white-text.png" />
            <img class="Home-Index--SponsImgType1" src="~/Content/images/Sponsors/Ellyn-Bye-Logo.png" />
        </div>
        <div class="row Home-Index--SponsImgRowImgs2">
            <img class="Home-Index--SponsImgType2" src="~/Content/images/Sponsors/OCF-logo-in-white-with-tagline-lg.png" />
        </div>
        <div class="row Home-Index--SponsImgRowImgs3">
            <img class="Home-Index--SponsImgType1" src="~/Content/images/Sponsors/RACC.png" />
        </div>
    </div>
</div>
<div class="row Home-Index--LandRowTitle">
    <h1 class="Home-Index--SectionTitle">LAND ACKNOWLEDGEMENT</h1>
</div>
<div class="row">
    <div class="column left Home-Index--TextLand">
        <p>Theater Vertigo humbly acknowledges we live and work on unceded, traditional tribal lands of the Multnomah, Wasco, Clackamas, CHinook bands, Kathlament, Tualatin Kalapuya, Cowlitz, Mollala, Cascades, Oregon City Tumwater, Confederated Tribes of the Grand Ronde and other indigenous peoples.</p>
        <p><b>We are on stolen land.</b></p>
        <p>Theatre Vertigo has been and continues to examine our community relationships to ensure our collaborators, partners and sponsors support the our regions Indigenous Nations and communities.</p>
        <p>One of the ways Theatre Vertigo is working to act on our commitment to being of service to the lands that we now share is to build bridges between our arts community and local Nations.</p>
    </div>
    <div class="column right Home-Index--ImgLand">
        <a target="_blank" rel="noopener noreferrer" href="https://nayapdx.org/">
            <img id="Home-Index--LandPic"src="~/Content/images/NAYAFamilyCenter.jpg">
        </a>
        <p id="Home-Index--PhotoText">Click to visit the NAYA Family Center to learn more about supporting our local indigenous communities.</p>
    </div>
</div>
    
@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@
