@{
  ViewBag.Title = "Home Page";
}

<div>
    <p class="Home-Index-Logo"><img src="~/Content/images/TheatreLogo.png" /></p>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>


<body>
    <div class="container">
        <div class="Home-Index-AllContent">
            <div class="row">
                <div class="col-8">
                    <h4 class="Home-Index-UnderlineText">SPOTLIGHT</h4>
                    <br />
                    <p><img src="~/Content/images/MidsummerNightDream.png"</p>
                    <p><img src="~/Content/images/Tempest.png"</p>
                    </br>
                    <h4 class="Home-Index-UnderlineText">LAND ACKNOWLEDGEMENT</h4>
                    <br />
                    <p>
                        Founded by the community, for the community, NAYA is a family of numerous tribes and voices who are rooted in sustaining tradition and building cultural wealth.
                        We provide culturally-specific programs and services that guide our people in the direction of personal success and balance through cultural empowerment.
                        Our continuum of lifetime services create a wraparound,
                        holistic healthy environment that is Youth Centered, Family Driven, Elder Guided.
                    </p>
                </div>
                <div class="col-4">
                    <h4 class="Home-Index-UnderlineText">DONATIONS</h4>
                    <br />
                    <button onclick="" class="btn btn-lg Home-Index-Button">Click To Support!</button>
                    <div class="Home-Index-Sponsor">
                        <h4 class="Home-Index-UnderlineText">SPONSORS</h4>
                        <br />
                        <p>
                            <img class="Home-Index-SponsorImageWide" src="~/Content/images/Sponsors/Ellyn-Bye-Logo.png" />
                            <img class="Home-Index-SponsorImage" src="~/Content/images/Sponsors/LogoRoundColor.png" />
                            <img class="Home-Index-SponsorImage" src="~/Content/images/Sponsors/Ninkasi-white-text.png" />
                            <img class="Home-Index-SponsorImageWide" src="~/Content/images/Sponsors/OCF-logo-in-white-with-tagline-lg.png" />
                            <img class="Home-Index-SponsorImageWide" src="~/Content/images/Sponsors/RACC.png" />
                        </p>
                    </div>
                    <div class="Home-Index-LandAcknowledgement">
                        <a href="https://nayapdx.org/" target="_blank">
                            <p><img class="Home-Index-NAYA" src="~/Content/images/NAYAFamilyCenter.jpg"</p>
                        </a>
                        <p>
                            Click to visit the NAYA Family Center to learn more about
                            supporting our local indigenous communities.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>