@{
    ViewBag.Title = "Home Page";
    

}


<div class="text-center">
    <img src="~/Content/images/TheatreLogo.png" alt="Vertigo Logo" class="home-index--title_logo"/>
</div>


<div class="home-index--row">
    <div class="home-index--left_column">
        @* LEFT SIDE COLUMN (only contains spotlight section) *@
        <div class="card text-white cms-bg-dark">
            <div class="card-body">
                <h3 class="card-text home-index--section_title">SPOTLIGHT</h3>
            </div>
            <img class="card-img-bottom pb-5" src="~/Content/images/DollsHouse.png" alt="A Dolls House cover" />
            <img class="card-img-bottom" src="~/Content/images/Tempest.png" alt="The Tempest cover" />
        </div>
    </div>
    <div class="home-index--right_column">
        @* RIGHT SIDE COLUMN (Contains Donations + Sponsors sections)
        DONATIONS*@
        <div class="card text-white cms-bg-dark">
            <div class="card-body">
                <h3 class="card-text home-index--section_title">DONATIONS</h3>
                <div class="text-center">
                    <a href="#" class="btn cms-bg-main text-white home-index--donation_btn">Click to Support</a>
                </div>
             </div>
        @*SPONSORS*@
            </div>
        <div class="card text-white cms-bg-dark">
            <div class="card-body">
                <h3 class="card-text home-index--section_title">SPONSORS</h3>
                <div class="card-columns home-index--sponsors">
                    <div class="card-group">
                        <div class="card cms-bg-dark">
                            <img class="card-img-top" src="~/Content/images/Sponsors/LogoRoundColor.png" />
                        </div>
                        <div class="card cms-bg-dark">
                            <img class="card-img-top" src="~/Content/images/Sponsors/Ninkasi-white-text.png" />
                        </div>
                    </div>
                    <div class="card cms-bg-dark">
                        <img class="card-img-top" src="~/Content/images/Sponsors/OCF-logo-in-white-with-tagline-lg.png" />
                    </div>
                    <div class="card cms-bg-dark">
                        <img class="card-img-top" src="~/Content/images/Sponsors/RACC.png" />
                    </div>
                    <div class="card cms-bg-dark">
                        <img class="card-img-top" src="~/Content/images/Sponsors/Ellyn-Bye-Logo.png" />
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

@*LAND ACKNOWLEDGEMENT SECTION*@
<div class="home-index--row">
    <div class="home-index--left_column">
        <h3 class="card-title home-index--section_title">LAND ACKNOWLEDGEMENT</h3>
        <p class="home-index--land_acknowledgement">Theatre Vertigo humbly acknowledges we live and work on the unceded, traditional tribal lands
        of the Multnomah, Wasco, Clackamas, Chinook bands, Kathlamet, Tualatin Kalapuya, Cowlitz, Mollala,
        Cascades, Oregon City Tumwater, Confederated Tribes of the Grand Ronde and other indigenous peoples.</p>
        <p class="font-weight-bold home-index--land_acknowledgement">We are on stolen land.</p>
        <p class="home-index--land_acknowledgement">Theatre Vertigo has been and continues to examine our community relationships to ensure our
        collaborators, partners and sponsors support our regions's Indigenous Nations and communities.</p>
        <p class="home-index--land_acknowledgement">One of the ways Theatre Vertigo is working to act on our commitment to being of service to
        the lands that we now share is to build bridges between our arts community and local Nations.</p>
    @*THIS IS THE RIGHT COLUMN, WITH NAYA IMAGE AND CAPTION*@    
    </div>
    <div class="home-index--right_column">
        <div class="card cms-bg-dark">
            <div class="text-center">
                <a href="https://nayapdx.org/" target="_blank">
                    <img class="card-img-top home-index--naya_img" src="~/Content/images/NAYAFamilyCenter.jpg" alt="NAYA Family Center Logo" />
                </a>
            </div>
            <div class ="card-body p-0 m-0">
                <div class="card-text home-index--naya_caption">Click to visit the NAYA Family Center to learn more about supporting our local indigenous communities.</div>
            </div>
        </div>
    </div>
</div>
