@{
  ViewBag.Title = "Home Page";
}

<div>
  <h1 class="CMS-text-white CMS-text-bigger"><img src="~/Content/images/TheatreLogo.png" /></h1>
  <p class="text-xl-center"></p>

<div class="Home-Index-Container">
    <div class="Home-Index--Rightcol">
        <h2>Spotlight</h2>
        <img src="~/Content/images/Tempest.png" />
    </div>
    <div class="Home-Index--Leftcol">
        <h2>Donations</h2>
        <button>Click to Support</button> <!--Link to Donations page when donations page is created-->
        <br />
        <br />
        <h3>Sponsors</h3>
        <img src="~/Content/images/Sponsors/Ellyn-Bye-Logo.png" width="200" height="100"/>
        <img src="~/Content/images/Sponsors/LogoRoundColor.png" width="100" height="100"/>
        <img src="~/Content/images/Sponsors/Ninkasi-white-text.png" width="100" height="100"/>
        <img src="~/Content/images/Sponsors/OCF-logo-in-white-with-tagline-lg.png" width="100" height="50"/>
        <img src="~/Content/images/Sponsors/RACC.png" width="100" height="50"/>
    </div>
</div>
<br />
<div class="Home-Index--LandContainer">
        <div class="Home-Index--LandColRight">
            <h2>Land Acknowledgment</h2>
            <p>Theater Vertigo humbly acknowledges we live and work on the unceded, traditional
            tribal lands of the Multnomah,Wasco, Clackamas,Chinook bands,Kathlamet, Tualatin Kalapuya, Cowlitz, Molla, Cascades, Oregon City Tumwater, 
            Confederated Tribes of the Grand Ronde and other indigenous peoples.</p>
            <br />
            <p><b>We are on stolen land.</b></p>
            <br />
            <p>Theatre Vertigo has been and continues to examine our community relationshops to ensure our collaborators, partners
            and sponsors support the our regions Indigenous Nations and communities.</p>
            <br />
            <p>One of the ways Theatre Vertigo is working to act on our commitment to being of service to the lands that we now share is 
            to build bridges between our arts community and local Nations.</p>
        </div>
        <div class="Home-Index--LandColLeft">
            <a herf="https://nayapdx.org/"><img src="~/Content/images/NAYAFamilyCenter.jpg"/></a>
            <p>Click to visit the NAYA Family Center to learn more about supporting our local indigenous communities</p>
        </div>
</div>
  @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
  @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    
</div>
