
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class= "py-5 text-center" >@*Centered text and padded bottom*@
    <h1>Developers of TheatreCMS</h1>
    <h2>SignIn</h2>
</div>

@* Add your name to the bottom of the list like so: *@
@* <p>YOUR NAME</p> *@

<div class="text-center">@*Centered text*@
    <p>Raquel Rulli</p>
    <p>Drew Slone</p>
    <p>Emily-Maud Morris</p>
    <p>Kevin McCrea</p>
</div>