
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SignIn</h2>

@* Add your name to the bottom of the list like so: *@
@* <p>YOUR NAME</p> *@

<p>Kevin McCrea</p>

