
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="py-5 text-center">
    @*Centered text and padded bottom*@
<h1>Developers of TheatreCMS</h1>
<h2>SignIn</h2>
</div>

@* Add your name to the bottom of the list like so: *@
@* <p>YOUR NAME</p> *@

<div class="text-center">
    @*Centered text*@
    <p>Raquel Rulli</p>
    <p>Drew Slone</p>
    <p>Emily-Maud Morris</p>
    <p>Kevin McCrea</p>
    <p>Jeffrey Arnold</p>
    <p>Rhodri Thomas</p>
    <p>Kevin Deming</p>
    <p>Jaimie Bertoli</p>
    <p>Dave Defourneaux</p>
    <p>Cory Grundy</p>
    <p>Brian Brown</p>
    <p>Stephen Webb</p>
    <p>Austin Riggs</p>
    <p>Michael Shigezumi</p>
    <p>Derek Threeton</p>
    <p>Harrison Wayman</p>

</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#exampleModal').on('click', '#button', function (e) {
        console.log("test1");
        //var $modalDiv = $(e.delegateTarget);
        //var id = $(this).data('itemId');
        //$modalDiv.addClass('loading');
        //$.post('/Blog/BlogPost/Delete/' + id).then(function () {
        //    $modalDiv.modal('hide').removeClass('loading');
        //});
    });
    $(function() {
        $('#exampleModal').on('show.bs.modal', function (e) {
            console.log("test2");
            //var data = $(e.relatedTarget).data();
            //$('.description', this).text(data.itemDescription);
            //$('#button', this).data('itemId', data.itemId);
        });
    });
</script>