
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Developers of TheatreCMS</h1>
<h2>SignIn</h2>

@* Add your name to the bottom of the list like so: *@
@* <p>YOUR NAME</p> *@

<div class="text-center">
    <p>Raquel Rulli</p>
    <p>Drew Slone</p>
    <p>Emily-Maud Morris</p>
    <p>Kevin McCrea</p>
</div>