@model TheatreCMS3.Areas.Prod.Models.CastMember

@{
  ViewBag.Title = "Delete";
  Layout = "~/Areas/Prod/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<h3 style="text-align: center;">Delete this Cast Member?</h3>
<br />
<div class="cm-delete">
  <dl class="dl-horizontal">
    <br /><br />

    <dd>
      <h2>@Html.DisplayFor(model => model.Name)</h2>
    </dd>
  </dl>

  @using (Html.BeginForm())
  {
    @Html.AntiForgeryToken()

    <div class="form-actions d-flex justify-content-center">
      <button type="submit" class="btn castBtn"><i class="fas fa-user-minus cm-fas"> </i>Delete</button>
      @*<input type="submit" value="Delete" class="btn castBtn" />*@
    </div>
  }

</div>
<br />

<div class="cm-btn-div">
  <a href='@Url.Action("Index", "CastMembers")'>
    <button class="cm-btn cm-btn-edit"><i class="fas fa-long-arrow-alt-left cm-fas"> </i>Back to List</button>
  </a>

  <a href='@Url.Action("Edit", "CastMembers", new { id = Model.CastMemberId })'>
    <button class="cm-btn cm-btn-edit"><i class="fas fa-user-edit cm-fas"> </i>Edit</button>
  </a>
</div>
<br />