@model IEnumerable<TheatreCMS3.Areas.Prod.Models.CastMember>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class=" btn CastMembers-CreateEdit--CreateBtn">
    @Html.ActionLink("Create New", "Create")
</div>


@foreach (var item in Model)
{
   
    string text = "";
    if (item.Photo != null)
    {
        text = @Convert.ToBase64String(item.Photo);
    }
    <div class="CastMembers-Index--ProductionTitle">Aladdin</div>
    <div class="card" style="width: 18rem;">
        <img src="data:image/jpeg;base64,@text" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
   
    <div class="CastMembers-Index--ProductionTitle">BeetleJuice</div>